.root {
  padding: calc(var(--ui-unit-x1) - 1px) calc(var(--ui-unit-x2) - 1px);
  /* TODO: Min width equals to height, can we have a non-private variable solution here? */
  min-width: calc(var(--ui-line-height-caption-1) + var(--ui-unit-x1) * 2);
  display: inline-flex;
  justify-content: center;
  vertical-align: top;
  border-radius: var(--ui-unit-radius-small);
  background: var(--ui-color-background-neutral);
  border: 1px solid var(--ui-color-background-neutral);
  color: var(--ui-color-foreground-neutral);
  box-sizing: border-box;
  /* GPU for container positioning */
  backface-visibility: hidden;
  transition: var(--ui-duration-medium) var(--ui-easing-standard);
  transition-property: transform, opacity;
}

.root.--variant {
  &-faded {
    background: var(--ui-color-background-neutral-faded);
    border-color: var(--ui-color-background-neutral-faded);
    color: var(--ui-color-foreground-neutral-faded);
  }

  &-outline {
    background: none;
    border-color: var(--ui-color-border-neutral);
  }
}

.root.--color-positive {
  background: var(--ui-color-background-positive);
  color: var(--ui-color-on-background-positive);
  border-color: var(--ui-color-background-positive);

  &.--variant {
    &-faded {
      background: var(--ui-color-background-positive-faded);
      border-color: var(--ui-color-background-positive-faded);
      color: var(--ui-color-foreground-positive);
    }

    &-outline {
      background: none;
      border-color: var(--ui-color-border-positive);
      color: var(--ui-color-foreground-positive);
    }
  }
}

.root.--color-critical {
  background: var(--ui-color-background-critical);
  color: var(--ui-color-on-background-critical);
  border-color: var(--ui-color-background-critical);

  &.--variant {
    &-faded {
      background: var(--ui-color-background-critical-faded);
      border-color: var(--ui-color-background-critical-faded);
      color: var(--ui-color-foreground-critical);
    }

    &-outline {
      background: none;
      border-color: var(--ui-color-border-critical);
      color: var(--ui-color-foreground-critical);
    }
  }
}

.root.--color-primary {
  background: var(--ui-color-background-primary);
  color: var(--ui-color-on-background-primary);
  border-color: var(--ui-color-background-primary);

  &.--variant {
    &-faded {
      background: var(--ui-color-background-primary-faded);
      border-color: var(--ui-color-background-primary-faded);
      color: var(--ui-color-foreground-primary);
    }

    &-outline {
      background: none;
      border-color: var(--ui-color-border-primary);
      color: var(--ui-color-foreground-primary);
    }
  }
}

.root.--size-small {
  padding: 0 var(--ui-unit-x1);
  min-width: calc(var(--ui-line-height-caption-1) + 2px);
}

.root.--rounded {
  /* Hack to achieve rounded corners */
  border-radius: 999px;
}

.root:empty {
  width: var(--ui-unit-x3);
  height: var(--ui-unit-x3);
  min-width: auto;
  padding: 0;
}

.root.--size-small:empty {
  width: var(--ui-unit-x2);
  height: var(--ui-unit-x2);
}

.root.--hidden {
  transform: scale(0.2);
  opacity: 0;
}

/* Container */

.container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.container .root {
  position: absolute;
  z-index: 10;
  inset-inline-end: 0;
  transform: translate(50%, var(--_t)) scale(1);

  &.--hidden {
    transform: translate(50%, var(--_t)) scale(0.2);
  }

  [dir="rtl"] & {
    transform: translate(-50%, var(--_t)) scale(1);

    &.--hidden {
      transform: translate(-50%, var(--_t)) scale(0.2);
    }
  }
}

.--container-overlap .root {
  inset-inline-end: 14%;
}

.--container-position-top-end {
  & .root {
    --_t: -50%;
    top: 0;
  }

  &.--container-overlap .root {
    top: 14%;
  }
}

.--container-position-bottom-end {
  & .root {
    --_t: 50%;
    bottom: 0;
  }

  &.--container-overlap .root {
    bottom: 14%;
  }
}
