.root {
  background: var(--rs-color-background-page);
  background-image: url(/img/landing/source/bg.jpg);
  background-repeat: no-repeat;
  background-size: 180%;
  padding: calc(var(--rs-unit-x1) * 36) 0 calc(var(--rs-unit-x1) * 4);
  border-top: 1px solid var(--rs-color-border-neutral-faded);
}

.test {
  height: auto;
  width: 100%;
  position: relative;
  top: -44px;
  margin-bottom: -40px;
}

.users {
  width: 100%;
  position: relative;
  margin-bottom: -60px;
}

@media (--rs-viewport-l) {
  .root {
    padding: calc(var(--rs-unit-x1) * 74) 0 calc(var(--rs-unit-x1) * 38);
    background-size: contain;
  }

  .test {
    height: 230px;
    margin-bottom: 0;
  }
}