[data-rs-theme="uicapsule-light"],
[data-rs-theme="uicapsule-dark"] {
  --ui-font-family-display: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  --ui-font-family-body: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  --ui-font-weight-regular: 400;
  --ui-font-weight-medium: 500;
  --ui-font-weight-bold: 700;
  --ui-font-weight-heavy: 800;
  --ui-font-weight-black: 900;
  --ui-font-size-display-1: 40px;
  --ui-line-height-display-1: 48px;
  --ui-font-family-display-1: var(--ui-font-family-display);
  --ui-font-weight-display-1: var(--ui-font-weight-heavy);
  --ui-font-size-display-1-m: 64px;
  --ui-line-height-display-1-m: 76px;
  --ui-font-family-display-1-m: var(--ui-font-family-display);
  --ui-font-weight-display-1-m: var(--ui-font-weight-heavy);
  --ui-font-size-display-1-l: 84px;
  --ui-line-height-display-1-l: 96px;
  --ui-font-family-display-1-l: var(--ui-font-family-display);
  --ui-font-weight-display-1-l: var(--ui-font-weight-heavy);
  --ui-font-size-display-1-xl: 96px;
  --ui-line-height-display-1-xl: 112px;
  --ui-font-family-display-1-xl: var(--ui-font-family-display);
  --ui-font-weight-display-1-xl: var(--ui-font-weight-heavy);
  --ui-font-size-display-2: 36px;
  --ui-line-height-display-2: 44px;
  --ui-font-family-display-2: var(--ui-font-family-display);
  --ui-font-weight-display-2: var(--ui-font-weight-heavy);
  --ui-font-size-display-2-m: 48px;
  --ui-line-height-display-2-m: 56px;
  --ui-font-family-display-2-m: var(--ui-font-family-display);
  --ui-font-weight-display-2-m: var(--ui-font-weight-heavy);
  --ui-font-size-display-2-l: 56px;
  --ui-line-height-display-2-l: 64px;
  --ui-font-family-display-2-l: var(--ui-font-family-display);
  --ui-font-weight-display-2-l: var(--ui-font-weight-heavy);
  --ui-font-size-display-2-xl: 64px;
  --ui-line-height-display-2-xl: 72px;
  --ui-font-family-display-2-xl: var(--ui-font-family-display);
  --ui-font-weight-display-2-xl: var(--ui-font-weight-heavy);
  --ui-font-size-display-3: 32px;
  --ui-line-height-display-3: 36px;
  --ui-font-family-display-3: var(--ui-font-family-display);
  --ui-font-weight-display-3: var(--ui-font-weight-heavy);
  --ui-font-size-display-3-m: 36px;
  --ui-line-height-display-3-m: 48px;
  --ui-font-family-display-3-m: var(--ui-font-family-display);
  --ui-font-weight-display-3-m: var(--ui-font-weight-heavy);
  --ui-font-size-display-3-l: 44px;
  --ui-line-height-display-3-l: 52px;
  --ui-font-family-display-3-l: var(--ui-font-family-display);
  --ui-font-weight-display-3-l: var(--ui-font-weight-heavy);
  --ui-font-size-display-3-xl: 48px;
  --ui-line-height-display-3-xl: 56px;
  --ui-font-family-display-3-xl: var(--ui-font-family-display);
  --ui-font-weight-display-3-xl: var(--ui-font-weight-heavy);
  --ui-font-size-title-1: 24px;
  --ui-line-height-title-1: 32px;
  --ui-font-family-title-1: var(--ui-font-family-body);
  --ui-font-weight-title-1: var(--ui-font-weight-bold);
  --ui-font-size-title-1-m: 24px;
  --ui-line-height-title-1-m: 32px;
  --ui-font-family-title-1-m: var(--ui-font-family-body);
  --ui-font-weight-title-1-m: var(--ui-font-weight-bold);
  --ui-font-size-title-1-l: 32px;
  --ui-line-height-title-1-l: 40px;
  --ui-font-family-title-1-l: var(--ui-font-family-body);
  --ui-font-weight-title-1-l: var(--ui-font-weight-bold);
  --ui-font-size-title-1-xl: 32px;
  --ui-line-height-title-1-xl: 40px;
  --ui-font-family-title-1-xl: var(--ui-font-family-body);
  --ui-font-weight-title-1-xl: var(--ui-font-weight-bold);
  --ui-font-size-title-2: 20px;
  --ui-line-height-title-2: 28px;
  --ui-font-family-title-2: var(--ui-font-family-body);
  --ui-font-weight-title-2: var(--ui-font-weight-bold);
  --ui-font-size-title-2-m: 20px;
  --ui-line-height-title-2-m: 28px;
  --ui-font-family-title-2-m: var(--ui-font-family-body);
  --ui-font-weight-title-2-m: var(--ui-font-weight-bold);
  --ui-font-size-title-2-l: 24px;
  --ui-line-height-title-2-l: 32px;
  --ui-font-family-title-2-l: var(--ui-font-family-body);
  --ui-font-weight-title-2-l: var(--ui-font-weight-bold);
  --ui-font-size-title-2-xl: 24px;
  --ui-line-height-title-2-xl: 32px;
  --ui-font-family-title-2-xl: var(--ui-font-family-body);
  --ui-font-weight-title-2-xl: var(--ui-font-weight-bold);
  --ui-font-size-title-3: 18px;
  --ui-line-height-title-3: 24px;
  --ui-font-family-title-3: var(--ui-font-family-body);
  --ui-font-weight-title-3: var(--ui-font-weight-bold);
  --ui-font-size-title-3-m: 18px;
  --ui-line-height-title-3-m: 24px;
  --ui-font-family-title-3-m: var(--ui-font-family-body);
  --ui-font-weight-title-3-m: var(--ui-font-weight-bold);
  --ui-font-size-title-3-l: 20px;
  --ui-line-height-title-3-l: 28px;
  --ui-font-family-title-3-l: var(--ui-font-family-body);
  --ui-font-weight-title-3-l: var(--ui-font-weight-bold);
  --ui-font-size-title-3-xl: 20px;
  --ui-line-height-title-3-xl: 28px;
  --ui-font-family-title-3-xl: var(--ui-font-family-body);
  --ui-font-weight-title-3-xl: var(--ui-font-weight-bold);
  --ui-font-size-featured-1: 24px;
  --ui-line-height-featured-1: 32px;
  --ui-font-family-featured-1: var(--ui-font-family-display);
  --ui-font-weight-featured-1: var(--ui-font-weight-regular);
  --ui-font-size-featured-1-m: 24px;
  --ui-line-height-featured-1-m: 32px;
  --ui-font-family-featured-1-m: var(--ui-font-family-display);
  --ui-font-weight-featured-1-m: var(--ui-font-weight-regular);
  --ui-font-size-featured-1-l: 32px;
  --ui-line-height-featured-1-l: 40px;
  --ui-font-family-featured-1-l: var(--ui-font-family-display);
  --ui-font-weight-featured-1-l: var(--ui-font-weight-regular);
  --ui-font-size-featured-1-xl: 32px;
  --ui-line-height-featured-1-xl: 40px;
  --ui-font-family-featured-1-xl: var(--ui-font-family-display);
  --ui-font-weight-featured-1-xl: var(--ui-font-weight-regular);
  --ui-font-size-featured-2: 20px;
  --ui-line-height-featured-2: 28px;
  --ui-font-family-featured-2: var(--ui-font-family-display);
  --ui-font-weight-featured-2: var(--ui-font-weight-regular);
  --ui-font-size-featured-2-m: 20px;
  --ui-line-height-featured-2-m: 28px;
  --ui-font-family-featured-2-m: var(--ui-font-family-display);
  --ui-font-weight-featured-2-m: var(--ui-font-weight-regular);
  --ui-font-size-featured-2-l: 24px;
  --ui-line-height-featured-2-l: 32px;
  --ui-font-family-featured-2-l: var(--ui-font-family-display);
  --ui-font-weight-featured-2-l: var(--ui-font-weight-regular);
  --ui-font-size-featured-2-xl: 24px;
  --ui-line-height-featured-2-xl: 32px;
  --ui-font-family-featured-2-xl: var(--ui-font-family-display);
  --ui-font-weight-featured-2-xl: var(--ui-font-weight-regular);
  --ui-font-size-featured-3: 18px;
  --ui-line-height-featured-3: 24px;
  --ui-font-family-featured-3: var(--ui-font-family-display);
  --ui-font-weight-featured-3: var(--ui-font-weight-regular);
  --ui-font-size-featured-3-m: 18px;
  --ui-line-height-featured-3-m: 24px;
  --ui-font-family-featured-3-m: var(--ui-font-family-display);
  --ui-font-weight-featured-3-m: var(--ui-font-weight-regular);
  --ui-font-size-featured-3-l: 20px;
  --ui-line-height-featured-3-l: 28px;
  --ui-font-family-featured-3-l: var(--ui-font-family-display);
  --ui-font-weight-featured-3-l: var(--ui-font-weight-regular);
  --ui-font-size-featured-3-xl: 20px;
  --ui-line-height-featured-3-xl: 28px;
  --ui-font-family-featured-3-xl: var(--ui-font-family-display);
  --ui-font-weight-featured-3-xl: var(--ui-font-weight-regular);
  --ui-font-size-body-strong-1: 16px;
  --ui-line-height-body-strong-1: 24px;
  --ui-font-family-body-strong-1: var(--ui-font-family-body);
  --ui-font-weight-body-strong-1: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-1-m: 16px;
  --ui-line-height-body-strong-1-m: 24px;
  --ui-font-family-body-strong-1-m: var(--ui-font-family-body);
  --ui-font-weight-body-strong-1-m: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-1-l: 16px;
  --ui-line-height-body-strong-1-l: 24px;
  --ui-font-family-body-strong-1-l: var(--ui-font-family-body);
  --ui-font-weight-body-strong-1-l: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-1-xl: 16px;
  --ui-line-height-body-strong-1-xl: 24px;
  --ui-font-family-body-strong-1-xl: var(--ui-font-family-body);
  --ui-font-weight-body-strong-1-xl: var(--ui-font-weight-bold);
  --ui-font-size-body-medium-1: 16px;
  --ui-line-height-body-medium-1: 24px;
  --ui-font-family-body-medium-1: var(--ui-font-family-body);
  --ui-font-weight-body-medium-1: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-1-m: 16px;
  --ui-line-height-body-medium-1-m: 24px;
  --ui-font-family-body-medium-1-m: var(--ui-font-family-body);
  --ui-font-weight-body-medium-1-m: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-1-l: 16px;
  --ui-line-height-body-medium-1-l: 24px;
  --ui-font-family-body-medium-1-l: var(--ui-font-family-body);
  --ui-font-weight-body-medium-1-l: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-1-xl: 16px;
  --ui-line-height-body-medium-1-xl: 24px;
  --ui-font-family-body-medium-1-xl: var(--ui-font-family-body);
  --ui-font-weight-body-medium-1-xl: var(--ui-font-weight-medium);
  --ui-font-size-body-1: 16px;
  --ui-line-height-body-1: 24px;
  --ui-font-family-body-1: var(--ui-font-family-body);
  --ui-font-weight-body-1: var(--ui-font-weight-regular);
  --ui-font-size-body-1-m: 16px;
  --ui-line-height-body-1-m: 24px;
  --ui-font-family-body-1-m: var(--ui-font-family-body);
  --ui-font-weight-body-1-m: var(--ui-font-weight-regular);
  --ui-font-size-body-1-l: 16px;
  --ui-line-height-body-1-l: 24px;
  --ui-font-family-body-1-l: var(--ui-font-family-body);
  --ui-font-weight-body-1-l: var(--ui-font-weight-regular);
  --ui-font-size-body-1-xl: 16px;
  --ui-line-height-body-1-xl: 24px;
  --ui-font-family-body-1-xl: var(--ui-font-family-body);
  --ui-font-weight-body-1-xl: var(--ui-font-weight-regular);
  --ui-font-size-body-strong-2: 14px;
  --ui-line-height-body-strong-2: 20px;
  --ui-font-family-body-strong-2: var(--ui-font-family-body);
  --ui-font-weight-body-strong-2: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-2-m: 14px;
  --ui-line-height-body-strong-2-m: 20px;
  --ui-font-family-body-strong-2-m: var(--ui-font-family-body);
  --ui-font-weight-body-strong-2-m: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-2-l: 14px;
  --ui-line-height-body-strong-2-l: 20px;
  --ui-font-family-body-strong-2-l: var(--ui-font-family-body);
  --ui-font-weight-body-strong-2-l: var(--ui-font-weight-bold);
  --ui-font-size-body-strong-2-xl: 14px;
  --ui-line-height-body-strong-2-xl: 20px;
  --ui-font-family-body-strong-2-xl: var(--ui-font-family-body);
  --ui-font-weight-body-strong-2-xl: var(--ui-font-weight-bold);
  --ui-font-size-body-medium-2: 14px;
  --ui-line-height-body-medium-2: 20px;
  --ui-font-family-body-medium-2: var(--ui-font-family-body);
  --ui-font-weight-body-medium-2: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-2-m: 14px;
  --ui-line-height-body-medium-2-m: 20px;
  --ui-font-family-body-medium-2-m: var(--ui-font-family-body);
  --ui-font-weight-body-medium-2-m: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-2-l: 14px;
  --ui-line-height-body-medium-2-l: 20px;
  --ui-font-family-body-medium-2-l: var(--ui-font-family-body);
  --ui-font-weight-body-medium-2-l: var(--ui-font-weight-medium);
  --ui-font-size-body-medium-2-xl: 14px;
  --ui-line-height-body-medium-2-xl: 20px;
  --ui-font-family-body-medium-2-xl: var(--ui-font-family-body);
  --ui-font-weight-body-medium-2-xl: var(--ui-font-weight-medium);
  --ui-font-size-body-2: 14px;
  --ui-line-height-body-2: 20px;
  --ui-font-family-body-2: var(--ui-font-family-body);
  --ui-font-weight-body-2: var(--ui-font-weight-regular);
  --ui-font-size-body-2-m: 14px;
  --ui-line-height-body-2-m: 20px;
  --ui-font-family-body-2-m: var(--ui-font-family-body);
  --ui-font-weight-body-2-m: var(--ui-font-weight-regular);
  --ui-font-size-body-2-l: 14px;
  --ui-line-height-body-2-l: 20px;
  --ui-font-family-body-2-l: var(--ui-font-family-body);
  --ui-font-weight-body-2-l: var(--ui-font-weight-regular);
  --ui-font-size-body-2-xl: 14px;
  --ui-line-height-body-2-xl: 20px;
  --ui-font-family-body-2-xl: var(--ui-font-family-body);
  --ui-font-weight-body-2-xl: var(--ui-font-weight-regular);
  --ui-font-size-caption-1: 12px;
  --ui-line-height-caption-1: 16px;
  --ui-font-family-caption-1: var(--ui-font-family-body);
  --ui-font-weight-caption-1: var(--ui-font-weight-regular);
  --ui-font-size-caption-1-m: 12px;
  --ui-line-height-caption-1-m: 16px;
  --ui-font-family-caption-1-m: var(--ui-font-family-body);
  --ui-font-weight-caption-1-m: var(--ui-font-weight-regular);
  --ui-font-size-caption-1-l: 12px;
  --ui-line-height-caption-1-l: 16px;
  --ui-font-family-caption-1-l: var(--ui-font-family-body);
  --ui-font-weight-caption-1-l: var(--ui-font-weight-regular);
  --ui-font-size-caption-1-xl: 12px;
  --ui-line-height-caption-1-xl: 16px;
  --ui-font-family-caption-1-xl: var(--ui-font-family-body);
  --ui-font-weight-caption-1-xl: var(--ui-font-weight-regular);
  --ui-font-size-caption-2: 10px;
  --ui-line-height-caption-2: 16px;
  --ui-font-family-caption-2: var(--ui-font-family-body);
  --ui-font-weight-caption-2: var(--ui-font-weight-bold);
  --ui-font-size-caption-2-m: 10px;
  --ui-line-height-caption-2-m: 16px;
  --ui-font-family-caption-2-m: var(--ui-font-family-body);
  --ui-font-weight-caption-2-m: var(--ui-font-weight-bold);
  --ui-font-size-caption-2-l: 10px;
  --ui-line-height-caption-2-l: 16px;
  --ui-font-family-caption-2-l: var(--ui-font-family-body);
  --ui-font-weight-caption-2-l: var(--ui-font-weight-bold);
  --ui-font-size-caption-2-xl: 10px;
  --ui-line-height-caption-2-xl: 16px;
  --ui-font-family-caption-2-xl: var(--ui-font-family-body);
  --ui-font-weight-caption-2-xl: var(--ui-font-weight-bold);
  --ui-unit-base: 4px;
  --ui-unit-radius-small: 4px;
  --ui-unit-radius-medium: 8px;
  --ui-unit-radius-large: 12px;
  --ui-unit-x1: 4px;
  --ui-unit-x2: 8px;
  --ui-unit-x3: 12px;
  --ui-unit-x4: 16px;
  --ui-unit-x5: 20px;
  --ui-unit-x6: 24px;
  --ui-unit-x7: 28px;
  --ui-unit-x8: 32px;
  --ui-unit-x9: 36px;
  --ui-unit-x10: 40px;
  --ui-color-background-primary: #5a58f2;
  --ui-color-background-primary-highlighted: #7371f4;
  --ui-color-background-positive: #078549;
  --ui-color-background-positive-highlighted: #009950;
  --ui-color-background-critical: #da0000;
  --ui-color-background-critical-highlighted: #e93535;
  --ui-color-black: #000000;
  --ui-color-white: #ffffff;
  --ui-color-on-background-primary: #fff;
  --ui-color-rgb-background-primary: 90, 88, 242;
  --ui-color-on-background-primary-highlighted: #fff;
  --ui-color-rgb-background-primary-highlighted: 115, 113, 244;
  --ui-color-on-background-positive: #fff;
  --ui-color-rgb-background-positive: 7, 133, 73;
  --ui-color-on-background-positive-highlighted: #fff;
  --ui-color-rgb-background-positive-highlighted: 0, 153, 80;
  --ui-color-on-background-critical: #fff;
  --ui-color-rgb-background-critical: 218, 0, 0;
  --ui-color-on-background-critical-highlighted: #fff;
  --ui-color-rgb-background-critical-highlighted: 233, 53, 53;
  --ui-color-rgb-black: 0, 0, 0;
  --ui-color-rgb-white: 255, 255, 255;
  --ui-duration-fast: 150ms;
  --ui-duration-medium: 250ms;
  --ui-duration-slow: 300ms;
  --ui-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --ui-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --ui-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --ui-shadow-base: 0px 2px 4px rgba(0, 0, 0, 0.12);
  --ui-shadow-elevated: 0px 15px 25px rgba(0, 0, 0, 0.07),
    0px 5px 10px rgba(0, 0, 0, 0.05);
}

[data-rs-theme="uicapsule-light"] {
  --ui-color-foreground-neutral: #14171f;
  --ui-color-foreground-neutral-faded: #3c455d;
  --ui-color-foreground-disabled: #c7cddb;
  --ui-color-foreground-primary: #4d4be7;
  --ui-color-foreground-positive: #05751f;
  --ui-color-foreground-critical: #cb101d;
  --ui-color-background-neutral: #dfe2ea;
  --ui-color-background-neutral-faded: #f4f5f7;
  --ui-color-background-neutral-highlighted: #c7cddb;
  --ui-color-background-disabled: #ebedf2;
  --ui-color-background-disabled-faded: #f4f5f7;
  --ui-color-background-primary-faded: #e8e7fd;
  --ui-color-background-positive-faded: #e6fef3;
  --ui-color-background-critical-faded: #fde7e9;
  --ui-color-border-neutral: #bbc1d3;
  --ui-color-border-neutral-faded: #dfe2ea;
  --ui-color-border-disabled: #dfe2ea;
  --ui-color-border-primary: #4d4be7;
  --ui-color-border-primary-faded: #d2d0fb;
  --ui-color-border-positive: #05751f;
  --ui-color-border-positive-faded: #cdedd5;
  --ui-color-border-critical: #cb101d;
  --ui-color-border-critical-faded: #fbd0d4;
  --ui-color-background-page: #ffffff;
  --ui-color-background-page-faded: #f8f8f8;
  --ui-color-background-base: #ffffff;
  --ui-color-background-elevated: #ffffff;
  --ui-color-on-background-neutral: #000;
  --ui-color-rgb-background-neutral: 223, 226, 234;
  --ui-color-rgb-background-neutral-faded: 244, 245, 247;
  --ui-color-on-background-neutral-highlighted: #000;
  --ui-color-rgb-background-neutral-highlighted: 199, 205, 219;
  --ui-color-rgb-background-disabled: 235, 237, 242;
  --ui-color-rgb-background-disabled-faded: 244, 245, 247;
  --ui-color-rgb-background-primary-faded: 232, 231, 253;
  --ui-color-rgb-background-positive-faded: 230, 254, 243;
  --ui-color-rgb-background-critical-faded: 253, 231, 233;
  --ui-color-rgb-background-page: 255, 255, 255;
  --ui-color-rgb-background-page-faded: 248, 248, 248;
  --ui-color-rgb-background-base: 255, 255, 255;
  --ui-color-rgb-background-elevated: 255, 255, 255;
}

[data-rs-theme="uicapsule-dark"] {
  --ui-color-foreground-neutral: #eff0f1;
  --ui-color-foreground-neutral-faded: #c1c7d7;
  --ui-color-foreground-disabled: #404a63;
  --ui-color-foreground-primary: #9d9cf7;
  --ui-color-foreground-positive: #03ab5f;
  --ui-color-foreground-critical: #eb6666;
  --ui-color-background-neutral: #30374a;
  --ui-color-background-neutral-faded: #242938;
  --ui-color-background-neutral-highlighted: #404a63;
  --ui-color-background-disabled: #282e3e;
  --ui-color-background-disabled-faded: #242938;
  --ui-color-background-primary-faded: #1c1e55;
  --ui-color-background-positive-faded: #01321c;
  --ui-color-background-critical-faded: #460c0c;
  --ui-color-border-neutral: #49536f;
  --ui-color-border-neutral-faded: #30374a;
  --ui-color-border-disabled: #30374a;
  --ui-color-border-primary: #9d9cf7;
  --ui-color-border-primary-faded: #302d8f;
  --ui-color-border-positive: #03ab5f;
  --ui-color-border-positive-faded: #034a2a;
  --ui-color-border-critical: #eb6666;
  --ui-color-border-critical-faded: #6a1c1c;
  --ui-color-background-page: #0d1117;
  --ui-color-background-page-faded: #11171f;
  --ui-color-background-base: #181c25;
  --ui-color-background-elevated: #1c212b;
  --ui-color-on-background-neutral: #fff;
  --ui-color-rgb-background-neutral: 48, 55, 74;
  --ui-color-rgb-background-neutral-faded: 36, 41, 56;
  --ui-color-on-background-neutral-highlighted: #fff;
  --ui-color-rgb-background-neutral-highlighted: 64, 74, 99;
  --ui-color-rgb-background-disabled: 40, 46, 62;
  --ui-color-rgb-background-disabled-faded: 36, 41, 56;
  --ui-color-rgb-background-primary-faded: 28, 30, 85;
  --ui-color-rgb-background-positive-faded: 1, 50, 28;
  --ui-color-rgb-background-critical-faded: 70, 12, 12;
  --ui-color-rgb-background-page: 13, 17, 23;
  --ui-color-rgb-background-page-faded: 17, 23, 31;
  --ui-color-rgb-background-base: 24, 28, 37;
  --ui-color-rgb-background-elevated: 28, 33, 43;
}
