.root {
  position: relative;
  overflow: hidden;
  /* We're using negative margins here to avoid button focus outline being cut off with overflow: hidden */
  margin: 0 calc(var(--uic-unit-x2) * -1);
  padding: 0 var(--uic-unit-x2);
  box-sizing: initial;

  /* Make sure that tab is not stretching the flex container when is in the middle of other flex children */
  /* Example is available in View.stories */
  max-width: 100%;
}

.inner {
  white-space: nowrap;
  overflow: auto;
  /* 1 */
  margin: 0 calc(var(--uic-unit-x2) * -1) -40px;
  padding: 0 var(--uic-unit-x2) 40px;
}

.list {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.inner:after {
  content: "";
  position: absolute;
  height: 1px;
  /* 1 */
  inset-inline: var(--uic-unit-x2);
  inset-block-end: 0;
  background-color: var(--uic-color-border-neutral-faded);
  z-index: 2;
}

.item {
  flex-shrink: 0;
  position: relative;

  & + .item {
    margin-inline-start: var(--uic-unit-x4);
  }
}

.button {
  width: 100%;
  /*
	Keep transform working with absolute positioned elements
	Without z-index actionable goes behind them
	*/
  z-index: 1;
  position: relative;
  overflow: hidden;
  /* Highlighting causes background animation to get cut off */
  -webkit-tap-highlight-color: transparent;

  /* 1 */
  margin: var(--uic-unit-x1) calc(var(--uic-unit-x2) * -1);
  padding: 0 var(--uic-unit-x2);
  box-sizing: initial;
  border-radius: var(--uic-unit-radius-medium);
}

.buttonContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--uic-unit-x2) 0;
  border-radius: var(--uic-unit-radius-medium);
  transition: color var(--uic-duration-fast) var(--uic-easing-standard);

  &:hover {
    color: var(--uic-color-foreground-neutral-faded);
  }
}

[data-rs-keyboard] .radio:focus + .buttonContent {
  box-shadow: var(--uic-focus-inset-shadow);
}

.icon:not(:last-child) {
  margin-inline-end: var(--uic-unit-x2);
}

.--item-active:after {
  content: "";
  inset-inline: 0;
}

.--item-active:after,
.selector {
  position: absolute;
  height: 2px;
  border-radius: calc(var(--uic-unit-radius-medium) - 1px);
  background: var(--uic-color-border-primary);
  inset-block-end: 0;
  z-index: var(--uic-z-index-elevated);
}

.selector {
  --_translate: 0;
  --_scaleX: 0;
  --_scaleY: 0;
  left: 0;
  transform-origin: 0 0;
  width: calc(var(--_scaleX) * 1px);
  /* Don't need rtl support here because calculation is happening based on the element position on screen */
  transform: translateX(calc(var(--_translate) * 1px)) translateZ(0);
}

.--selector-hidden {
  visibility: hidden;
}

.--selector-animated {
  transition: var(--uic-duration-medium) var(--uic-easing-decelerate);
  transition-property: transform, width, height;
}

.next,
.prev {
  position: absolute;
  inset-block: 0;
  display: flex;
  align-items: center;
  z-index: var(--uic-z-index-elevated);

  [dir="rtl"] & {
    transform: scaleX(-1);
  }
}

.next {
  inset-inline-end: var(--uic-unit-x1);
}

.prev {
  inset-inline-start: var(--uic-unit-x1);
}

.panel {
  outline: none;
}

[data-rs-keyboard] .panel:focus {
  box-shadow: var(--uic-focus-shadow);
}

.--panel-hidden {
  display: none;
}

.--variant-borderless .inner:after,
.--variant-pills .inner:after,
.--variant-pills-elevated .inner:after {
  content: none;
}

.--variant-pills .button,
.--variant-pills-elevated .button {
  margin: 0;
  padding: 0;
}

.--variant-pills .buttonContent,
.--variant-pills-elevated .buttonContent {
  margin: 0;
  padding: var(--uic-unit-x2) var(--uic-unit-x3);

  &:hover {
    background: none;
  }
}

.--variant-pills .item + .item,
.--variant-pills-elevated .item + .item {
  margin-inline-start: var(--uic-unit-x2);
}

.--variant-pills .--item-active:after,
.--variant-pills .selector,
.--variant-pills-elevated .--item-active:after,
.--variant-pills-elevated .selector {
  background-color: var(--uic-color-background-neutral);
  opacity: 0.6;
  z-index: 0;
  height: 100%;
}

.--variant-pills .selector,
.--variant-pills-elevated .selector {
  height: calc(var(--_scaleY) * 1px);
  transform: translateX(calc(var(--_translate) * 1px)) translateZ(0)
    translateY(-50%);
  top: 50%;
}

.--variant-pills-elevated .list {
  border-radius: var(--uic-unit-radius-medium);
  background: var(--uic-color-background-neutral-faded);
  border: 2px solid transparent;
}

.--variant-pills-elevated .--item-active:after,
.--variant-pills-elevated .selector {
  opacity: 1;
  background: var(--uic-color-background-base);
  border: 1px solid var(--uic-color-border-neutral-faded);
  box-shadow: var(--uic-shadow-base);
  box-sizing: border-box;
}

.--item-width-equal {
  max-width: none;
}

.--item-width-equal .inner {
  flex-wrap: wrap;
}

.--item-width-equal .list {
  display: flex;
}

.--item-width-equal .item {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
}

[dir="rtl"] .--cut-off-start .inner,
.--cut-off-end .inner {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

[dir="rtl"] .--cut-off-end .inner,
.--cut-off-start .inner {
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.--cut-off-both .inner {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.1) 5%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (--uic-viewport-s) {
  .next,
  .prev {
    display: none;
  }
}
