.content {
  overflow: hidden;
  height: 0;
}

.content--animated {
  /*
  Using standard timing function here to have the same transition curve when animating multiple items together
  */
  transition: height var(--ui-duration-slow) var(--ui-easing-standard);
}

.icon {
  transition: transform var(--ui-duration-fast) var(--ui-easing-standard);
}

.icon--active {
  transform: rotate(180deg);
}
