.root {
	--rs-focus-shadow: 
		0 0 0 2px var(--rs-color-background-base),
		0 0 0 4px var(--rs-color-border-primary);
	--rs-focus-inset-shadow:
		inset 0 0 0 2px var(--rs-color-border-primary),
		inset 0 0 0 4px var(--rs-color-background-base);

	color: var(--rs-color-foreground-neutral);
}

