.root {
  --uic-focus-shadow: 0 0 0 2px var(--uic-color-background-base),
    0 0 0 4px var(--uic-color-border-primary);
  --uic-focus-inset-shadow: inset 0 0 0 2px var(--uic-color-border-primary),
    inset 0 0 0 4px var(--uic-color-background-base);

  color: var(--uic-color-foreground-neutral);
}
