.root {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.root:hover .input:not(:checked) + .decorator {
  background: var(--uic-color-background-neutral-faded);
}

.field {
  position: relative;
}

.decorator {
  width: var(--uic-unit-x5);
  height: var(--uic-unit-x5);
  border-radius: 50%;
  border: 1px solid var(--uic-color-border-neutral);
  background: var(--uic-color-background-base);

  &:after {
    content: "";
    position: absolute;
    height: var(--uic-unit-x2);
    width: var(--uic-unit-x2);
    background: var(--uic-color-on-background-primary);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

[data-rs-keyboard] .input:focus + .decorator {
  box-shadow: var(--uic-focus-shadow);
}

.input:checked + .decorator,
.root.--error .input:checked + .decorator,
.root.--error:hover .input:checked + .decorator {
  border-width: 2px;
  border-color: var(--uic-color-background-primary);
  background: var(--uic-color-background-primary);

  &:after {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.text {
  margin-inline-start: var(--uic-unit-x2);
}

.root.--error {
  & .decorator,
  &:hover .input + .decorator {
    border-color: var(--uic-color-border-critical);
  }
}

.root.--disabled {
  cursor: not-allowed;
  color: var(--uic-color-foreground-disabled);

  & .decorator,
  & .input:checked + .decorator,
  &:hover .input + .decorator {
    background: var(--uic-color-background-disabled-faded);
    border-color: var(--uic-color-border-disabled);
  }

  & .input:checked + .decorator {
    border-color: transparent;
  }

  & .input:checked + .decorator:after {
    background: var(--uic-color-border-disabled);
  }
}
