.menu {
  padding: var(--uic-unit-x1);
}

.section + .section {
  margin-top: var(--uic-unit-x1);
  padding-top: var(--uic-unit-x1);
  border-top: 1px solid var(--uic-color-border-neutral-faded);
}

.item + .item {
  margin-top: var(--uic-unit-x1);
}

[dir="rtl"] .arrow {
  transform: scaleX(-1);
}
