[data-uic-theme="twitter"][data-uic-color-mode="light"],
[data-uic-theme="twitter"][data-uic-color-mode="dark"] {
  --uic-color-background-primary: #1da1f2;
  --uic-color-background-primary-highlighted: #1a90da;
  --uic-color-on-background-primary: #ffffff;
  --uic-color-rgb-background-primary: 29, 161, 242;
  --uic-color-rgb-background-primary-highlighted: 26, 144, 218;
}

[data-uic-theme="twitter"][data-uic-color-mode="light"] {
}

[data-uic-theme="twitter"][data-uic-color-mode="dark"] {
}
