.root {
  background: var(--uic-color-background-base);
  padding: var(--uic-unit-x3) var(--uic-unit-x4);
}

.--position {
  &-bottom {
    border-top: 1px solid var(--uic-color-border-neutral-faded);
  }

  &-top {
    border-bottom: 1px solid var(--uic-color-border-neutral-faded);
  }
}

@media (--uic-viewport-l) {
  .--size-large {
    padding: var(--uic-unit-x5) var(--uic-unit-x6);
  }
}
