.root {
  background: var(--uic-color-background-elevation-base);
  position: relative;
}

.--position {
  &-bottom {
    border-top: 1px solid var(--uic-color-border-neutral-faded);
  }

  &-top {
    border-bottom: 1px solid var(--uic-color-border-neutral-faded);
  }
}

.--elevated {
  border: none;
  overflow-x: clip;
  background-color: var(--uic-color-background-elevation-raised);
}

.--elevated::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  box-shadow: var(--uic-shadow-raised);

  .--position-bottom& {
    transform: rotateX(180deg);
  }
}
