body {
	-webkit-text-size-adjust: none;
}

.grid {
	height: 80vh;
	min-height: 500px;
	align-items: center;
}

.section {
	padding: calc(var(--rs-unit-x10) * 4) 0;
}

.section + .section {
	padding-top: calc(var(--rs-unit-x10) * 2);
}


@media (--rs-viewport-m) {
	.section:not(:last-child) {
		width: 65%;
		margin: 0 auto;
		text-align: center;
	}
}

@media (--rs-viewport-l) {
	.section:not(:last-child) {
		width: 100%;
		text-align: start;
	}
}
