:root {
  --rs-z-index-elevated: 5;
  --rs-z-index-flyout: 80;
  --rs-z-index-fixed: 90;
  --rs-z-index-backdrop: 100;
  --rs-z-index-notification: 110;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

[data-uicapsule-no-transition] *,
[data-uicapsule-no-transition] *:before,
[data-uicapsule-no-transition] *:after {
  transition: none !important;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder {
  color: var(--rs-color-foreground-neutral);
  opacity: 0.8;
}

html {
  height: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering */
  text-rendering: optimizeLegibility;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#values */
  touch-action: manipulation;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--rs-color-foreground-neutral);
  background: var(--rs-color-background-page);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--rs-font-size-body-2);
  line-height: var(--rs-line-height-body-2);
  font-family: var(--rs-font-family-body-2);
  font-weight: var(--rs-font-weight-body-2);
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: var(--rs-color-foreground-primary);

  &:hover {
    text-decoration: none;
  }
}
