.code {
  box-shadow: var(--uic-shadow-elevated);
}

.bundle {
  position: relative;
  padding: var(--uic-unit-x6) var(--uic-unit-x5) var(--uic-unit-x1) 0;
  z-index: 5;
}

.bundle:before {
  content: "";
  position: absolute;
  width: 290px;
  height: 160px;
  border: 3px dotted var(--uic-color-border-primary);
  top: 0;
  inset-inline-start: 140px;
  border-radius: var(--uic-unit-radius-medium);
  z-index: -1;
}

.developer {
  position: absolute;
  top: calc(var(--uic-unit-x1) * 10);
  inset-inline-start: 100px;
  transform: scale(1.1);
  transform-origin: 0 0;
  animation: cursor 20s infinite;
}

.designer {
  position: absolute;
  top: calc(var(--uic-unit-x1) * 13);
  inset-inline-start: 240px;
  z-index: 10;
  transform: scale(1.1);
  transform-origin: 0 0;
  animation: cursor 20s infinite;
  animation-delay: -10.8s;
}

@keyframes cursor {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  10% {
    transform: scale(1.1) translate(8px, 12px);
  }
  20% {
    transform: scale(1.1) translate(-4px, 8px);
  }
  30% {
    transform: scale(1.1) translate(12px, -8px);
  }
  40% {
    transform: scale(1.1) translate(-12px, 8px);
  }
  50% {
    transform: scale(1.1) translate(8px, 12px);
  }
  60% {
    transform: scale(1.1) translate(4px, -12px);
  }
  70% {
    transform: scale(1.1) translate(-12px, 8px);
  }
  80% {
    transform: scale(1.1) translate(8px, 12px);
  }
  90% {
    transform: scale(1.1) translate(4px, -8px);
  }
  100% {
    transform: scale(1.1) translate(0, 0);
  }
}

@media (--uic-viewport-l) {
  .designer {
    inset-inline-start: 320px;
    top: calc(var(--uic-unit-x1) * 15);
  }
}
