.root {
  gap: var(--ui-view-gap);
  height: var(--ui-view-height);
  max-width: var(--ui-view-max-width);
  max-height: var(--ui-view-max-height);
  margin-left: calc(var(--ui-unit-x1) * var(--ui-view-bleed) * -1);
  margin-right: calc(var(--ui-unit-x1) * var(--ui-view-bleed) * -1);
}

.item {
  order: var(--ui-view-item-order);
}

.--padding {
  padding: calc(var(--ui-unit-x1) * var(--ui-view-padding-top))
    calc(var(--ui-unit-x1) * var(--ui-view-padding-start));
}

.--padding-top {
  padding-top: calc(var(--ui-unit-x1) * var(--ui-view-padding-top));
}

.--padding-bottom {
  padding-bottom: calc(var(--ui-unit-x1) * var(--ui-view-padding-bottom));
}

.--padding-start {
  padding-inline-start: calc(var(--ui-unit-x1) * var(--ui-view-padding-start));
}

.--padding-end {
  padding-inline-end: calc(var(--ui-unit-x1) * var(--ui-view-padding-end));
}

/* Enable width as a separate modifier because negative margin-right doesn't work correctly when width is defined */
.--width {
  width: var(--ui-view-width);
}

.--animated {
  transition: var(--ui-duration-medium) var(--ui-easing-standard);
  transition-property: background-color, color, border-color;
}

@each $alignment in start, center, end {
  .--align-text-$alignment {
    text-align: $alignment;
  }
}

@each $color in neutral, neutral-faded, positive-faded, critical-faded,
  primary-faded, page, page-faded, base, elevated
{
  .--bg-$color {
    background-color: var(--ui-color-background-$color);
  }
}

.--bg-white {
  background-color: var(--ui-color-white);
  color: var(--ui-color-black);
}

.--bg-black {
  background-color: var(--ui-color-black);
  color: var(--ui-color-white);
}

.--bg-positive {
  background-color: var(--ui-color-background-positive);
  color: var(--ui-color-on-background-positive);
}

.--bg-critical {
  background-color: var(--ui-color-background-critical);
  color: var(--ui-color-on-background-critical);
}

.--bg-primary {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-on-background-primary);
}

.--shadow-base {
  box-shadow: var(--ui-shadow-base);
}

.--shadow-elevated {
  box-shadow: var(--ui-shadow-elevated);
}

.--bd {
  border: 1px solid var(--ui-view-border-color);
}

@each $color in neutral-faded, neutral, positive, positive-faded, critical,
  critical-faded, primary, primary-faded
{
  .--bd-$color {
    --ui-view-border-color: var(--ui-color-border-$color);
  }
}

.--bd-transparent {
  --ui-view-border-color: transparent;
}

@each $radius in small, medium, large {
  .--br-$radius {
    border-radius: var(--ui-unit-radius-$radius);
  }
}

.--overflow-hidden {
  overflow: hidden;
}

.--flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Direction */
.--direction-column,
.--direction-column-reverse {
  flex-direction: column;
  flex-wrap: nowrap;

  & > .item--gap-before {
    margin-top: var(--ui-view-item-gap);
  }

  & > .item--gap-auto {
    margin-top: auto;
  }
}

.--direction-column-reverse {
  flex-direction: column-reverse;
}

.--direction-row,
.--direction-row-reverse {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  & > .item--gap-before {
    margin-inline-start: var(--ui-view-item-gap);
  }

  & > .item--gap-auto {
    margin-inline-start: auto;
  }

  & > button {
    width: auto !important;
  }
}

.--direction-row-reverse {
  flex-direction: row-reverse;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .--direction-column--$(viewport),
    .--direction-column-reverse--$(viewport) {
      flex-direction: column;
      flex-wrap: nowrap;

      & > .item--gap-before {
        margin-inline-start: 0;
        margin-top: var(--ui-view-item-gap, 0px);
      }

      & > .item--gap-auto {
        margin-top: auto;
      }
    }

    .--direction-column-reverse--$(viewport) {
      flex-direction: column-reverse;
    }

    .--direction-row--$(viewport),
    .--direction-row-reverse--$(viewport) {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;

      & > .item--gap-before {
        margin-top: 0;
        margin-inline-start: var(--ui-view-item-gap, 0px);
      }

      & > .item--gap-auto {
        margin-inline-start: auto;
      }

      & > button {
        width: auto !important;
      }
    }

    .--direction-row-reverse--$(viewport) {
      flex-direction: row-reverse;
    }
  }
}

.--nowrap {
  flex-wrap: nowrap;

  & > * {
    flex-shrink: 0;
  }
}

.--wrap {
  flex-wrap: wrap;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .--nowrap-false--$(viewport),
    .--wrap-true--$(viewport) {
      flex-wrap: wrap;
    }

    .--nowrap-true--$(viewport),
    .--wrap-false--$(viewport) {
      flex-wrap: nowrap;
    }
  }
}

/* Alignment */
@each $name, $value in (start, center, end, stretch),
  (flex-start, center, flex-end, stretch)
{
  .--align-$(name) {
    align-items: $value;
  }

  .--justify-$(name) {
    justify-content: $value;
  }
}

.--align-baseline {
  align-items: baseline;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    @each $name, $value in (start, center, end, stretch),
      (flex-start, center, flex-end, stretch)
    {
      .--align-$(name)--$(viewport) {
        align-items: $value;
      }

      .--justify-$(name)--$(viewport) {
        justify-content: $value;
      }
    }

    .--align-baseline--$(viewport) {
      align-items: baseline;
    }
  }
}

.divider {
  align-self: stretch;
}

/* Item sizes */
.item--grow {
  flex-grow: 1;
  /* Fixes nested View with nowrap inside the grow item */
  min-width: 0;
  flex-shrink: 1;
  flex-basis: 0;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .item--grow-false--$(viewport) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }

    .item--grow-true--$(viewport) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }
  }
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .item--columns-$columns {
    --ui-view-columns-count: calc(12 / $columns);
    --ui-view-gaps-count: calc(var(--ui-view-columns-count) - 1);

    width: calc(
      (100% - var(--ui-view-gap) * var(--ui-view-gaps-count)) /
        var(--ui-view-columns-count) -
        var(--ui-view-item-gap, 0px)
    );
  }
}

.item--columns-auto {
  width: auto;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    @each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .item--columns-$(columns)--$(viewport) {
        --ui-view-columns-count: calc(12 / $columns);
        --ui-view-gaps-count: calc(var(--ui-view-columns-count) - 1);

        width: calc(
          (100% - var(--ui-view-gap) * var(--ui-view-gaps-count)) /
            var(--ui-view-columns-count) -
            var(--ui-view-item-gap, 0px)
        );
      }

      .item--columns-auto--$(viewport) {
        width: auto;
      }
    }
  }
}

.--bleed {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .--bleed-true--$(viewport) {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
    }

    .--bleed-false--$(viewport) {
      border-left-width: 1px;
      border-right-width: 1px;
      border-radius: var(--ui-unit-radius-medium);
    }
  }
}

/* Variables */
.--padding {
  /* Vertical */
  --_pv: 0;
  --_pv-m: var(--_pv);
  --_pv-l: var(--_pv-m);
  --_pv-xl: var(--_pv-l);
  --ui-view-padding-top: var(--_pv);
  --ui-view-padding-bottom: var(--_pv);

  /* Horizontal */
  --_ph: 0;
  --_ph-m: var(--_ph);
  --_ph-l: var(--_ph-m);
  --_ph-xl: var(--_ph-l);
  --ui-view-padding-start: var(--_ph);
  --ui-view-padding-end: var(--_ph);
}

.--padding-top {
  --_pt: 0;
  --_pt-m: var(--_pt);
  --_pt-l: var(--_pt-m);
  --_pt-xl: var(--_pt-l);
  --ui-view-padding-top: var(--_pt);
}

.--padding-bottom {
  --_pb: 0;
  --_pb-m: var(--_pb);
  --_pb-l: var(--_pb-m);
  --_pb-xl: var(--_pb-l);
  --ui-view-padding-bottom: var(--_pb);
}

.--padding-start {
  --_ps: 0;
  --_ps-m: var(--_ps);
  --_ps-l: var(--_ps-m);
  --_ps-xl: var(--_ps-l);
  --ui-view-padding-start: var(--_ps);
}

.--padding-end {
  --_pe: 0;
  --_pe-m: var(--_pe);
  --_pe-l: var(--_pe-m);
  --_pe-xl: var(--_pe-l);
  --ui-view-padding-end: var(--_pe);
}

.root {
  --_g: 0;
  --_g-m: var(--_g);
  --_g-l: var(--_g-m);
  --_g-xl: var(--_g-l);
  --ui-view-gap: calc(var(--ui-unit-x1) * var(--_g));

  --_h: auto;
  --_h-m: var(--_h);
  --_h-l: var(--_h-m);
  --_h-xl: var(--_h-l);
  --ui-view-height: var(--_h);

  --_h: auto;
  --_h-m: var(--_h);
  --_h-l: var(--_h-m);
  --_h-xl: var(--_h-l);
  --ui-view-height: var(--_h);

  --_w: 100%;
  --_w-m: var(--_w);
  --_w-l: var(--_w-m);
  --_w-xl: var(--_w-l);
  --ui-view-width: var(--_w);

  --_mh: none;
  --_mh-m: var(--_mh);
  --_mh-l: var(--_mh-m);
  --_mh-xl: var(--_mh-l);
  --ui-view-max-height: var(--_mh);

  --_mw: none;
  --_mw-m: var(--_mw);
  --_mw-l: var(--_mw-m);
  --_mw-xl: var(--_mw-l);
  --ui-view-max-width: var(--_mw);

  --_b: 0;
  --_b-m: var(--_b);
  --_b-l: var(--_b-m);
  --_b-xl: var(--_b-l);
  --ui-view-bleed: var(--_b);
}

.root > .item {
  --_o: 0;
  --_o-m: var(--_o);
  --_o-l: var(--_o-m);
  --_o-xl: var(--_o-l);
  --ui-view-item-order: var(--_o);
}

.root > .item--gap-before {
  --_gi: initial;
  --_gi-m: var(--_gi);
  --_gi-l: var(--_gi-m);
  --_gi-xl: var(--_gi-l);
  --ui-view-item-gap: calc(var(--ui-unit-x1) * var(--_gi) - var(--ui-view-gap));
}

@media (--ui-viewport-m) {
  .root {
    --ui-view-gap: calc(var(--ui-unit-x1) * var(--_g-m));
    --ui-view-height: var(--_h-m);
    --ui-view-width: var(--_w-m);
    --ui-view-height: var(--_h-m);
    --ui-view-max-width: var(--_mw-m);
    --ui-view-max-height: var(--_mh-m);
    --ui-view-bleed: var(--_b-m);
  }

  .root.--padding--m {
    --ui-view-padding-top: var(--_pv-m);
    --ui-view-padding-bottom: var(--_pv-m);
    --ui-view-padding-start: var(--_ph-m);
    --ui-view-padding-end: var(--_ph-m);
  }

  .root.--padding-top--m {
    --ui-view-padding-top: var(--_pt-m);
  }

  .root.--padding-bottom--m {
    --ui-view-padding-bottom: var(--_pb-m);
  }

  .root.--padding-start--m {
    --ui-view-padding-start: var(--_ps-m);
  }

  .root.--padding-end--m {
    --ui-view-padding-end: var(--_pe-m);
  }

  .root > .item {
    --ui-view-item-order: var(--_o-m);
  }

  .root > .item--gap-before {
    --ui-view-item-gap: calc(
      var(--ui-unit-x1) * var(--_gi-m) - var(--ui-view-gap)
    );
  }
}

@media (--ui-viewport-l) {
  .root {
    --ui-view-gap: calc(var(--ui-unit-x1) * var(--_g-l));
    --ui-view-height: var(--_h-l);
    --ui-view-width: var(--_w-l);
    --ui-view-height: var(--_h-l);
    --ui-view-max-width: var(--_mw-l);
    --ui-view-max-height: var(--_mh-l);
    --ui-view-bleed: var(--_b-l);
  }

  .root.--padding--l {
    --ui-view-padding-top: var(--_pv-l);
    --ui-view-padding-bottom: var(--_pv-l);
    --ui-view-padding-start: var(--_ph-l);
    --ui-view-padding-end: var(--_ph-l);
  }

  .root.--padding-top--l {
    --ui-view-padding-top: var(--_pt-l);
  }

  .root.--padding-bottom--l {
    --ui-view-padding-bottom: var(--_pb-l);
  }

  .root.--padding-start--l {
    --ui-view-padding-start: var(--_ps-l);
  }

  .root.--padding-end--l {
    --ui-view-padding-end: var(--_pe-l);
  }

  .root > .item {
    --ui-view-item-order: var(--_o-l);
  }

  .root > .item--gap-before {
    --ui-view-item-gap: calc(
      var(--ui-unit-x1) * var(--_gi-l) - var(--ui-view-gap)
    );
  }
}

@media (--ui-viewport-xl) {
  .root {
    --ui-view-height: var(--_h-xl);
    --ui-view-gap: calc(var(--ui-unit-x1) * var(--_g-xl));
    --ui-view-width: var(--_w-xl);
    --ui-view-height: var(--_h-xl);
    --ui-view-max-width: var(--_mw-xl);
    --ui-view-max-height: var(--_mh-xl);
    --ui-view-bleed: var(--_b-xl);
  }

  .root.--padding--xl {
    --ui-view-padding-top: var(--_pv-xl);
    --ui-view-padding-bottom: var(--_pv-xl);
    --ui-view-padding-start: var(--_ph-xl);
    --ui-view-padding-end: var(--_ph-xl);
  }

  .root.--padding-top--xl {
    --ui-view-padding-top: var(--_pt-xl);
  }

  .root.--padding-bottom--xl {
    --ui-view-padding-bottom: var(--_pb-xl);
  }

  .root.--padding-start--xl {
    --ui-view-padding-start: var(--_ps-xl);
  }

  .root.--padding-end--xl {
    --ui-view-padding-end: var(--_pe-xl);
  }

  .root > .item {
    --ui-view-item-order: var(--_o-xl);
  }

  .root > .item--gap-before {
    --ui-view-item-gap: calc(
      var(--ui-unit-x1) * var(--_gi-xl) - var(--ui-view-gap)
    );
  }
}
