.root {
	/* Minus border size */
	--rs-select-padding-v: calc(var(--rs-select-padding-base) - 1px);
	--rs-select-padding-h: calc(var(--rs-select-padding-base) - 1px + var(--rs-unit-x1));

	display: flex;
	position: relative;
	z-index: 0;
	border: 1px solid var(--rs-color-border-neutral);
	overflow: hidden;
	min-height: var(--rs-select-min-height);
	background: var(--rs-color-background-base);

	&:focus-within {
		border-color: var(--rs-color-border-primary);
		box-shadow: 0 0 0 1px var(--rs-color-border-primary);
	}
}

.input {
	border: 0;
	outline: none;
	position: relative;
	background: none;
	z-index: 1;
	background: none;
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	color: var(--rs-color-foreground-neutral);
	padding: 
		var(--rs-select-padding-v) 
		calc(var(--rs-select-padding-h) + var(--rs-select-chevron-size) + var(--rs-unit-x2)) 
		var(--rs-select-padding-v) 
		var(--rs-select-padding-h);

	/* Firefox text alignment */
	line-height: calc(var(--rs-select-min-height) - 2 * var(--rs-select-padding-v)) !important;

	&::-ms-expand {
		display: none;
	}
}

.slot {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding-inline-start: var(--rs-select-padding-h);
}

.slot + .input {
	padding-inline-start: var(--rs-unit-x2);
}

.icon {
	color: var(--rs-color-foreground-neutral-faded);
	display: flex;
	inset-block-start: 50%;
	inset-inline-end: var(--rs-select-padding-h);
	pointer-events: none;
	position: absolute;
	transform: translateY(-50%);
	z-index: 5;
}

.root.--size-medium {
	--rs-select-padding-base: var(--rs-unit-x1);
	--rs-select-min-height: var(--rs-unit-x9);
	--rs-select-chevron-size: var(--rs-unit-x4);

	border-radius: var(--rs-unit-radius-small);

	& .input {
		font-size: var(--rs-font-size-body-2);
		line-height: var(--rs-line-height-body-2);
		font-weight: var(--rs-font-weight-body-2);
		font-family: var(--rs-font-family-body-2);
	}
}

.root.--size-large {
	--rs-select-padding-base: var(--rs-unit-x2);
	--rs-select-min-height: calc(var(--rs-unit-x1) * 12);
	--rs-select-chevron-size: var(--rs-unit-x5);

	border-radius: var(--rs-unit-radius-medium);

	& .input {
		font-size: var(--rs-font-size-body-2);
		line-height: var(--rs-line-height-body-2);
		font-weight: var(--rs-font-weight-body-2);
		font-family: var(--rs-font-family-body-2);
	}
}

.root.--size-xlarge {
	--rs-select-padding-base: var(--rs-unit-x3);
	--rs-select-min-height: calc(var(--rs-unit-x1) * 14);
	--rs-select-chevron-size: var(--rs-unit-x5);

	border-radius: var(--rs-unit-radius-medium);

	& .input {
		font-size: var(--rs-font-size-body-1);
		line-height: var(--rs-line-height-body-1);
		font-weight: var(--rs-font-weight-body-1);
		font-family: var(--rs-font-family-body-1);
	}
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root.--size-medium--$viewport {
			--rs-select-padding-base: var(--rs-unit-x1);
			--rs-select-min-height: var(--rs-unit-x9);
		
			border-radius: var(--rs-unit-radius-small);

			& .input {
				font-size: var(--rs-font-size-body-2);
				line-height: var(--rs-line-height-body-2);
				font-weight: var(--rs-font-weight-body-2);
				font-family: var(--rs-font-family-body-2);
			}
		}
		
		.root.--size-large--$viewport {
			--rs-select-padding-base: var(--rs-unit-x2);
			--rs-select-min-height: var(--rs-unit-x12);
		
			border-radius: var(--rs-unit-radius-medium);

			& .input {
				font-size: var(--rs-font-size-body-2);
				line-height: var(--rs-line-height-body-2);
				font-weight: var(--rs-font-weight-body-2);
				font-family: var(--rs-font-family-body-2);
			}
		}
		
		.root.--size-xlarge--$viewport {
			--rs-select-padding-base: var(--rs-unit-x3);
			--rs-select-min-height: var(--rs-unit-x14);
		
			border-radius: var(--rs-unit-radius-medium);

			& .input {
				font-size: var(--rs-font-size-body-1);
				line-height: var(--rs-line-height-body-1);
				font-weight: var(--rs-font-weight-body-1);
				font-family: var(--rs-font-family-body-1);
			}
		}
	}
}

.root.--status-error {
	border-color: var(--rs-color-border-critical);

	&:focus-within {
		border-color: var(--rs-color-border-primary);
		box-shadow: 0 0 0 1px var(--rs-color-border-primary);
	}
}

.root.--placeholder .input {
	color: var(--rs-color-foreground-neutral-faded);
}

.root.--disabled {
	background: var(--rs-color-background-disabled-faded);
	border-color: var(--rs-color-border-disabled);

	& .input,
	& .icon {
		cursor: not-allowed;
		color: var(--rs-color-foreground-disabled);
	}
}

@media (--rs-viewport-s) and (hover: none) {
	.input {
		font-size: var(--rs-font-size-body-2);
	}
}





