.root {
  /* Minus border size */
  --uic-select-padding-v: calc(var(--uic-select-padding-base) - 1px);
  --uic-select-padding-h: calc(
    var(--uic-select-padding-base) - 1px + var(--uic-unit-x1)
  );

  display: flex;
  position: relative;
  z-index: 0;
  border: 1px solid var(--uic-color-border-neutral);
  overflow: hidden;
  min-height: var(--uic-select-min-height);
  background: var(--uic-color-background-base);

  &:focus-within {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }
}

.input {
  border: 0;
  outline: none;
  position: relative;
  background: none;
  z-index: 1;
  background: none;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: var(--uic-color-foreground-neutral);
  padding: var(--uic-select-padding-v)
    calc(
      var(--uic-select-padding-h) + var(--uic-select-chevron-size) +
        var(--uic-unit-x2)
    )
    var(--uic-select-padding-v) var(--uic-select-padding-h);

  /* Firefox text alignment */
  line-height: calc(
    var(--uic-select-min-height) - 2 * var(--uic-select-padding-v)
  ) !important;

  &::-ms-expand {
    display: none;
  }
}

.slot {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-inline-start: var(--uic-select-padding-h);
}

.slot + .input {
  padding-inline-start: var(--uic-unit-x2);
}

.icon {
  color: var(--uic-color-foreground-neutral-faded);
  display: flex;
  inset-block-start: 50%;
  inset-inline-end: var(--uic-select-padding-h);
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
  z-index: 5;
}

.root.--size-medium {
  --uic-select-padding-base: var(--uic-unit-x1);
  --uic-select-min-height: var(--uic-unit-x9);
  --uic-select-chevron-size: var(--uic-unit-x4);

  border-radius: var(--uic-unit-radius-small);

  & .input {
    font-size: var(--uic-font-size-body-2);
    line-height: var(--uic-line-height-body-2);
    font-weight: var(--uic-font-weight-body-2);
    font-family: var(--uic-font-family-body-2);
  }
}

.root.--size-large {
  --uic-select-padding-base: var(--uic-unit-x2);
  --uic-select-min-height: calc(var(--uic-unit-x1) * 12);
  --uic-select-chevron-size: var(--uic-unit-x5);

  border-radius: var(--uic-unit-radius-medium);

  & .input {
    font-size: var(--uic-font-size-body-2);
    line-height: var(--uic-line-height-body-2);
    font-weight: var(--uic-font-weight-body-2);
    font-family: var(--uic-font-family-body-2);
  }
}

.root.--size-xlarge {
  --uic-select-padding-base: var(--uic-unit-x3);
  --uic-select-min-height: calc(var(--uic-unit-x1) * 14);
  --uic-select-chevron-size: var(--uic-unit-x5);

  border-radius: var(--uic-unit-radius-medium);

  & .input {
    font-size: var(--uic-font-size-body-1);
    line-height: var(--uic-line-height-body-1);
    font-weight: var(--uic-font-weight-body-1);
    font-family: var(--uic-font-family-body-1);
  }
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root.--size-medium--$viewport {
      --uic-select-padding-base: var(--uic-unit-x1);
      --uic-select-min-height: var(--uic-unit-x9);

      border-radius: var(--uic-unit-radius-small);

      & .input {
        font-size: var(--uic-font-size-body-2);
        line-height: var(--uic-line-height-body-2);
        font-weight: var(--uic-font-weight-body-2);
        font-family: var(--uic-font-family-body-2);
      }
    }

    .root.--size-large--$viewport {
      --uic-select-padding-base: var(--uic-unit-x2);
      --uic-select-min-height: var(--uic-unit-x12);

      border-radius: var(--uic-unit-radius-medium);

      & .input {
        font-size: var(--uic-font-size-body-2);
        line-height: var(--uic-line-height-body-2);
        font-weight: var(--uic-font-weight-body-2);
        font-family: var(--uic-font-family-body-2);
      }
    }

    .root.--size-xlarge--$viewport {
      --uic-select-padding-base: var(--uic-unit-x3);
      --uic-select-min-height: var(--uic-unit-x14);

      border-radius: var(--uic-unit-radius-medium);

      & .input {
        font-size: var(--uic-font-size-body-1);
        line-height: var(--uic-line-height-body-1);
        font-weight: var(--uic-font-weight-body-1);
        font-family: var(--uic-font-family-body-1);
      }
    }
  }
}

.root.--status-error {
  border-color: var(--uic-color-border-critical);

  &:focus-within {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }
}

.root.--placeholder .input {
  color: var(--uic-color-foreground-neutral-faded);
}

.root.--disabled {
  background: var(--uic-color-background-disabled-faded);
  border-color: var(--uic-color-border-disabled);

  & .input,
  & .icon {
    cursor: not-allowed;
    color: var(--uic-color-foreground-disabled);
  }
}

@media (--uic-viewport-s) and (hover: none) {
  .input {
    font-size: var(--uic-font-size-body-2) !important;
  }
}
