.root {
  /* Minus border size */

  padding: calc(var(--uic-unit-x1) - 1px);
  display: flex;
  position: relative;
  z-index: 0;
  border: 1px solid var(--uic-color-border-neutral);
  overflow: hidden;
  background: var(--uic-color-background-elevation-base);

  &:focus-within {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }
}

.input {
  display: flex;
  align-items: center;
  border: 0;
  outline: none;
  position: relative;
  background: none;
  z-index: 1;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: var(--uic-color-foreground-neutral);
  font-weight: var(--uic-font-weight-regular);
  font-family: var(--uic-font-family-body);
  padding-inline-end: calc(
    var(--uic-select-chevron-size) + var(--uic-select-gap) * 2 + var(--uic-unit-x1)
  );

  &::-ms-expand {
    display: none;
  }
}

select.input {
  padding-inline-start: var(--uic-select-gap);
}

.slot {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  padding-inline-start: var(--uic-select-gap);
  padding-inline-end: var(--uic-unit-x1);
  box-sizing: initial;
}

/* Custom trigger with slot rendered inside trigger */
.input .slot {
  padding-inline-start: 0;
  padding-inline-end: var(--uic-select-gap);
}

.arrow {
  color: var(--uic-color-foreground-neutral-faded);
  display: flex;
  inset-block-start: 50%;
  inset-inline-end: calc(var(--uic-select-gap) + var(--uic-unit-x1));
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
  z-index: 5;
}

@responsive .--size {
  @value medium {
    --uic-select-gap: var(--uic-unit-x1);
    --uic-select-chevron-size: var(--uic-unit-x4);

    border-radius: var(--uic-unit-radius-small);

    & .input {
      padding-top: var(--uic-unit-x1);
      padding-bottom: var(--uic-unit-x1);
      font-size: var(--uic-font-size-body-3);
      line-height: var(--uic-line-height-body-3);
    }
  }

  @value large {
    --uic-select-gap: var(--uic-unit-x2);
    --uic-select-chevron-size: var(--uic-unit-x5);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      padding-top: var(--uic-unit-x2);
      padding-bottom: var(--uic-unit-x2);
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }

  @value xlarge {
    --uic-select-gap: var(--uic-unit-x3);
    --uic-select-chevron-size: var(--uic-unit-x5);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      padding-top: var(--uic-unit-x3);
      padding-bottom: var(--uic-unit-x3);
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }
}

.root.--variant-faded {
  background: var(--uic-color-background-neutral-faded);
  border-color: transparent;

  &:focus-within {
    border-color: var(--uic-color-border-primary);
  }
}

.root.--variant-headless {
  background: transparent;
  border-color: transparent;

  &:focus-within,
  &.--status-error,
  &.--status-error:focus-within {
    border-color: transparent;
    box-shadow: none;
  }
}

.root.--status-error {
  border-color: var(--uic-color-border-critical);

  &:focus-within {
    border-color: var(--uic-color-border-primary);
  }
}

.root.--placeholder .input {
  color: var(--uic-color-foreground-neutral-faded);
}

.root.--disabled {
  background: var(--uic-color-background-disabled-faded);
  border-color: var(--uic-color-border-disabled);

  & .input,
  & .arrow {
    cursor: not-allowed;
    color: var(--uic-color-foreground-disabled);
  }
}

@media (--uic-viewport-s) and (hover: none) {
  .input {
    font-size: var(--uic-font-size-body-2) !important;
  }
}
