.root {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Depends on getHeightStyles */
  font-size: calc(var(--uic-h) / 3);
  font-weight: bold;
  aspect-ratio: 1;
  line-height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.--variant-faded {
  &.--color-neutral {
    color: var(--uic-color-foreground-neutral);
  }

  &.--color-critical {
    color: var(--uic-color-foreground-critical);
  }

  &.--color-positive {
    color: var(--uic-color-foreground-positive);
  }

  &.--color-primary {
    color: var(--uic-color-foreground-primary);
  }
}
