[data-uic-theme="uicapsule"][data-uic-color-mode="light"],
[data-uic-theme="uicapsule"][data-uic-color-mode="dark"] {
  --uic-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-weight-regular: 400;
  --uic-font-weight-medium: 500;
  --uic-font-weight-semibold: 600;
  --uic-font-weight-bold: 700;
  --uic-font-weight-heavy: 800;
  --uic-font-weight-black: 900;
  --uic-font-size-title-1: 96px;
  --uic-line-height-title-1: 100px;
  --uic-font-family-title-1: var(--uic-font-family-title);
  --uic-font-weight-title-1: var(--uic-font-weight-heavy);
  --uic-font-size-title-2: 80px;
  --uic-line-height-title-2: 84px;
  --uic-font-family-title-2: var(--uic-font-family-title);
  --uic-font-weight-title-2: var(--uic-font-weight-heavy);
  --uic-font-size-title-3: 64px;
  --uic-line-height-title-3: 68px;
  --uic-font-family-title-3: var(--uic-font-family-title);
  --uic-font-weight-title-3: var(--uic-font-weight-heavy);
  --uic-font-size-title-4: 56px;
  --uic-line-height-title-4: 60px;
  --uic-font-family-title-4: var(--uic-font-family-title);
  --uic-font-weight-title-4: var(--uic-font-weight-bold);
  --uic-font-size-title-5: 48px;
  --uic-line-height-title-5: 52px;
  --uic-font-family-title-5: var(--uic-font-family-title);
  --uic-font-weight-title-5: var(--uic-font-weight-bold);
  --uic-font-size-title-6: 36px;
  --uic-line-height-title-6: 40px;
  --uic-font-family-title-6: var(--uic-font-family-title);
  --uic-font-weight-title-6: var(--uic-font-weight-bold);
  --uic-font-size-featured-1: 32px;
  --uic-line-height-featured-1: 40px;
  --uic-font-family-featured-1: var(--uic-font-family-body);
  --uic-font-size-featured-2: 24px;
  --uic-line-height-featured-2: 32px;
  --uic-font-family-featured-2: var(--uic-font-family-body);
  --uic-font-size-featured-3: 20px;
  --uic-line-height-featured-3: 28px;
  --uic-font-family-featured-3: var(--uic-font-family-body);
  --uic-font-size-body-1: 18px;
  --uic-line-height-body-1: 24px;
  --uic-font-family-body-1: var(--uic-font-family-body);
  --uic-font-size-body-2: 16px;
  --uic-line-height-body-2: 24px;
  --uic-font-family-body-2: var(--uic-font-family-body);
  --uic-font-size-body-3: 14px;
  --uic-line-height-body-3: 20px;
  --uic-font-family-body-3: var(--uic-font-family-body);
  --uic-font-size-caption-1: 12px;
  --uic-line-height-caption-1: 16px;
  --uic-font-family-caption-1: var(--uic-font-family-body);
  --uic-font-size-caption-2: 10px;
  --uic-line-height-caption-2: 12px;
  --uic-font-family-caption-2: var(--uic-font-family-body);
  --uic-unit-base: 4px;
  --uic-unit-radius-small: 4px;
  --uic-unit-radius-medium: 8px;
  --uic-unit-radius-large: 12px;
  --uic-unit-x1: 4px;
  --uic-unit-x2: 8px;
  --uic-unit-x3: 12px;
  --uic-unit-x4: 16px;
  --uic-unit-x5: 20px;
  --uic-unit-x6: 24px;
  --uic-unit-x7: 28px;
  --uic-unit-x8: 32px;
  --uic-unit-x9: 36px;
  --uic-unit-x10: 40px;
  --uic-color-black: #000000;
  --uic-color-white: #ffffff;
  --uic-color-on-background-primary: #ffffff;
  --uic-color-on-background-positive: #ffffff;
  --uic-color-on-background-critical: #ffffff;
  --uic-color-rgb-black: 0, 0, 0;
  --uic-color-rgb-white: 255, 255, 255;
  --uic-duration-fast: 200ms;
  --uic-duration-medium: 300ms;
  --uic-duration-slow: 400ms;
  --uic-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --uic-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --uic-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --uic-shadow-raised: 0px 2px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --uic-shadow-overlay: 0px 5px 10px rgba(0, 0, 0, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.07);
}

[data-uic-theme="uicapsule"][data-uic-color-mode="light"] {
  --uic-color-foreground-neutral: #14171f;
  --uic-color-foreground-neutral-faded: #4d5874;
  --uic-color-foreground-disabled: #c7cddb;
  --uic-color-foreground-primary: #4d4be7;
  --uic-color-foreground-positive: #05751f;
  --uic-color-foreground-critical: #cb101d;
  --uic-color-background-neutral: #dfe2ea;
  --uic-color-background-neutral-faded: #f3f4f6;
  --uic-color-background-neutral-highlighted: #d4d8e3;
  --uic-color-background-disabled: #eceef3;
  --uic-color-background-disabled-faded: #f4f5f7;
  --uic-color-background-primary: #5a58f2;
  --uic-color-background-primary-highlighted: #6d6bf5;
  --uic-color-background-primary-faded: #edecfd;
  --uic-color-background-positive: #118850;
  --uic-color-background-positive-faded: #ebfef6;
  --uic-color-background-positive-highlighted: #009950;
  --uic-color-background-critical: #e22c2c;
  --uic-color-background-critical-faded: #fef1f2;
  --uic-color-background-critical-highlighted: #eb4747;
  --uic-color-border-neutral: #bbc1d3;
  --uic-color-border-neutral-faded: #dfe2ea;
  --uic-color-border-disabled: #dfe2ea;
  --uic-color-border-primary: #4d4be7;
  --uic-color-border-primary-faded: #d7d5fb;
  --uic-color-border-positive: #05751f;
  --uic-color-border-positive-faded: #cdedd5;
  --uic-color-border-critical: #cb101d;
  --uic-color-border-critical-faded: #fbd5d8;
  --uic-color-background-page: #ffffff;
  --uic-color-background-page-faded: #fafafa;
  --uic-color-background-elevation-base: #ffffff;
  --uic-color-background-elevation-raised: #ffffff;
  --uic-color-background-elevation-overlay: #ffffff;
  --uic-color-on-background-neutral: #000000;
  --uic-color-rgb-background-neutral: 223, 226, 234;
  --uic-color-rgb-background-neutral-faded: 243, 244, 246;
  --uic-color-rgb-background-neutral-highlighted: 212, 216, 227;
  --uic-color-rgb-background-disabled: 236, 238, 243;
  --uic-color-rgb-background-disabled-faded: 244, 245, 247;
  --uic-color-rgb-background-primary: 90, 88, 242;
  --uic-color-rgb-background-primary-highlighted: 109, 107, 245;
  --uic-color-rgb-background-primary-faded: 237, 236, 253;
  --uic-color-rgb-background-positive: 17, 136, 80;
  --uic-color-rgb-background-positive-faded: 235, 254, 246;
  --uic-color-rgb-background-positive-highlighted: 0, 153, 80;
  --uic-color-rgb-background-critical: 226, 44, 44;
  --uic-color-rgb-background-critical-faded: 254, 241, 242;
  --uic-color-rgb-background-critical-highlighted: 235, 71, 71;
  --uic-color-rgb-background-page: 255, 255, 255;
  --uic-color-rgb-background-page-faded: 250, 250, 250;
  --uic-color-rgb-background-elevation-base: 255, 255, 255;
  --uic-color-rgb-background-elevation-raised: 255, 255, 255;
  --uic-color-rgb-background-elevation-overlay: 255, 255, 255;
}

[data-uic-theme="uicapsule"][data-uic-color-mode="dark"] {
  --uic-color-foreground-neutral: #eff0f1;
  --uic-color-foreground-neutral-faded: #c2c8d6;
  --uic-color-foreground-disabled: #404a63;
  --uic-color-foreground-primary: #9d9cf7;
  --uic-color-foreground-positive: #03ab5f;
  --uic-color-foreground-critical: #eb6666;
  --uic-color-background-neutral: #384056;
  --uic-color-background-neutral-faded: #242838;
  --uic-color-background-neutral-highlighted: #404a63;
  --uic-color-background-disabled: #1c202b;
  --uic-color-background-disabled-faded: #161922;
  --uic-color-background-primary: #5250f2;
  --uic-color-background-primary-highlighted: #5f5df4;
  --uic-color-background-primary-faded: #24254c;
  --uic-color-background-positive: #06743f;
  --uic-color-background-positive-faded: #0f2921;
  --uic-color-background-positive-highlighted: #008545;
  --uic-color-background-critical: #ab1717;
  --uic-color-background-critical-faded: #2f1e1f;
  --uic-color-background-critical-highlighted: #c11515;
  --uic-color-border-neutral: #49536f;
  --uic-color-border-neutral-faded: #313649;
  --uic-color-border-disabled: #242938;
  --uic-color-border-primary: #7d7bf4;
  --uic-color-border-primary-faded: #2e3160;
  --uic-color-border-positive: #03a059;
  --uic-color-border-positive-faded: #163c30;
  --uic-color-border-critical: #e95454;
  --uic-color-border-critical-faded: #412a2b;
  --uic-color-background-page: #0d1117;
  --uic-color-background-page-faded: #0f131a;
  --uic-color-background-elevation-base: #14181f;
  --uic-color-background-elevation-raised: #181d25;
  --uic-color-background-elevation-overlay: #1c212b;
  --uic-color-on-background-neutral: #ffffff;
  --uic-color-rgb-background-neutral: 56, 64, 86;
  --uic-color-rgb-background-neutral-faded: 36, 40, 56;
  --uic-color-rgb-background-neutral-highlighted: 64, 74, 99;
  --uic-color-rgb-background-disabled: 28, 32, 43;
  --uic-color-rgb-background-disabled-faded: 22, 25, 34;
  --uic-color-rgb-background-primary: 82, 80, 242;
  --uic-color-rgb-background-primary-highlighted: 95, 93, 244;
  --uic-color-rgb-background-primary-faded: 36, 37, 76;
  --uic-color-rgb-background-positive: 6, 116, 63;
  --uic-color-rgb-background-positive-faded: 15, 41, 33;
  --uic-color-rgb-background-positive-highlighted: 0, 133, 69;
  --uic-color-rgb-background-critical: 171, 23, 23;
  --uic-color-rgb-background-critical-faded: 47, 30, 31;
  --uic-color-rgb-background-critical-highlighted: 193, 21, 21;
  --uic-color-rgb-background-page: 13, 17, 23;
  --uic-color-rgb-background-page-faded: 15, 19, 26;
  --uic-color-rgb-background-elevation-base: 20, 24, 31;
  --uic-color-rgb-background-elevation-raised: 24, 29, 37;
  --uic-color-rgb-background-elevation-overlay: 28, 33, 43;
}
