.dots {
  --demo-bg: var(--rs-color-background-page);
	--dot-color: var(--rs-color-rgb-background-neutral);

  border-radius: inherit;
	background:
		linear-gradient(90deg, var(--demo-bg) 10px, transparent 1%) center,
		linear-gradient(var(--demo-bg) 10px, transparent 1%) center,
		rgba(var(--dot-color), 0.9);
	background-size: 12px 12px;
  position: relative;
}

.page {
  --demo-bg: var(--rs-color-background-page-faded);
  min-height: 100vh;
}

.plugin {
  position: relative;
  z-index: 5;
  cursor: default;
}

.close {
  line-height: 0;
}

.cursor {
  display: none;
  pointer-events: none;
  position: fixed;
  z-index: 4;
  font-size: 32px;
  transform: rotate(75deg);
  top: calc(var(--local-top) * 1px);
  left: calc(var(--local-left) * 1px);
}

.gradient {
  display: none;
  position: fixed;
  pointer-events: none;
  /* transform: translate(-50%, -50%) rotate(-130deg); */
  transform: translate(-50%, -50%);
  width: 720px;
  height: 720px;
  transition: transform 0.2s ease-in-out;
}

.gradient:before,
.gradient:after {
  pointer-events: none;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: 
    radial-gradient(
      50% 50% at 50% 50%, 
      rgba(var(--rs-color-rgb-background-primary), 0.2) 0%, 
      rgba(var(--rs-color-rgb-background-primary), 0.16) 19%,
      rgba(var(--rs-color-rgb-background-primary), 0.108) 34%,
      rgba(var(--rs-color-rgb-background-primary), 0.076) 47%,
      rgba(var(--rs-color-rgb-background-primary), 0.056) 56%,
      rgba(var(--rs-color-rgb-background-primary), 0.038) 65%,
      rgba(var(--rs-color-rgb-background-primary), 0.024) 73%,
      rgba(var(--rs-color-rgb-background-primary), 0.015) 80%,
      rgba(var(--rs-color-rgb-background-primary), 0.008) 86%,
      rgba(var(--rs-color-rgb-background-primary), 0.004) 91%,
      rgba(var(--rs-color-rgb-background-primary), 0.002) 96%,
      rgba(var(--rs-color-rgb-background-primary), 0) 100%
    );
}

.gradient:after {
  width: 420px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, 15%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.cursor--status-hidden,
.cursor--status-visible,
.cursor--status-idle {
  cursor: none;
}

.cursor--status-hidden .gradient {
  display: block;
}

.cursor--status-visible .gradient {  
  /* transform: translate(-70%, -70%) rotate(-130deg); */
  transform: translate(-75%, -70%);
  display: block;
}

.cursor--status-visible .gradient:after {
  opacity: 1;
}

.cursor--status-visible .cursor {
  display: block;
}

@media (--rs-viewport-s) {
  .gradient {
    top: 100% !important;
    left: 0 !important;
    display: block !important;
    transform: translate(-50%, -50%) !important;
  }

  .embed .gradient {
    position: absolute;
  }

  .cursor {
    display: none !important;
  }

  .page {
    cursor: default;
    overflow: hidden;
  }
}