/**
* Important is used since classNames can be used as mixins for other components
* and there is no guarantee about the css specificity
*/

.root {
  --uic-hidden-display: block;

  display: var(--uic-hidden-display) !important;
}

.--display-inline {
  --uic-hidden-display: inline;
}

.--display-flex {
  --uic-hidden-display: flex;
}

@responsive .--hidden {
  @value true {
    display: none !important;

    &.--visibility {
      display: var(--uic-hidden-display) !important;
      visibility: hidden;
    }
  }

  @value false {
    display: var(--uic-hidden-display) !important;

    &.--visibility {
      visibility: visible;
    }
  }
}
