/**
* Important is used since classNames can be used as mixins for other components
* and there is no guarantee about the css specificity
*/

.root {
  --uic-hidden-display: block;
  display: var(--uic-hidden-display) !important;
}

.--display {
  &-inline {
    --uic-hidden-display: inline;
  }

  &-flex {
    --uic-hidden-display: flex;
  }
}

.--hidden {
  display: none !important;

  &.--visibility {
    display: var(--uic-hidden-display) !important;
    visibility: hidden;
  }
}

@media (--uic-viewport-m) {
  .--hidden-false--m {
    display: var(--uic-hidden-display) !important;

    &.--visibility {
      visibility: visible;
    }
  }

  .--hidden-true--m {
    display: none !important;

    &.--visibility {
      display: var(--uic-hidden-display) !important;
      visibility: hidden;
    }
  }
}

@media (--uic-viewport-l) {
  .--hidden-false--l {
    display: var(--uic-hidden-display) !important;

    &.--visibility {
      visibility: visible;
    }
  }

  .--hidden-true--l {
    display: none !important;

    &.--visibility {
      display: var(--uic-hidden-display) !important;
      visibility: hidden;
    }
  }
}

@media (--uic-viewport-xl) {
  .--hidden-false--xl {
    display: var(--uic-hidden-display) !important;

    &.--visibility {
      visibility: visible;
    }
  }

  .--hidden-true--xl {
    display: none !important;

    &.--visibility {
      display: var(--uic-hidden-display) !important;
      visibility: hidden;
    }
  }
}
