@each $radius in small, medium, large {
  .--radius-$radius {
    --_uic-radius: var(--uic-unit-radius-$radius);
    border-radius: var(--_uic-radius);
  }

  @each $viewport in m, l, xl {
    @media (--uic-viewport-$(viewport)) {
      .--radius-$(radius)--$(viewport) {
        --_uic-radius: var(--uic-unit-radius-$radius);
      }
    }
  }
}

.--radius-circular {
  --_uic-radius: 9999px;
  border-radius: var(--_uic-radius);
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$(viewport)) {
    .--radius-circular--$viewport {
      --_uic-radius: 9999px;
    }
  }
}
