.root {
  border-radius: var(--uic-radius);
}

@responsive .--radius {
  @value none {
    --uic-radius: 0;
  }

  @value small {
    --uic-radius: var(--uic-unit-radius-small);
  }

  @value medium {
    --uic-radius: var(--uic-unit-radius-medium);
  }

  @value large {
    --uic-radius: var(--uic-unit-radius-large);
  }

  @value circular {
    --uic-radius: 9999px;
  }
}
