/* prettier-ignore */
@each $modifier, $value in
	(small, medium, large, circular),
	(var(--uic-unit-radius-small), var(--uic-unit-radius-medium), var(--uic-unit-radius-large), 9999px)
{
	.--radius-$(modifier) {
		--_uic-radius: $(value);
		border-radius: var(--_uic-radius);
	}
}

/* prettier-ignore */
@each $modifier, $value in
	(small, medium, large, circular),
	(var(--uic-unit-radius-small), var(--uic-unit-radius-medium), var(--uic-unit-radius-large), 9999px)
{
	@each $viewport in m, l, xl {
		@media (--uic-viewport-$(viewport)) {
			.--radius-$(modifier)--$(viewport) {
				--_uic-radius: $(value);
			}
		}
	}
}
