.root {
  position: relative;
}

.previewWrap,
.preview {
  width: 100%;
}

.--bleed:before,
.--bleed:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  width: var(--rs-unit-x8);
  z-index: 10;
}

.--bleed:before {
  left: 0;
  background: linear-gradient(
    90deg, 
    rgba(var(--rs-color-rgb-background-neutral-faded), 0.8),
    rgba(var(--rs-color-rgb-background-neutral-faded), 0)
  );
}

.--bleed:after {
  right: 0;
  background: linear-gradient(
    -90deg, 
    rgba(var(--rs-color-rgb-background-neutral-faded), 0.8),
    rgba(var(--rs-color-rgb-background-neutral-faded), 0)
  );
}

.--bleed .inner {
  margin: 0 calc(var(--rs-unit-x8) * -1);
}

.--horizontal .preview {
  width: auto;
  max-width: 100%;
}