@keyframes rs-uicapsule-loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

.root {
  position: relative;
  display: block;
  animation: rs-uicapsule-loader 2.2s infinite
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: var(--uic-loader-size);
  height: var(--uic-loader-size);
}

.root::before,
.root::after {
  content: "";
  background: var(--uic-loader-color);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  width: var(--uic-loader-stroke);
  height: var(--uic-loader-stroke);
  transform: translateY(-50%);
  top: 50%;
}

.root::before {
  left: 0;
}

.root::after {
  right: 0;
}

.inner::after,
.inner::before {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--uic-loader-stroke) solid var(--uic-loader-color);
  border-radius: 50%;
}

.inner::before {
  opacity: 0.3;
}

.inner::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
}

.--color-inherit {
  --uic-loader-color: currentcolor;
}

.--color-primary {
  --uic-loader-color: var(--uic-color-border-primary);
}

.--color-positive {
  --uic-loader-color: var(--uic-color-border-positive);
}

.--color-critical {
  --uic-loader-color: var(--uic-color-border-critical);
}

@responsive .--size {
  @value small {
    --uic-loader-size: var(--uic-unit-x4);
    --uic-loader-stroke: 2px;
  }

  @value medium {
    --uic-loader-size: var(--uic-unit-x6);
    --uic-loader-stroke: 3px;
  }
}
