.literal {
  width: var(--uic-w-s, auto);
}

.unit {
  width: calc(var(--uic-w-s) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      width: var(--uic-w-$viewport);
    }

    .unit--$viewport {
      width: calc(var(--uic-w-$viewport) * var(--uic-unit-x1));
    }
  }
}
