.literal {
  width: var(--_uic-w, auto);
}

.unit {
  width: calc(var(--_uic-w) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      width: var(--_uic-w-$viewport);
    }

    .unit--$viewport {
      width: calc(var(--_uic-w-$viewport) * var(--uic-unit-x1));
    }
  }
}
