.root {
  --_uic-w: none;
  --_uic-w-m: var(--_uic-w);
  --_uic-w-l: var(--_uic-w-m);
  --_uic-w-xl: var(--_uic-w-l);
  --_uic-w-responsive: var(--_uic-w);

  width: var(--_uic-w-responsive);
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root {
      --_uic-w-responsive: var(--_uic-w-$(viewport));
    }
  }
}
