.--inset {
  inset: calc(var(--uic-inset) * var(--uic-unit-x1));
}

@responsive .--inset {
  @value end {
    inset-inline-end: calc(var(--uic-inset-end) * var(--uic-unit-x1));
  }

  @value start {
    inset-inline-start: calc(var(--uic-inset-start) * var(--uic-unit-x1));
  }

  @value top {
    inset-block-start: calc(var(--uic-inset-top) * var(--uic-unit-x1));
  }

  @value bottom {
    inset-block-end: calc(var(--uic-inset-bottom) * var(--uic-unit-x1));
  }
}

@responsive .--inset {
  @variable --uic-inset 0;
}

@responsive .--inset-end {
  @variable --uic-inset-end 0;
}

@responsive .--inset-start {
  @variable --uic-inset-start 0;
}

@responsive .--inset-top {
  @variable --uic-inset-top 0;
}

@responsive .--inset-bottom {
  @variable --uic-inset-bottom 0;
}
