.root {
  position: relative;
}

.root > *:first-child {
  aspect-ratio: var(--ui-aspect-ratio);
}

.root > img:first-child {
  object-fit: cover;
}

.root {
  --_r: 1;
  --_r-m: var(--_r);
  --_r-l: var(--_r-m);
  --_r-xl: var(--_r-l);
  --ui-aspect-ratio: var(--_r);
}

@media (--ui-viewport-m) {
  .root {
    --ui-aspect-ratio: var(--_r-m);
  }
}

@media (--ui-viewport-l) {
  .root {
    --ui-aspect-ratio: var(--_r-l);
  }
}

@media (--ui-viewport-xl) {
  .root {
    --ui-aspect-ratio: var(--_r-xl);
  }
}
