.ts {
  margin: 0 auto;
  max-height: 300px;
  width: auto;
}

.size {
  width: auto;
  margin: 0 auto;
}

@media (--rs-viewport-m) {
  .size {
    max-height: 300px;
  }
}

@media (--rs-viewport-l) {
  .ts {
    margin-top: 20px;
  }
}