
			[data-uic-theme="uicapsule-light"], [data-uic-theme="uicapsule-dark"] {
					--uic-font-family-display: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--uic-font-family-body: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--uic-font-weight-regular: 400;
--uic-font-weight-medium: 500;
--uic-font-weight-bold: 700;
--uic-font-weight-heavy: 800;
--uic-font-weight-black: 900;
--uic-font-size-display-1: 40px;
--uic-line-height-display-1: 48px;
--uic-font-family-display-1: var(--uic-font-family-display);
--uic-font-weight-display-1: var(--uic-font-weight-medium);
--uic-font-size-display-1-m: 64px;
--uic-line-height-display-1-m: 76px;
--uic-font-family-display-1-m: var(--uic-font-family-display);
--uic-font-weight-display-1-m: var(--uic-font-weight-medium);
--uic-font-size-display-1-l: 84px;
--uic-line-height-display-1-l: 96px;
--uic-font-family-display-1-l: var(--uic-font-family-display);
--uic-font-weight-display-1-l: var(--uic-font-weight-medium);
--uic-font-size-display-1-xl: 96px;
--uic-line-height-display-1-xl: 112px;
--uic-font-family-display-1-xl: var(--uic-font-family-display);
--uic-font-weight-display-1-xl: var(--uic-font-weight-medium);
--uic-font-size-display-2: 36px;
--uic-line-height-display-2: 44px;
--uic-font-family-display-2: var(--uic-font-family-display);
--uic-font-weight-display-2: var(--uic-font-weight-medium);
--uic-font-size-display-2-m: 48px;
--uic-line-height-display-2-m: 56px;
--uic-font-family-display-2-m: var(--uic-font-family-display);
--uic-font-weight-display-2-m: var(--uic-font-weight-medium);
--uic-font-size-display-2-l: 56px;
--uic-line-height-display-2-l: 64px;
--uic-font-family-display-2-l: var(--uic-font-family-display);
--uic-font-weight-display-2-l: var(--uic-font-weight-medium);
--uic-font-size-display-2-xl: 64px;
--uic-line-height-display-2-xl: 72px;
--uic-font-family-display-2-xl: var(--uic-font-family-display);
--uic-font-weight-display-2-xl: var(--uic-font-weight-medium);
--uic-font-size-display-3: 32px;
--uic-line-height-display-3: 36px;
--uic-font-family-display-3: var(--uic-font-family-display);
--uic-font-weight-display-3: var(--uic-font-weight-medium);
--uic-font-size-display-3-m: 36px;
--uic-line-height-display-3-m: 48px;
--uic-font-family-display-3-m: var(--uic-font-family-display);
--uic-font-weight-display-3-m: var(--uic-font-weight-medium);
--uic-font-size-display-3-l: 44px;
--uic-line-height-display-3-l: 52px;
--uic-font-family-display-3-l: var(--uic-font-family-display);
--uic-font-weight-display-3-l: var(--uic-font-weight-medium);
--uic-font-size-display-3-xl: 48px;
--uic-line-height-display-3-xl: 56px;
--uic-font-family-display-3-xl: var(--uic-font-family-display);
--uic-font-weight-display-3-xl: var(--uic-font-weight-medium);
--uic-font-size-title-1: 24px;
--uic-line-height-title-1: 32px;
--uic-font-family-title-1: var(--uic-font-family-body);
--uic-font-weight-title-1: var(--uic-font-weight-medium);
--uic-font-size-title-1-m: 24px;
--uic-line-height-title-1-m: 32px;
--uic-font-family-title-1-m: var(--uic-font-family-body);
--uic-font-weight-title-1-m: var(--uic-font-weight-medium);
--uic-font-size-title-1-l: 32px;
--uic-line-height-title-1-l: 40px;
--uic-font-family-title-1-l: var(--uic-font-family-body);
--uic-font-weight-title-1-l: var(--uic-font-weight-medium);
--uic-font-size-title-1-xl: 32px;
--uic-line-height-title-1-xl: 40px;
--uic-font-family-title-1-xl: var(--uic-font-family-body);
--uic-font-weight-title-1-xl: var(--uic-font-weight-medium);
--uic-font-size-title-2: 20px;
--uic-line-height-title-2: 28px;
--uic-font-family-title-2: var(--uic-font-family-body);
--uic-font-weight-title-2: var(--uic-font-weight-medium);
--uic-font-size-title-2-m: 20px;
--uic-line-height-title-2-m: 28px;
--uic-font-family-title-2-m: var(--uic-font-family-body);
--uic-font-weight-title-2-m: var(--uic-font-weight-medium);
--uic-font-size-title-2-l: 24px;
--uic-line-height-title-2-l: 32px;
--uic-font-family-title-2-l: var(--uic-font-family-body);
--uic-font-weight-title-2-l: var(--uic-font-weight-medium);
--uic-font-size-title-2-xl: 24px;
--uic-line-height-title-2-xl: 32px;
--uic-font-family-title-2-xl: var(--uic-font-family-body);
--uic-font-weight-title-2-xl: var(--uic-font-weight-medium);
--uic-font-size-title-3: 18px;
--uic-line-height-title-3: 24px;
--uic-font-family-title-3: var(--uic-font-family-body);
--uic-font-weight-title-3: var(--uic-font-weight-medium);
--uic-font-size-title-3-m: 18px;
--uic-line-height-title-3-m: 24px;
--uic-font-family-title-3-m: var(--uic-font-family-body);
--uic-font-weight-title-3-m: var(--uic-font-weight-medium);
--uic-font-size-title-3-l: 20px;
--uic-line-height-title-3-l: 28px;
--uic-font-family-title-3-l: var(--uic-font-family-body);
--uic-font-weight-title-3-l: var(--uic-font-weight-medium);
--uic-font-size-title-3-xl: 20px;
--uic-line-height-title-3-xl: 28px;
--uic-font-family-title-3-xl: var(--uic-font-family-body);
--uic-font-weight-title-3-xl: var(--uic-font-weight-medium);
--uic-font-size-featured-1: 24px;
--uic-line-height-featured-1: 32px;
--uic-font-family-featured-1: var(--uic-font-family-display);
--uic-font-weight-featured-1: var(--uic-font-weight-regular);
--uic-font-size-featured-1-m: 24px;
--uic-line-height-featured-1-m: 32px;
--uic-font-family-featured-1-m: var(--uic-font-family-display);
--uic-font-weight-featured-1-m: var(--uic-font-weight-regular);
--uic-font-size-featured-1-l: 32px;
--uic-line-height-featured-1-l: 40px;
--uic-font-family-featured-1-l: var(--uic-font-family-display);
--uic-font-weight-featured-1-l: var(--uic-font-weight-regular);
--uic-font-size-featured-1-xl: 32px;
--uic-line-height-featured-1-xl: 40px;
--uic-font-family-featured-1-xl: var(--uic-font-family-display);
--uic-font-weight-featured-1-xl: var(--uic-font-weight-regular);
--uic-font-size-featured-2: 20px;
--uic-line-height-featured-2: 28px;
--uic-font-family-featured-2: var(--uic-font-family-display);
--uic-font-weight-featured-2: var(--uic-font-weight-regular);
--uic-font-size-featured-2-m: 20px;
--uic-line-height-featured-2-m: 28px;
--uic-font-family-featured-2-m: var(--uic-font-family-display);
--uic-font-weight-featured-2-m: var(--uic-font-weight-regular);
--uic-font-size-featured-2-l: 24px;
--uic-line-height-featured-2-l: 32px;
--uic-font-family-featured-2-l: var(--uic-font-family-display);
--uic-font-weight-featured-2-l: var(--uic-font-weight-regular);
--uic-font-size-featured-2-xl: 24px;
--uic-line-height-featured-2-xl: 32px;
--uic-font-family-featured-2-xl: var(--uic-font-family-display);
--uic-font-weight-featured-2-xl: var(--uic-font-weight-regular);
--uic-font-size-featured-3: 18px;
--uic-line-height-featured-3: 24px;
--uic-font-family-featured-3: var(--uic-font-family-display);
--uic-font-weight-featured-3: var(--uic-font-weight-regular);
--uic-font-size-featured-3-m: 18px;
--uic-line-height-featured-3-m: 24px;
--uic-font-family-featured-3-m: var(--uic-font-family-display);
--uic-font-weight-featured-3-m: var(--uic-font-weight-regular);
--uic-font-size-featured-3-l: 20px;
--uic-line-height-featured-3-l: 28px;
--uic-font-family-featured-3-l: var(--uic-font-family-display);
--uic-font-weight-featured-3-l: var(--uic-font-weight-regular);
--uic-font-size-featured-3-xl: 20px;
--uic-line-height-featured-3-xl: 28px;
--uic-font-family-featured-3-xl: var(--uic-font-family-display);
--uic-font-weight-featured-3-xl: var(--uic-font-weight-regular);
--uic-font-size-body-strong-1: 16px;
--uic-line-height-body-strong-1: 24px;
--uic-font-family-body-strong-1: var(--uic-font-family-body);
--uic-font-weight-body-strong-1: var(--uic-font-weight-bold);
--uic-font-size-body-strong-1-m: 16px;
--uic-line-height-body-strong-1-m: 24px;
--uic-font-family-body-strong-1-m: var(--uic-font-family-body);
--uic-font-weight-body-strong-1-m: var(--uic-font-weight-bold);
--uic-font-size-body-strong-1-l: 16px;
--uic-line-height-body-strong-1-l: 24px;
--uic-font-family-body-strong-1-l: var(--uic-font-family-body);
--uic-font-weight-body-strong-1-l: var(--uic-font-weight-bold);
--uic-font-size-body-strong-1-xl: 16px;
--uic-line-height-body-strong-1-xl: 24px;
--uic-font-family-body-strong-1-xl: var(--uic-font-family-body);
--uic-font-weight-body-strong-1-xl: var(--uic-font-weight-bold);
--uic-font-size-body-medium-1: 16px;
--uic-line-height-body-medium-1: 24px;
--uic-font-family-body-medium-1: var(--uic-font-family-body);
--uic-font-weight-body-medium-1: var(--uic-font-weight-medium);
--uic-font-size-body-medium-1-m: 16px;
--uic-line-height-body-medium-1-m: 24px;
--uic-font-family-body-medium-1-m: var(--uic-font-family-body);
--uic-font-weight-body-medium-1-m: var(--uic-font-weight-medium);
--uic-font-size-body-medium-1-l: 16px;
--uic-line-height-body-medium-1-l: 24px;
--uic-font-family-body-medium-1-l: var(--uic-font-family-body);
--uic-font-weight-body-medium-1-l: var(--uic-font-weight-medium);
--uic-font-size-body-medium-1-xl: 16px;
--uic-line-height-body-medium-1-xl: 24px;
--uic-font-family-body-medium-1-xl: var(--uic-font-family-body);
--uic-font-weight-body-medium-1-xl: var(--uic-font-weight-medium);
--uic-font-size-body-1: 16px;
--uic-line-height-body-1: 24px;
--uic-font-family-body-1: var(--uic-font-family-body);
--uic-font-weight-body-1: var(--uic-font-weight-regular);
--uic-font-size-body-1-m: 16px;
--uic-line-height-body-1-m: 24px;
--uic-font-family-body-1-m: var(--uic-font-family-body);
--uic-font-weight-body-1-m: var(--uic-font-weight-regular);
--uic-font-size-body-1-l: 16px;
--uic-line-height-body-1-l: 24px;
--uic-font-family-body-1-l: var(--uic-font-family-body);
--uic-font-weight-body-1-l: var(--uic-font-weight-regular);
--uic-font-size-body-1-xl: 16px;
--uic-line-height-body-1-xl: 24px;
--uic-font-family-body-1-xl: var(--uic-font-family-body);
--uic-font-weight-body-1-xl: var(--uic-font-weight-regular);
--uic-font-size-body-strong-2: 14px;
--uic-line-height-body-strong-2: 20px;
--uic-font-family-body-strong-2: var(--uic-font-family-body);
--uic-font-weight-body-strong-2: var(--uic-font-weight-bold);
--uic-font-size-body-strong-2-m: 14px;
--uic-line-height-body-strong-2-m: 20px;
--uic-font-family-body-strong-2-m: var(--uic-font-family-body);
--uic-font-weight-body-strong-2-m: var(--uic-font-weight-bold);
--uic-font-size-body-strong-2-l: 14px;
--uic-line-height-body-strong-2-l: 20px;
--uic-font-family-body-strong-2-l: var(--uic-font-family-body);
--uic-font-weight-body-strong-2-l: var(--uic-font-weight-bold);
--uic-font-size-body-strong-2-xl: 14px;
--uic-line-height-body-strong-2-xl: 20px;
--uic-font-family-body-strong-2-xl: var(--uic-font-family-body);
--uic-font-weight-body-strong-2-xl: var(--uic-font-weight-bold);
--uic-font-size-body-medium-2: 14px;
--uic-line-height-body-medium-2: 20px;
--uic-font-family-body-medium-2: var(--uic-font-family-body);
--uic-font-weight-body-medium-2: var(--uic-font-weight-medium);
--uic-font-size-body-medium-2-m: 14px;
--uic-line-height-body-medium-2-m: 20px;
--uic-font-family-body-medium-2-m: var(--uic-font-family-body);
--uic-font-weight-body-medium-2-m: var(--uic-font-weight-medium);
--uic-font-size-body-medium-2-l: 14px;
--uic-line-height-body-medium-2-l: 20px;
--uic-font-family-body-medium-2-l: var(--uic-font-family-body);
--uic-font-weight-body-medium-2-l: var(--uic-font-weight-medium);
--uic-font-size-body-medium-2-xl: 14px;
--uic-line-height-body-medium-2-xl: 20px;
--uic-font-family-body-medium-2-xl: var(--uic-font-family-body);
--uic-font-weight-body-medium-2-xl: var(--uic-font-weight-medium);
--uic-font-size-body-2: 14px;
--uic-line-height-body-2: 20px;
--uic-font-family-body-2: var(--uic-font-family-body);
--uic-font-weight-body-2: var(--uic-font-weight-regular);
--uic-font-size-body-2-m: 14px;
--uic-line-height-body-2-m: 20px;
--uic-font-family-body-2-m: var(--uic-font-family-body);
--uic-font-weight-body-2-m: var(--uic-font-weight-regular);
--uic-font-size-body-2-l: 14px;
--uic-line-height-body-2-l: 20px;
--uic-font-family-body-2-l: var(--uic-font-family-body);
--uic-font-weight-body-2-l: var(--uic-font-weight-regular);
--uic-font-size-body-2-xl: 14px;
--uic-line-height-body-2-xl: 20px;
--uic-font-family-body-2-xl: var(--uic-font-family-body);
--uic-font-weight-body-2-xl: var(--uic-font-weight-regular);
--uic-font-size-caption-1: 12px;
--uic-line-height-caption-1: 16px;
--uic-font-family-caption-1: var(--uic-font-family-body);
--uic-font-weight-caption-1: var(--uic-font-weight-regular);
--uic-font-size-caption-1-m: 12px;
--uic-line-height-caption-1-m: 16px;
--uic-font-family-caption-1-m: var(--uic-font-family-body);
--uic-font-weight-caption-1-m: var(--uic-font-weight-regular);
--uic-font-size-caption-1-l: 12px;
--uic-line-height-caption-1-l: 16px;
--uic-font-family-caption-1-l: var(--uic-font-family-body);
--uic-font-weight-caption-1-l: var(--uic-font-weight-regular);
--uic-font-size-caption-1-xl: 12px;
--uic-line-height-caption-1-xl: 16px;
--uic-font-family-caption-1-xl: var(--uic-font-family-body);
--uic-font-weight-caption-1-xl: var(--uic-font-weight-regular);
--uic-font-size-caption-2: 10px;
--uic-line-height-caption-2: 16px;
--uic-font-family-caption-2: var(--uic-font-family-body);
--uic-font-weight-caption-2: var(--uic-font-weight-bold);
--uic-font-size-caption-2-m: 10px;
--uic-line-height-caption-2-m: 16px;
--uic-font-family-caption-2-m: var(--uic-font-family-body);
--uic-font-weight-caption-2-m: var(--uic-font-weight-bold);
--uic-font-size-caption-2-l: 10px;
--uic-line-height-caption-2-l: 16px;
--uic-font-family-caption-2-l: var(--uic-font-family-body);
--uic-font-weight-caption-2-l: var(--uic-font-weight-bold);
--uic-font-size-caption-2-xl: 10px;
--uic-line-height-caption-2-xl: 16px;
--uic-font-family-caption-2-xl: var(--uic-font-family-body);
--uic-font-weight-caption-2-xl: var(--uic-font-weight-bold);
--uic-unit-base: 4px;
--uic-unit-radius-small: 4px;
--uic-unit-radius-medium: 8px;
--uic-unit-radius-large: 12px;
--uic-unit-x1: 4px;
--uic-unit-x2: 8px;
--uic-unit-x3: 12px;
--uic-unit-x4: 16px;
--uic-unit-x5: 20px;
--uic-unit-x6: 24px;
--uic-unit-x7: 28px;
--uic-unit-x8: 32px;
--uic-unit-x9: 36px;
--uic-unit-x10: 40px;
--uic-color-background-positive: #078549;
--uic-color-background-positive-highlighted: #009950;
--uic-color-background-critical: #DA0000;
--uic-color-background-critical-highlighted: #E93535;
--uic-color-black: #000000;
--uic-color-white: #FFFFFF;
--uic-color-on-background-positive: #fff;
--uic-color-rgb-background-positive: 7, 133, 73;
--uic-color-on-background-positive-highlighted: #fff;
--uic-color-rgb-background-positive-highlighted: 0, 153, 80;
--uic-color-on-background-critical: #fff;
--uic-color-rgb-background-critical: 218, 0, 0;
--uic-color-on-background-critical-highlighted: #fff;
--uic-color-rgb-background-critical-highlighted: 233, 53, 53;
--uic-color-rgb-black: 0, 0, 0;
--uic-color-rgb-white: 255, 255, 255;
--uic-duration-fast: 150ms;
--uic-duration-medium: 250ms;
--uic-duration-slow: 300ms;
--uic-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--uic-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--uic-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--uic-shadow-base: 0px 2px 4px rgba(0, 0, 0, 0.12);
--uic-shadow-elevated: 0px 15px 25px rgba(0, 0, 0, 0.07), 0px 5px 10px rgba(0, 0, 0, 0.05);
			}
		
			[data-uic-theme="uicapsule-light"] {
					--uic-color-foreground-neutral: #14171F;
--uic-color-foreground-neutral-faded: #3C455D;
--uic-color-foreground-disabled: #C7CDDB;
--uic-color-foreground-primary: #14171F;
--uic-color-foreground-positive: #05751F;
--uic-color-foreground-critical: #CB101D;
--uic-color-background-neutral: #DFE2EA;
--uic-color-background-neutral-faded: #F4F5F7;
--uic-color-background-neutral-highlighted: #C7CDDB;
--uic-color-background-disabled: #EBEDF2;
--uic-color-background-disabled-faded: #F4F5F7;
--uic-color-background-primary: #14171F;
--uic-color-background-primary-faded: #F4F5F7;
--uic-color-background-primary-highlighted: #3C455D;
--uic-color-background-positive-faded: #E6FEF3;
--uic-color-background-critical-faded: #FDE7E9;
--uic-color-border-neutral: #BBC1D3;
--uic-color-border-neutral-faded: #DFE2EA;
--uic-color-border-disabled: #DFE2EA;
--uic-color-border-primary: #14171F;
--uic-color-border-primary-faded: #DFE2EA;
--uic-color-border-positive: #05751F;
--uic-color-border-positive-faded: #CDEDD5;
--uic-color-border-critical: #CB101D;
--uic-color-border-critical-faded: #FBD0D4;
--uic-color-background-page: #FFFFFF;
--uic-color-background-page-faded: #F8F8F8;
--uic-color-background-base: #FFFFFF;
--uic-color-background-elevated: #FFFFFF;
--uic-color-on-background-neutral: #000;
--uic-color-rgb-background-neutral: 223, 226, 234;
--uic-color-rgb-background-neutral-faded: 244, 245, 247;
--uic-color-on-background-neutral-highlighted: #000;
--uic-color-rgb-background-neutral-highlighted: 199, 205, 219;
--uic-color-rgb-background-disabled: 235, 237, 242;
--uic-color-rgb-background-disabled-faded: 244, 245, 247;
--uic-color-on-background-primary: #fff;
--uic-color-rgb-background-primary: 20, 23, 31;
--uic-color-rgb-background-primary-faded: 244, 245, 247;
--uic-color-on-background-primary-highlighted: #fff;
--uic-color-rgb-background-primary-highlighted: 60, 69, 93;
--uic-color-rgb-background-positive-faded: 230, 254, 243;
--uic-color-rgb-background-critical-faded: 253, 231, 233;
--uic-color-rgb-background-page: 255, 255, 255;
--uic-color-rgb-background-page-faded: 248, 248, 248;
--uic-color-rgb-background-base: 255, 255, 255;
--uic-color-rgb-background-elevated: 255, 255, 255;
			}
		
			[data-uic-theme="uicapsule-dark"] {
					--uic-color-foreground-neutral: #EFF0F1;
--uic-color-foreground-neutral-faded: #C1C7D7;
--uic-color-foreground-disabled: #404A63;
--uic-color-foreground-primary: #EFF0F1;
--uic-color-foreground-positive: #03AB5F;
--uic-color-foreground-critical: #EB6666;
--uic-color-background-neutral: #30374A;
--uic-color-background-neutral-faded: #242938;
--uic-color-background-neutral-highlighted: #404A63;
--uic-color-background-disabled: #282E3E;
--uic-color-background-disabled-faded: #242938;
--uic-color-background-primary: #EFF0F1;
--uic-color-background-primary-faded: #242938;
--uic-color-background-primary-highlighted: #FDFDFD;
--uic-color-background-positive-faded: #01321C;
--uic-color-background-critical-faded: #460C0C;
--uic-color-border-neutral: #49536F;
--uic-color-border-neutral-faded: #30374A;
--uic-color-border-disabled: #30374A;
--uic-color-border-primary: #49536F;
--uic-color-border-primary-faded: #30374A;
--uic-color-border-positive: #03AB5F;
--uic-color-border-positive-faded: #034A2A;
--uic-color-border-critical: #EB6666;
--uic-color-border-critical-faded: #6A1C1C;
--uic-color-background-page: #0D1117;
--uic-color-background-page-faded: #11171F;
--uic-color-background-base: #181C25;
--uic-color-background-elevated: #1C212B;
--uic-color-on-background-neutral: #fff;
--uic-color-rgb-background-neutral: 48, 55, 74;
--uic-color-rgb-background-neutral-faded: 36, 41, 56;
--uic-color-on-background-neutral-highlighted: #fff;
--uic-color-rgb-background-neutral-highlighted: 64, 74, 99;
--uic-color-rgb-background-disabled: 40, 46, 62;
--uic-color-rgb-background-disabled-faded: 36, 41, 56;
--uic-color-on-background-primary: #000;
--uic-color-rgb-background-primary: 239, 240, 241;
--uic-color-rgb-background-primary-faded: 36, 41, 56;
--uic-color-on-background-primary-highlighted: #000;
--uic-color-rgb-background-primary-highlighted: 253, 253, 253;
--uic-color-rgb-background-positive-faded: 1, 50, 28;
--uic-color-rgb-background-critical-faded: 70, 12, 12;
--uic-color-rgb-background-page: 13, 17, 23;
--uic-color-rgb-background-page-faded: 17, 23, 31;
--uic-color-rgb-background-base: 24, 28, 37;
--uic-color-rgb-background-elevated: 28, 33, 43;
			}
		