.root {
  border-radius: var(--ui-unit-radius-small);
  overflow: hidden;
  background: var(--ui-color-background-neutral-faded);
  display: flex;
  align-items: flex-start;
}

.value {
  border-radius: var(--ui-unit-radius-small);
  height: 100%;
  width: 100%;
  background: var(--ui-color-background-neutral-faded);
  transition: transform var(--ui-easing-decelerate);
  transition-duration: var(--_d, var(--ui-duration-slow));
  transform: translateX(var(--_v));

  [dir="rtl"] & {
    transform: translateX(calc(var(--_v) * -1));
  }
}

.--duration .value {
  transition-timing-function: linear;
}

.--size-small {
  height: var(--ui-unit-x1);
}

.--size-medium {
  height: var(--ui-unit-x2);
}

.--color-primary .value {
  background: var(--ui-color-background-primary);
}

.--color-critical .value {
  background: var(--ui-color-background-critical);
}

.--color-positive .value {
  background: var(--ui-color-background-positive);
}

.--color-white {
  background: rgba(var(--ui-color-rgb-white), 0.32);
}

.--color-white .value {
  background: var(--ui-color-white);
}
