.root {
  display: block;
  transition: var(--uic-duration-fast) var(--uic-easing-standard);
  transition-property: background-color, transform;
  padding: var(--uic-menu-item-padding-v) var(--uic-menu-item-padding-h);
  font-family: var(--uic-font-family-body);
  font-weight: var(--uic-font-weight-medium);
  color: var(--uic-menu-item-color);
  background-color: var(--uic-menu-item-bg-color);
}

/* Apply only to button so it works correctly in stack */
button.root {
  width: 100%;
}

.icon {
  color: var(--uic-menu-item-icon-color, inherit);
}

.icon,
.content {
  transition: var(--uic-duration-fast) var(--uic-easing-standard);
  transition-property: color;
}

@responsive .--rounded-corners {
  @value true {
    border-radius: var(--uic-menu-item-radius);
  }

  @value false {
    border-radius: 0;
  }
}

@responsive .--size {
  @value small {
    --uic-menu-item-padding-v: var(--uic-unit-x1);
    --uic-menu-item-padding-h: var(--uic-unit-x2);
    --uic-menu-item-radius: var(--uic-unit-radius-small);

    font-size: var(--uic-font-size-body-3);
    line-height: var(--uic-line-height-body-3);
  }

  @value medium {
    --uic-menu-item-padding-v: var(--uic-unit-x2);
    --uic-menu-item-padding-h: var(--uic-unit-x3);
    --uic-menu-item-radius: var(--uic-unit-radius-medium);

    font-size: var(--uic-font-size-body-3);
    line-height: var(--uic-line-height-body-3);
  }

  @value large {
    --uic-menu-item-padding-v: var(--uic-unit-x3);
    --uic-menu-item-padding-h: var(--uic-unit-x4);
    --uic-menu-item-radius: var(--uic-unit-radius-medium);

    font-size: var(--uic-font-size-body-2);
    line-height: var(--uic-line-height-body-2);
  }
}

.--color-neutral {
  --uic-menu-item-icon-color: var(--uic-color-foreground-neutral-faded);

  &:hover,
  &.--selected {
    --uic-menu-item-bg-color: rgba(var(--uic-color-rgb-background-neutral), 40%);
  }
}

.--color-critical {
  --uic-menu-item-color: var(--uic-color-foreground-critical);

  &:hover,
  &.--selected {
    --uic-menu-item-bg-color: rgba(var(--uic-color-rgb-background-critical), 12%);
  }
}

.--color-primary {
  --uic-menu-item-icon-color: var(--uic-color-foreground-neutral-faded);

  &:hover {
    --uic-menu-item-bg-color: rgba(var(--uic-color-rgb-background-neutral), 40%);
  }

  &.--selected,
  &.--selected:hover {
    --uic-menu-item-bg-color: rgba(var(--uic-color-rgb-background-primary), 12%);
    --uic-menu-item-color: var(--uic-color-foreground-primary);
    --uic-menu-item-icon-color: var(--uic-color-foreground-primary);
  }
}

.--selected,
.--selected:hover {
  cursor: default;
}

.--disabled,
.--disabled:hover {
  --uic-menu-item-color: var(--uic-color-foreground-disabled);
  --uic-menu-item-bg-color: none;
  --uic-menu-item-icon-color: var(--uic-color-foreground-disabled);
}

/* Aligner */
.aligner {
  /* Normalize button width, since it doesn't respect width: 100% with negative margin */
  button.root {
    box-sizing: initial;
  }

  .root {
    margin: 0 calc(var(--uic-menu-item-padding-h) * -1);
  }
}
