.root {
  position: relative;
  z-index: 5;
}

.animated {
  transition-duration: 0.3s !important;
  transition-property: border-radius, text-decoration-color, -webkit-text-decoration-color !important;
}

.gridHorizontal {
  position: absolute;
  width: 100%;
  left: 0;
  pointer-events: none;
}

.gridVertical {
  position: absolute;
  width: 100%;
  left: 0;
  top: -150px;
  bottom: 150px;
  overflow: visible;
  pointer-events: none;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(transparent 0%, var(--rs-color-border-neutral-faded) 20%);
}

.line:nth-child(1) {
  left: 0;
}

.line:nth-child(2) {
  left: calc(33% - 1px - var(--rs-unit-x5) / 2);
}

.line:nth-child(3) {
  left: calc(33% + var(--rs-unit-x5) / 2);
}

.line:nth-child(4) {
  left: calc(100% - 33% - 1px - var(--rs-unit-x5) / 2);
}

.line:nth-child(5) {
  left: calc(100% - 33% - 1px + var(--rs-unit-x5) / 2);
}

.line:nth-child(6) {
  left: 100%;
}

.gridHorizontal line,
.gridVertical .line {
  opacity: 0.75;
}
