[data-uic-theme="slate"][data-uic-color-mode="light"],
[data-uic-theme="slate"][data-uic-color-mode="dark"] {
  --uic-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-weight-regular: 400;
  --uic-font-weight-medium: 500;
  --uic-font-weight-semibold: 600;
  --uic-font-weight-bold: 700;
  --uic-font-weight-heavy: 800;
  --uic-font-weight-black: 900;
  --uic-font-size-title-1: 96px;
  --uic-line-height-title-1: 100px;
  --uic-font-family-title-1: var(--uic-font-family-title);
  --uic-font-weight-title-1: var(--uic-font-weight-heavy);
  --uic-font-size-title-2: 80px;
  --uic-line-height-title-2: 84px;
  --uic-font-family-title-2: var(--uic-font-family-title);
  --uic-font-weight-title-2: var(--uic-font-weight-heavy);
  --uic-font-size-title-3: 64px;
  --uic-line-height-title-3: 68px;
  --uic-font-family-title-3: var(--uic-font-family-title);
  --uic-font-weight-title-3: var(--uic-font-weight-heavy);
  --uic-font-size-title-4: 56px;
  --uic-line-height-title-4: 60px;
  --uic-font-family-title-4: var(--uic-font-family-title);
  --uic-font-weight-title-4: var(--uic-font-weight-bold);
  --uic-font-size-title-5: 48px;
  --uic-line-height-title-5: 52px;
  --uic-font-family-title-5: var(--uic-font-family-title);
  --uic-font-weight-title-5: var(--uic-font-weight-bold);
  --uic-font-size-title-6: 36px;
  --uic-line-height-title-6: 40px;
  --uic-font-family-title-6: var(--uic-font-family-title);
  --uic-font-weight-title-6: var(--uic-font-weight-bold);
  --uic-font-size-featured-1: 32px;
  --uic-line-height-featured-1: 40px;
  --uic-font-family-featured-1: var(--uic-font-family-body);
  --uic-font-size-featured-2: 24px;
  --uic-line-height-featured-2: 32px;
  --uic-font-family-featured-2: var(--uic-font-family-body);
  --uic-font-size-featured-3: 20px;
  --uic-line-height-featured-3: 28px;
  --uic-font-family-featured-3: var(--uic-font-family-body);
  --uic-font-size-body-1: 18px;
  --uic-line-height-body-1: 24px;
  --uic-font-family-body-1: var(--uic-font-family-body);
  --uic-font-size-body-2: 16px;
  --uic-line-height-body-2: 24px;
  --uic-font-family-body-2: var(--uic-font-family-body);
  --uic-font-size-body-3: 14px;
  --uic-line-height-body-3: 20px;
  --uic-font-family-body-3: var(--uic-font-family-body);
  --uic-font-size-caption-1: 12px;
  --uic-line-height-caption-1: 16px;
  --uic-font-family-caption-1: var(--uic-font-family-body);
  --uic-font-size-caption-2: 10px;
  --uic-line-height-caption-2: 12px;
  --uic-font-family-caption-2: var(--uic-font-family-body);
  --uic-unit-base: 4px;
  --uic-unit-radius-small: 2px;
  --uic-unit-radius-medium: 4px;
  --uic-unit-radius-large: 6px;
  --uic-unit-x1: 4px;
  --uic-unit-x2: 8px;
  --uic-unit-x3: 12px;
  --uic-unit-x4: 16px;
  --uic-unit-x5: 20px;
  --uic-unit-x6: 24px;
  --uic-unit-x7: 28px;
  --uic-unit-x8: 32px;
  --uic-unit-x9: 36px;
  --uic-unit-x10: 40px;
  --uic-color-black: #000000;
  --uic-color-white: #ffffff;
  --uic-color-on-background-primary: #ffffff;
  --uic-color-on-background-positive: #ffffff;
  --uic-color-on-background-critical: #ffffff;
  --uic-color-rgb-black: 0, 0, 0;
  --uic-color-rgb-white: 255, 255, 255;
  --uic-duration-fast: 200ms;
  --uic-duration-medium: 300ms;
  --uic-duration-slow: 400ms;
  --uic-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --uic-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --uic-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --uic-shadow-raised: 0px 2px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --uic-shadow-overlay: 0px 5px 10px rgba(0, 0, 0, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.07);
}

[data-uic-theme="slate"][data-uic-color-mode="light"] {
  --uic-color-foreground-neutral: #161a26;
  --uic-color-foreground-neutral-faded: #717787;
  --uic-color-foreground-disabled: #d4d0d0;
  --uic-color-foreground-primary: #2383e2;
  --uic-color-foreground-positive: #05751f;
  --uic-color-foreground-critical: #cb101d;
  --uic-color-background-neutral: #e3e3e5;
  --uic-color-background-neutral-faded: #f2f3f5;
  --uic-color-background-neutral-highlighted: #dedee1;
  --uic-color-background-disabled: #eceef3;
  --uic-color-background-disabled-faded: #f4f5f7;
  --uic-color-background-primary: #2383e2;
  --uic-color-background-primary-highlighted: #3273cc;
  --uic-color-background-primary-faded: #e5f4fb;
  --uic-color-background-positive: #118850;
  --uic-color-background-positive-faded: #ebfef6;
  --uic-color-background-positive-highlighted: #009950;
  --uic-color-background-critical: #e22c2c;
  --uic-color-background-critical-faded: #fef1f2;
  --uic-color-background-critical-highlighted: #eb4747;
  --uic-color-border-neutral: #d2d2d2;
  --uic-color-border-neutral-faded: #e2e2e2;
  --uic-color-border-disabled: #e2e2e2;
  --uic-color-border-primary: #3d76c7;
  --uic-color-border-primary-faded: #c6d9f4;
  --uic-color-border-positive: #05751f;
  --uic-color-border-positive-faded: #cdedd5;
  --uic-color-border-critical: #cb101d;
  --uic-color-border-critical-faded: #fbd5d8;
  --uic-color-background-page: #ffffff;
  --uic-color-background-page-faded: #f7f7f5;
  --uic-color-background-elevation-base: #ffffff;
  --uic-color-background-elevation-raised: #ffffff;
  --uic-color-background-elevation-overlay: #ffffff;
  --uic-color-on-background-neutral: #000000;
  --uic-color-rgb-background-neutral: 227, 227, 229;
  --uic-color-rgb-background-neutral-faded: 242, 243, 245;
  --uic-color-rgb-background-neutral-highlighted: 222, 222, 225;
  --uic-color-rgb-background-disabled: 236, 238, 243;
  --uic-color-rgb-background-disabled-faded: 244, 245, 247;
  --uic-color-rgb-background-primary: 35, 131, 226;
  --uic-color-rgb-background-primary-highlighted: 50, 115, 204;
  --uic-color-rgb-background-primary-faded: 229, 244, 251;
  --uic-color-rgb-background-positive: 17, 136, 80;
  --uic-color-rgb-background-positive-faded: 235, 254, 246;
  --uic-color-rgb-background-positive-highlighted: 0, 153, 80;
  --uic-color-rgb-background-critical: 226, 44, 44;
  --uic-color-rgb-background-critical-faded: 254, 241, 242;
  --uic-color-rgb-background-critical-highlighted: 235, 71, 71;
  --uic-color-rgb-background-page: 255, 255, 255;
  --uic-color-rgb-background-page-faded: 247, 247, 245;
  --uic-color-rgb-background-elevation-base: 255, 255, 255;
  --uic-color-rgb-background-elevation-raised: 255, 255, 255;
  --uic-color-rgb-background-elevation-overlay: 255, 255, 255;
}

[data-uic-theme="slate"][data-uic-color-mode="dark"] {
  --uic-color-foreground-neutral: #f2f3f5;
  --uic-color-foreground-neutral-faded: #9f9e9e;
  --uic-color-foreground-disabled: #656565;
  --uic-color-foreground-primary: #5098ff;
  --uic-color-foreground-positive: #03ab5f;
  --uic-color-foreground-critical: #eb6666;
  --uic-color-background-neutral: #4f5155;
  --uic-color-background-neutral-faded: #34363f;
  --uic-color-background-neutral-highlighted: #595c60;
  --uic-color-background-disabled: #313131;
  --uic-color-background-disabled-faded: #262626;
  --uic-color-background-primary: #4281db;
  --uic-color-background-primary-highlighted: #3273cc;
  --uic-color-background-primary-faded: #1e2c45;
  --uic-color-background-positive: #06743f;
  --uic-color-background-positive-faded: #0f2921;
  --uic-color-background-positive-highlighted: #008545;
  --uic-color-background-critical: #ab1717;
  --uic-color-background-critical-faded: #2f1e1f;
  --uic-color-background-critical-highlighted: #c11515;
  --uic-color-border-neutral: #414141;
  --uic-color-border-neutral-faded: #464646;
  --uic-color-border-disabled: #404040;
  --uic-color-border-primary: #5a91e0;
  --uic-color-border-primary-faded: #163a6a;
  --uic-color-border-positive: #03a059;
  --uic-color-border-positive-faded: #163c30;
  --uic-color-border-critical: #e95454;
  --uic-color-border-critical-faded: #412a2b;
  --uic-color-background-page: #191919;
  --uic-color-background-page-faded: #202020;
  --uic-color-background-elevation-base: #232323;
  --uic-color-background-elevation-raised: #262626;
  --uic-color-background-elevation-overlay: #292929;
  --uic-color-on-background-neutral: #ffffff;
  --uic-color-rgb-background-neutral: 79, 81, 85;
  --uic-color-rgb-background-neutral-faded: 52, 54, 63;
  --uic-color-rgb-background-neutral-highlighted: 89, 92, 96;
  --uic-color-rgb-background-disabled: 49, 49, 49;
  --uic-color-rgb-background-disabled-faded: 38, 38, 38;
  --uic-color-rgb-background-primary: 66, 129, 219;
  --uic-color-rgb-background-primary-highlighted: 50, 115, 204;
  --uic-color-rgb-background-primary-faded: 30, 44, 69;
  --uic-color-rgb-background-positive: 6, 116, 63;
  --uic-color-rgb-background-positive-faded: 15, 41, 33;
  --uic-color-rgb-background-positive-highlighted: 0, 133, 69;
  --uic-color-rgb-background-critical: 171, 23, 23;
  --uic-color-rgb-background-critical-faded: 47, 30, 31;
  --uic-color-rgb-background-critical-highlighted: 193, 21, 21;
  --uic-color-rgb-background-page: 25, 25, 25;
  --uic-color-rgb-background-page-faded: 32, 32, 32;
  --uic-color-rgb-background-elevation-base: 35, 35, 35;
  --uic-color-rgb-background-elevation-raised: 38, 38, 38;
  --uic-color-rgb-background-elevation-overlay: 41, 41, 41;
}
