.root {
	--demo-bg: var(--rs-color-background-base);
	--dot-color: var(--rs-color-background-neutral);

  border-radius: inherit;
	padding: var(--rs-unit-x4);
	white-space: normal;
	background:
		linear-gradient(90deg, var(--demo-bg) 10px, transparent 1%) center,
		linear-gradient(var(--demo-bg) 10px, transparent 1%) center,
		var(--dot-color);
	background-size: 12px 12px;
  /* min-height: 100%; */
  min-width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.inner { 
  width: 100%;
}

/* MDX wraps example with another div */
.inner > * {
  max-width: 100%;
}

.--elevated {
  box-shadow: var(--rs-shadow-elevated);
}

.--bordered {
  border: 1px solid var(--rs-color-border-neutral-faded);
  border-radius: var(--rs-unit-radius-medium);
}

.--centered {
  align-items: center;
  justify-content: center;
}

.--centered .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.--non-interactive {
  pointer-events: none;
}