.sp-layout {
  border-radius: var(--radius-xl);
  box-shadow: 0 5px 100px 1px var(--tw-shadow-color, #0000001a);
}

.sp-layout,
.sp-preview,
.sp-preview-container,
.sp-preview-iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sp-cube-wrapper,
.sp-preview-actions {
  display: none;
}

.sp-loading {
  position: absolute;
  inset: 0;
  background: var(--muted);
  animation: var(--animate-pulse);
}

.sp-loading + div {
  position: absolute;
  inset: 0;
  font-family: var(--font-mono);
  color: var(--primary);
  background: var(--background-highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sp-editor {
  flex: 1;
}

.sp-tabs {
  border-bottom: 1px solid var(--border);
}

.sp-tabs-scrollable-container {
  padding: 0 8px;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 40px;
  margin-bottom: -1px;
  overflow: auto;
}

.sp-tab-container {
  display: flex;
  align-items: center;
  outline: none;
  position: relative;
  padding-right: 20px;
  margin: 1px 0px;
}

.sp-tab-button {
  padding: 0 8px;
  height: 40px;
  white-space: nowrap;

  &[data-active="true"] {
    color: var(--primary);
  }
}

.sp-file-explorer {
  border-right: 1px solid var(--border);
  width: 200px;
  flex-shrink: 0;
  overflow: auto;
  height: 90dvh;
}

.sp-file-explorer-list {
  padding: 8px;
}

.sp-explorer {
  display: flex;
  gap: 4px;
  padding: 4px 0;
  width: 100%;
  align-items: center;
}
