:root {
  --sp-space-1: 4px;
  --sp-space-2: 8px;
  --sp-space-3: 12px;
  --sp-space-4: 16px;
  --sp-space-5: 20px;
  --sp-space-6: 24px;
  --sp-space-7: 28px;
  --sp-space-8: 32px;
  --sp-space-9: 36px;
  --sp-space-10: 40px;
  --sp-space-11: 44px;
  --sp-border-radius: 4px;
  --sp-layout-height: 300px;
  --sp-layout-headerHeight: 40px;
  --sp-transitions-default: 150ms ease;
  --sp-zIndices-base: 1;
  --sp-zIndices-overlay: 2;
  --sp-zIndices-top: 3;
  --sp-colors-surface1: #151515;
  --sp-colors-surface2: #252525;
  --sp-colors-surface3: #2f2f2f;
  --sp-colors-disabled: #4d4d4d;
  --sp-colors-base: #808080;
  --sp-colors-clickable: #999999;
  --sp-colors-hover: #c5c5c5;
  --sp-colors-accent: hsl(14 100% 58%);
  --sp-colors-error: #e1cff8;
  --sp-colors-errorSurface: #b08df8;
  --sp-colors-warning: #e7c400;
  --sp-colors-warningSurface: #3a3000;
  --sp-font-body:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sp-font-mono:
    "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco,
    "Lucida Console", monospace;
  --sp-font-size: 13px;
  --sp-font-lineHeight: 20px;
  --sp-syntax-color-plain: #ffe5b4;
  --sp-syntax-color-comment: #757575;
  --sp-syntax-fontStyle-comment: italic;
  --sp-syntax-color-keyword: #ffb86b; /* lighter orange for keywords */
  --sp-syntax-color-tag: #ff9800; /* vibrant orange for tags */
  --sp-syntax-color-punctuation: #ffffff;
  --sp-syntax-color-definition: #eeeeee;
  --sp-syntax-color-static: #ffffff;
  --sp-syntax-color-string: #ffd699; /* soft orange for strings */
  --sp-syntax-color-property: hsl(14 100% 58%);
}

.sp-layout {
  border-radius: var(--radius-xl);
  box-shadow: 0 5px 100px 1px var(--tw-shadow-color, #0000001a);
}

.sp-layout,
.sp-preview,
.sp-preview-container,
.sp-preview-iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sp-cube-wrapper,
.sp-preview-actions {
  display: none;
}

.sp-loading {
  position: absolute;
  inset: 0;
  background: var(--muted);
  animation: var(--animate-pulse);
}

.sp-loading + div {
  position: absolute;
  inset: 0;
  font-family: var(--font-mono);
  color: var(--primary);
  background: var(--background-highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sp-editor {
  flex: 1;
}

.sp-tabs {
  border-bottom: 1px solid var(--border);
}

.sp-tabs-scrollable-container {
  padding: 0 8px;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 40px;
  margin-bottom: -1px;
}

.sp-tab-container {
  display: flex;
  align-items: center;
  outline: none;
  position: relative;
  padding-right: 20px;
  margin: 1px 0px;
}

.sp-tab-button {
  padding: 0 8px;
  height: 40px;
  white-space: nowrap;

  &[data-active="true"] {
    color: var(--primary);
  }
}

.sp-file-explorer {
  border-right: 1px solid var(--border);
  width: 200px;
  position: sticky;
  top: 0;
}

.sp-file-explorer-list {
  padding: 8px;
}

.sp-explorer {
  display: flex;
  gap: 4px;
  padding: 4px 0;
  width: 100%;
  align-items: center;
}

.sp-code-editor {
  font-family: var(--sp-font-mono);
}

.sp-syntax-plain {
  color: var(--sp-syntax-color-plain);
}
.sp-syntax-comment {
  color: var(--sp-syntax-color-comment);
}
.sp-syntax-keyword {
  color: var(--sp-syntax-color-keyword);
}
.sp-syntax-tag {
  color: var(--sp-syntax-color-tag);
}
.sp-syntax-punctuation {
  color: var(--sp-syntax-color-punctuation);
}
.sp-syntax-definition {
  color: var(--sp-syntax-color-definition);
}
.sp-syntax-property {
  color: var(--sp-syntax-color-property);
}
.sp-syntax-static {
  color: var(--sp-syntax-color-static);
}
.sp-syntax-string {
  color: var(--sp-syntax-color-string);
}
