:root {
  --sp-space-1: 4px;
  --sp-space-2: 8px;
  --sp-space-3: 12px;
  --sp-space-4: 16px;
  --sp-space-5: 20px;
  --sp-space-6: 24px;
  --sp-space-7: 28px;
  --sp-space-8: 32px;
  --sp-space-9: 36px;
  --sp-space-10: 40px;
  --sp-space-11: 44px;
  --sp-border-radius: 4px;
  --sp-layout-height: 300px;
  --sp-layout-headerHeight: 40px;
  --sp-transitions-default: 150ms ease;
  --sp-zIndices-base: 1;
  --sp-zIndices-overlay: 2;
  --sp-zIndices-top: 3;
  --sp-colors-surface1: #151515;
  --sp-colors-surface2: #252525;
  --sp-colors-surface3: #2f2f2f;
  --sp-colors-disabled: #4d4d4d;
  --sp-colors-base: #808080;
  --sp-colors-clickable: #999999;
  --sp-colors-hover: #c5c5c5;
  --sp-colors-accent: #90e86f;
  --sp-colors-error: #e1cff8;
  --sp-colors-errorSurface: #b08df8;
  --sp-colors-warning: #e7c400;
  --sp-colors-warningSurface: #3a3000;
  --sp-font-body:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sp-font-mono:
    "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco,
    "Lucida Console", monospace;
  --sp-font-size: 13px;
  --sp-font-lineHeight: 20px;
  --sp-syntax-color-plain: #f0fdaf;
  --sp-syntax-color-comment: #757575;
  --sp-syntax-fontStyle-comment: italic;
  --sp-syntax-color-keyword: #e5fd78;
  --sp-syntax-color-tag: #f0fdaf;
  --sp-syntax-color-punctuation: #ffffff;
  --sp-syntax-color-definition: #eeeeee;
  --sp-syntax-color-property: #90e86f;
  --sp-syntax-color-static: #ffffff;
  --sp-syntax-color-string: #dafecf;
}

.sp-layout {
  border-radius: var(--radius-xl);
  box-shadow: 0 5px 100px 1px var(--tw-shadow-color, #0000001a);
}

.sp-layout,
.sp-preview,
.sp-preview-container,
.sp-preview-iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sp-cube-wrapper,
.sp-preview-actions {
  display: none;
}

.sp-loading {
  position: absolute;
  inset: 0;
  background: var(--muted);
  animation: var(--animate-pulse);
}

.sp-loading + div {
  position: absolute;
  inset: 0;
}

.sp-editor {
  flex: 1;
}

.sp-tabs {
  border-bottom: 1px solid var(--border);
}

.sp-tabs-scrollable-container {
  padding: 0 var(--sp-space-2);
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 40px;
  margin-bottom: -1px;
}

.sp-tab-container {
  display: flex;
  align-items: center;
  outline: none;
  position: relative;
  padding-right: 20px;
  margin: 1px 0px;
}

.sp-tab-button {
  padding: 0 var(--sp-space-2);
  height: var(--sp-layout-headerHeight);
  white-space: nowrap;

  &[data-active="true"] {
    color: var(--sp-colors-accent);
  }
}

.sp-explorer {
  display: flex;
}

.sp-syntax-plain {
  color: #f0fdaf;
}
.sp-syntax-comment {
  color: #757575;
}
.sp-syntax-keyword {
  color: #e5fd78;
}
.sp-syntax-tag {
  color: #f0fdaf;
}
.sp-syntax-punctuation {
  color: #ffffff;
}
.sp-syntax-definition {
  color: #eeeeee;
}
.sp-syntax-property {
  color: #90e86f;
}
.sp-syntax-static {
  color: #ffffff;
}
.sp-syntax-string {
  color: #dafecf;
}
