.item {
  position: relative;
  overflow: hidden;
  padding-bottom: var(--uic-unit-x3);
  margin-bottom: var(--uic-unit-x1);

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &--full-width {
    padding-bottom: var(--uic-unit-x4);
    margin-bottom: 0;

    &::after {
      content: "";
      width: 1px;
      background: var(--uic-color-border-neutral);
      position: absolute;
      bottom: 0;
      left: var(--uic-unit-x3);
      height: var(--uic-unit-x4);
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }
}

.marker {
  position: relative;
}

.marker:empty::before {
  content: "";
  display: block;
  background: var(--uic-color-border-neutral);
  width: var(--uic-unit-x2);
  height: var(--uic-unit-x2);
  border-radius: 50%;
}

.marker::after {
  content: "";
  width: 1px;
  transform: translate(-50%, var(--uic-unit-x1));
  background: var(--uic-color-border-neutral);
  position: absolute;
  left: 50%;
  height: 100%;
  display: block;

  .item:last-child & {
    content: none;
  }
}
