.item--padded {
  padding-inline-start: var(--uic-unit-x3);
}

@media (--uic-viewport-l) {
  .root {
    position: relative;
    padding-top: calc(var(--uic-unit-x1) * 9);
  }

  .search {
    position: sticky;
    top: calc(var(--uic-unit-x1) * 9);
    z-index: 10;
  }
}
