.item--padded {
  padding-inline-start: var(--uic-unit-x3);
}

.linkContainer {
  position: relative;
}

.selection,
.hovered {
  position: absolute;
  border-radius: var(--uic-unit-radius-small);
  z-index: -1;
}

.selection {
  height: 75%;
  margin-left: calc(var(--uic-unit-x4) * -1);
  margin-top: var(--uic-unit-x1);
  width: 2px;
  background: var(--uic-color-foreground-primary);
}

.hovered {
  height: 100%;
  margin-left: calc(var(--uic-unit-x3) * -1);
  width: calc(100% + var(--uic-unit-x6));
  background: rgba(var(--uic-color-rgb-background-neutral), 0.6);
}

@media (--uic-viewport-l) {
  .root {
    position: relative;
    padding-top: calc(var(--uic-unit-x1) * 9);
  }

  .search {
    position: sticky;
    top: calc(var(--uic-unit-x1) * 9);
    z-index: 10;
  }
}
