.root {
  padding: var(--uic-badge-p-v) var(--uic-badge-p-h);
  border: 1px solid var(--uic-color-background-neutral);
  min-width: calc(
    var(--uic-badge-line-height) + 2px + (var(--uic-badge-p-v) * 2)
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--uic-badge-gap);
  vertical-align: top;
  border-radius: var(--uic-unit-radius-small);
  background: var(--uic-color-background-neutral);
  color: var(--uic-color-foreground-neutral);
  box-sizing: border-box;

  /* GPU for container positioning */
  backface-visibility: hidden;
  transition: var(--uic-duration-medium) var(--uic-easing-standard);
  transition-property: transform, opacity;
}

.dismiss {
  transition: var(--uic-duration-fast) var(--uic-easing-standard);
  transition-property: opacity;
}

.root.--actionable:hover {
  opacity: 0.8;
}

.root .dismiss:hover {
  opacity: 0.72;
}

.root.--variant {
  &-faded {
    background: var(--uic-color-background-neutral-faded);
    border-color: var(--uic-color-background-neutral-faded);
    color: var(--uic-color-foreground-neutral-faded);
  }

  &-outline {
    background: none;
    border-color: var(--uic-color-border-neutral-faded);
  }
}

.root.--color-positive {
  background: var(--uic-color-background-positive);
  color: var(--uic-color-on-background-positive);
  border-color: var(--uic-color-background-positive);

  &.--variant {
    &-faded {
      background: var(--uic-color-background-positive-faded);
      border-color: var(--uic-color-background-positive-faded);
      color: var(--uic-color-foreground-positive);
    }

    &-outline {
      background: none;
      border-color: var(--uic-color-border-positive);
      color: var(--uic-color-foreground-positive);
    }
  }
}

.root.--color-critical {
  background: var(--uic-color-background-critical);
  color: var(--uic-color-on-background-critical);
  border-color: var(--uic-color-background-critical);

  &.--variant {
    &-faded {
      background: var(--uic-color-background-critical-faded);
      border-color: var(--uic-color-background-critical-faded);
      color: var(--uic-color-foreground-critical);
    }

    &-outline {
      background: none;
      border-color: var(--uic-color-border-critical);
      color: var(--uic-color-foreground-critical);
    }
  }
}

.root.--color-primary {
  background: var(--uic-color-background-primary);
  color: var(--uic-color-on-background-primary);
  border-color: var(--uic-color-background-primary);

  &.--variant {
    &-faded {
      background: var(--uic-color-background-primary-faded);
      border-color: var(--uic-color-background-primary-faded);
      color: var(--uic-color-foreground-primary);
    }

    &-outline {
      background: none;
      border-color: var(--uic-color-border-primary);
      color: var(--uic-color-foreground-primary);
    }
  }
}

.root.--size {
  &-small {
    --uic-badge-p-v: 0px;
    --uic-badge-p-h: var(--uic-unit-x1);
    --uic-badge-line-height: var(--uic-line-height-caption-1);
    --uic-badge-empty-size: var(--uic-unit-x2);
    --uic-badge-gap: calc(var(--uic-unit-x1) / 2);
  }

  &-medium {
    --uic-badge-p-v: calc(var(--uic-unit-x1) - 1px);
    --uic-badge-p-h: calc(var(--uic-unit-x2) - 1px);
    --uic-badge-line-height: var(--uic-line-height-caption-1);
    --uic-badge-empty-size: var(--uic-unit-x3);
    --uic-badge-gap: var(--uic-unit-x1);
  }

  &-large {
    --uic-badge-p-v: calc(var(--uic-unit-x1) - 1px);
    --uic-badge-p-h: calc(var(--uic-unit-x2) - 1px);
    --uic-badge-line-height: var(--uic-line-height-body-3);
    --uic-badge-empty-size: var(--uic-unit-x4);
    --uic-badge-gap: var(--uic-unit-x1);
  }
}

.root.--rounded {
  /* Hack to achieve rounded corners */
  border-radius: 999px;
}

.root:empty {
  width: var(--uic-badge-empty-size);
  height: var(--uic-badge-empty-size);
  min-width: auto;
  padding: 0;
}

.root.--hidden {
  transform: scale(0.2);
  opacity: 0;
}

/* Container */

.container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.container .root {
  position: absolute;
  z-index: 10;
  inset-inline-end: 0;
  transform: translate(50%, var(--uic-badge-translate-y)) scale(1);

  &.--hidden {
    transform: translate(50%, var(--uic-badge-translate-y)) scale(0.2);
  }

  [dir="rtl"] & {
    transform: translate(-50%, var(--uic-badge-translate-y)) scale(1);

    &.--hidden {
      transform: translate(-50%, var(--uic-badge-translate-y)) scale(0.2);
    }
  }
}

.--container-overlap .root {
  inset-inline-end: 14%;
}

.--container-position-top-end {
  & .root {
    --uic-badge-translate-y: -50%;

    top: 0;
  }

  &.--container-overlap .root {
    top: 14%;
  }
}

.--container-position-bottom-end {
  & .root {
    --uic-badge-translate-y: 50%;

    bottom: 0;
  }

  &.--container-overlap .root {
    bottom: 14%;
  }
}
