.root {
  --uic-view-gaps-count-multiplier: 1;
  --uic-view-z: auto;
  --uic-view-gap-value: calc(var(--uic-view-gap) * var(--uic-unit-x1));

  z-index: var(--uic-view-z);
  gap: var(--uic-view-gap-value);
}

.item {
  --uic-view-item-gap: calc(
    var(--uic-unit-x1) * var(--uic-view-item-gap-before) -
      var(--uic-view-gap-value)
  );

  order: var(--uic-view-item-order);
}

.--padding {
  padding: calc(
      var(--uic-unit-x1) * var(--uic-view-p-vertical, var(--uic-view-p-top))
    )
    calc(
      var(--uic-unit-x1) * var(--uic-view-p-horizontal, var(--uic-view-p-start))
    );
}

.--padding-top {
  padding-top: calc(var(--uic-unit-x1) * var(--uic-view-p-top));
}

.--padding-bottom {
  padding-bottom: calc(var(--uic-unit-x1) * var(--uic-view-p-bottom));
}

.--padding-start {
  padding-inline-start: calc(var(--uic-unit-x1) * var(--uic-view-p-start));
}

.--padding-end {
  padding-inline-end: calc(var(--uic-unit-x1) * var(--uic-view-p-end));
}

.--animated {
  transition: var(--uic-duration-medium) var(--uic-easing-standard);
  transition-property: background-color, color, border-color;
}

@each $alignment in start, center, end {
  .--align-text-$alignment {
    text-align: $alignment;
  }
}

@each $color in neutral, positive, critical, primary {
  .--bg-$color {
    background-color: var(--uic-color-background-$color);
    color: var(--uic-color-on-background-$color);
  }
}

@each $color in neutral-faded, positive-faded, critical-faded, primary-faded,
  page, page-faded, disabled, disabled-faded, elevation-base, elevation-raised,
  elevation-overlay
{
  .--bg-$color {
    color: var(--uic-color-foreground-neutral);
    background-color: var(--uic-color-background-$color);
  }
}

.--bg-white {
  background-color: var(--uic-color-white);
  color: var(--uic-color-black);
}

.--bg-black {
  background-color: var(--uic-color-black);
  color: var(--uic-color-white);
}

.--shadow-raised {
  box-shadow: var(--uic-shadow-raised);
}

.--shadow-overlay {
  box-shadow: var(--uic-shadow-overlay);
}

.--bd {
  border: 1px solid var(--uic-view-border-color);
}

@each $color in neutral-faded, neutral, positive, positive-faded, critical,
  critical-faded, primary, primary-faded
{
  .--bd-$color {
    --uic-view-border-color: var(--uic-color-border-$color);
  }
}

.--bd-transparent {
  --uic-view-border-color: transparent;
}

.--overflow-hidden {
  overflow: hidden;
}

.--divided {
  --uic-view-gaps-count-multiplier: 2;
}

.--flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Direction */
@responsive .--direction {
  @value column {
    flex-direction: column;
    flex-wrap: nowrap;

    & > .item--gap-before {
      margin-top: var(--uic-view-item-gap);
    }

    & > .item--gap-auto {
      margin-top: auto;
    }
  }

  @value column-reverse {
    flex-wrap: nowrap;
    flex-direction: column-reverse;

    & > .item--gap-before {
      margin-top: var(--uic-view-item-gap);
    }

    & > .item--gap-auto {
      margin-top: auto;
    }
  }

  @value row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;

    & > .item--gap-before {
      margin-inline-start: var(--uic-view-item-gap);
    }

    & > .item--gap-auto {
      margin-inline-start: auto;
    }

    & > button {
      width: auto !important;
    }
  }

  @value row-reverse {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;

    & > .item--gap-before {
      margin-inline-start: var(--uic-view-item-gap);
    }

    & > .item--gap-auto {
      margin-inline-start: auto;
    }

    & > button {
      width: auto !important;
    }
  }
}

.--nowrap {
  flex-wrap: nowrap;

  & > * {
    flex-shrink: 0;
  }
}

.--wrap {
  flex-wrap: wrap;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .--nowrap-false--$(viewport),
    .--wrap-true--$(viewport) {
      flex-wrap: wrap;
    }

    .--nowrap-true--$(viewport),
    .--wrap-false--$(viewport) {
      flex-wrap: nowrap;
    }
  }
}

/* Alignment */
@responsive .--align {
  @value start {
    align-items: flex-start !important;
  }

  @value end {
    align-items: flex-end !important;
  }

  @value center {
    align-items: center !important;
  }

  @value stretch {
    align-items: stretch !important;
  }

  @value baseline {
    align-items: baseline !important;
  }
}

@responsive .--justify {
  @value start {
    justify-content: flex-start;
  }

  @value end {
    justify-content: flex-end;
  }

  @value center {
    justify-content: center;
  }
}

.divider {
  align-self: stretch;
}

@responsive .item--grow {
  @value true {
    flex-grow: 1;

    /* Fixes nested View with nowrap inside the grow item */
    min-width: 0;
    flex-shrink: 1;
    flex-basis: 0;
  }

  @value false {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: auto;
  }
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .item--columns-$columns {
    --uic-view-columns-count: calc(12 / $columns);
    --uic-view-gaps-count: calc(
      (var(--uic-view-columns-count) - 1) * var(--uic-view-gaps-count-multiplier)
    );

    width: calc(
      (100% - var(--uic-view-gap-value) * var(--uic-view-gaps-count)) /
        var(--uic-view-columns-count) -
        var(--uic-view-item-gap, 0px)
    );
  }
}

.item--columns-auto {
  width: auto;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    @each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .item--columns-$(columns)--$(viewport) {
        --uic-view-columns-count: calc(12 / $columns);
        --uic-view-gaps-count: calc(
          (var(--uic-view-columns-count) - 1) *
            var(--uic-view-gaps-count-multiplier)
        );

        width: calc(
          (100% - var(--uic-view-gap-value) * var(--uic-view-gaps-count)) /
            var(--uic-view-columns-count) -
            var(--uic-view-item-gap, 0px)
        );
      }

      .item--columns-auto--$(viewport) {
        width: auto;
      }
    }
  }
}

/* Variables */
@responsive .--padding {
  @variable --uic-view-p-vertical 0;
  @variable --uic-view-p-horizontal 0;
}

@responsive .--padding-top {
  @variable --uic-view-p-top 0;
}

@responsive .--padding-bottom {
  @variable --uic-view-p-bottom 0;
}

@responsive .--padding-start {
  @variable --uic-view-p-start 0;
}

@responsive .--padding-end {
  @variable --uic-view-p-end 0;
}

@responsive .root {
  @variable --uic-view-gap 0;
}

@responsive .root > .item {
  @variable --uic-view-item-order 0;
  @variable --uic-view-item-gap-before initial;
}
