.root {
  gap: var(--uic-view-gap);
  position: relative;
}

.item {
  order: var(--uic-view-item-order);
}

.--padding {
  padding: calc(var(--uic-unit-x1) * var(--uic-view-padding-top))
    calc(var(--uic-unit-x1) * var(--uic-view-padding-start));
}

.--padding-top {
  padding-top: calc(var(--uic-unit-x1) * var(--uic-view-padding-top));
}

.--padding-bottom {
  padding-bottom: calc(var(--uic-unit-x1) * var(--uic-view-padding-bottom));
}

.--padding-start {
  padding-inline-start: calc(
    var(--uic-unit-x1) * var(--uic-view-padding-start)
  );
}

.--padding-end {
  padding-inline-end: calc(var(--uic-unit-x1) * var(--uic-view-padding-end));
}

.--animated {
  transition: var(--uic-duration-medium) var(--uic-easing-standard);
  transition-property: background-color, color, border-color;
}

@each $alignment in start, center, end {
  .--align-text-$alignment {
    text-align: $alignment;
  }
}

@each $color in neutral, neutral-faded, positive-faded, critical-faded,
  primary-faded, page, page-faded, disabled, disabled-faded, base, elevated
{
  .--bg-$color {
    background-color: var(--uic-color-background-$color);
  }
}

.--bg-white {
  background-color: var(--uic-color-white);
  color: var(--uic-color-black);
}

.--bg-black {
  background-color: var(--uic-color-black);
  color: var(--uic-color-white);
}

.--bg-positive {
  background-color: var(--uic-color-background-positive);
  color: var(--uic-color-on-background-positive);
}

.--bg-critical {
  background-color: var(--uic-color-background-critical);
  color: var(--uic-color-on-background-critical);
}

.--bg-primary {
  background-color: var(--uic-color-background-primary);
  color: var(--uic-color-on-background-primary);
}

.--shadow-base {
  box-shadow: var(--uic-shadow-base);
}

.--shadow-elevated {
  box-shadow: var(--uic-shadow-elevated);
}

.--bd {
  border: 1px solid var(--uic-view-border-color);
}

@each $color in neutral-faded, neutral, positive, positive-faded, critical,
  critical-faded, primary, primary-faded
{
  .--bd-$color {
    --uic-view-border-color: var(--uic-color-border-$color);
  }
}

.--bd-transparent {
  --uic-view-border-color: transparent;
}

.--overflow-hidden {
  overflow: hidden;
}

.--flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Direction */
.--direction-column,
.--direction-column-reverse {
  flex-direction: column;
  flex-wrap: nowrap;

  & > .item--gap-before {
    margin-top: var(--uic-view-item-gap);
  }

  & > .item--gap-auto {
    margin-top: auto;
  }
}

.--direction-column-reverse {
  flex-direction: column-reverse;
}

.--direction-row,
.--direction-row-reverse {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  & > .item--gap-before {
    margin-inline-start: var(--uic-view-item-gap);
  }

  & > .item--gap-auto {
    margin-inline-start: auto;
  }

  & > button {
    width: auto !important;
  }
}

.--direction-row-reverse {
  flex-direction: row-reverse;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .--direction-column--$(viewport),
    .--direction-column-reverse--$(viewport) {
      flex-direction: column;
      flex-wrap: nowrap;

      & > .item--gap-before {
        margin-inline-start: 0;
        margin-top: var(--uic-view-item-gap, 0px);
      }

      & > .item--gap-auto {
        margin-top: auto;
      }
    }

    .--direction-column-reverse--$(viewport) {
      flex-direction: column-reverse;
    }

    .--direction-row--$(viewport),
    .--direction-row-reverse--$(viewport) {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;

      & > .item--gap-before {
        margin-top: 0;
        margin-inline-start: var(--uic-view-item-gap, 0px);
      }

      & > .item--gap-auto {
        margin-inline-start: auto;
      }

      & > button {
        width: auto !important;
      }
    }

    .--direction-row-reverse--$(viewport) {
      flex-direction: row-reverse;
    }
  }
}

.--nowrap {
  flex-wrap: nowrap;

  & > * {
    flex-shrink: 0;
  }
}

.--wrap {
  flex-wrap: wrap;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .--nowrap-false--$(viewport),
    .--wrap-true--$(viewport) {
      flex-wrap: wrap;
    }

    .--nowrap-true--$(viewport),
    .--wrap-false--$(viewport) {
      flex-wrap: nowrap;
    }
  }
}

/* Alignment */
@each $name, $value in (start, center, end, stretch),
  (flex-start, center, flex-end, stretch)
{
  .--align-$(name) {
    align-items: $value;
  }

  .--justify-$(name) {
    justify-content: $value;
  }
}

.--align-baseline {
  align-items: baseline;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    @each $name, $value in (start, center, end, stretch),
      (flex-start, center, flex-end, stretch)
    {
      .--align-$(name)--$(viewport) {
        align-items: $value;
      }

      .--justify-$(name)--$(viewport) {
        justify-content: $value;
      }
    }

    .--align-baseline--$(viewport) {
      align-items: baseline;
    }
  }
}

.divider {
  align-self: stretch;
}

/* Item sizes */
.item--grow {
  flex-grow: 1;
  /* Fixes nested View with nowrap inside the grow item */
  min-width: 0;
  flex-shrink: 1;
  flex-basis: 0;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .item--grow-false--$(viewport) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }

    .item--grow-true--$(viewport) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }
  }
}

@each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .item--columns-$columns {
    --uic-view-columns-count: calc(12 / $columns);
    --uic-view-gaps-count: calc(var(--uic-view-columns-count) - 1);

    width: calc(
      (100% - var(--uic-view-gap) * var(--uic-view-gaps-count)) /
        var(--uic-view-columns-count) -
        var(--uic-view-item-gap, 0px)
    );
  }
}

.item--columns-auto {
  width: auto;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    @each $columns in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .item--columns-$(columns)--$(viewport) {
        --uic-view-columns-count: calc(12 / $columns);
        --uic-view-gaps-count: calc(var(--uic-view-columns-count) - 1);

        width: calc(
          (100% - var(--uic-view-gap) * var(--uic-view-gaps-count)) /
            var(--uic-view-columns-count) -
            var(--uic-view-item-gap, 0px)
        );
      }

      .item--columns-auto--$(viewport) {
        width: auto;
      }
    }
  }
}

/* Variables */
.--padding {
  /* Vertical */
  --_pv: 0;
  --_pv-m: var(--_pv);
  --_pv-l: var(--_pv-m);
  --_pv-xl: var(--_pv-l);
  --uic-view-padding-top: var(--_pv);
  --uic-view-padding-bottom: var(--_pv);

  /* Horizontal */
  --_ph: 0;
  --_ph-m: var(--_ph);
  --_ph-l: var(--_ph-m);
  --_ph-xl: var(--_ph-l);
  --uic-view-padding-start: var(--_ph);
  --uic-view-padding-end: var(--_ph);
}

.--padding-top {
  --_pt: 0;
  --_pt-m: var(--_pt);
  --_pt-l: var(--_pt-m);
  --_pt-xl: var(--_pt-l);
  --uic-view-padding-top: var(--_pt);
}

.--padding-bottom {
  --_pb: 0;
  --_pb-m: var(--_pb);
  --_pb-l: var(--_pb-m);
  --_pb-xl: var(--_pb-l);
  --uic-view-padding-bottom: var(--_pb);
}

.--padding-start {
  --_ps: 0;
  --_ps-m: var(--_ps);
  --_ps-l: var(--_ps-m);
  --_ps-xl: var(--_ps-l);
  --uic-view-padding-start: var(--_ps);
}

.--padding-end {
  --_pe: 0;
  --_pe-m: var(--_pe);
  --_pe-l: var(--_pe-m);
  --_pe-xl: var(--_pe-l);
  --uic-view-padding-end: var(--_pe);
}

.root {
  --_g: 0;
  --_g-m: var(--_g);
  --_g-l: var(--_g-m);
  --_g-xl: var(--_g-l);
  --uic-view-gap: calc(var(--uic-unit-x1) * var(--_g));

  --_z: auto;
  z-index: var(--_z);
}

.root > .item {
  --_o: 0;
  --_o-m: var(--_o);
  --_o-l: var(--_o-m);
  --_o-xl: var(--_o-l);
  --uic-view-item-order: var(--_o);

  --_gi: initial;
  --_gi-m: var(--_gi);
  --_gi-l: var(--_gi-m);
  --_gi-xl: var(--_gi-l);
  --uic-view-item-gap: calc(
    var(--uic-unit-x1) * var(--_gi) - var(--uic-view-gap)
  );
}

@media (--uic-viewport-m) {
  .root {
    --uic-view-gap: calc(var(--uic-unit-x1) * var(--_g-m));
  }

  .root.--padding {
    --uic-view-padding-top: var(--_pv-m);
    --uic-view-padding-bottom: var(--_pv-m);
    --uic-view-padding-start: var(--_ph-m);
    --uic-view-padding-end: var(--_ph-m);
  }

  .root.--padding-top {
    --uic-view-padding-top: var(--_pt-m);
  }

  .root.--padding-bottom {
    --uic-view-padding-bottom: var(--_pb-m);
  }

  .root.--padding-start {
    --uic-view-padding-start: var(--_ps-m);
  }

  .root.--padding-end {
    --uic-view-padding-end: var(--_pe-m);
  }

  .root > .item {
    --uic-view-item-order: var(--_o-m);
    --uic-view-item-gap: calc(
      var(--uic-unit-x1) * var(--_gi-m) - var(--uic-view-gap)
    );
  }
}

@media (--uic-viewport-l) {
  .root {
    --uic-view-gap: calc(var(--uic-unit-x1) * var(--_g-l));
  }

  .root.--padding {
    --uic-view-padding-top: var(--_pv-l);
    --uic-view-padding-bottom: var(--_pv-l);
    --uic-view-padding-start: var(--_ph-l);
    --uic-view-padding-end: var(--_ph-l);
  }

  .root.--padding-top {
    --uic-view-padding-top: var(--_pt-l);
  }

  .root.--padding-bottom {
    --uic-view-padding-bottom: var(--_pb-l);
  }

  .root.--padding-start {
    --uic-view-padding-start: var(--_ps-l);
  }

  .root.--padding-end {
    --uic-view-padding-end: var(--_pe-l);
  }

  .root > .item {
    --uic-view-item-order: var(--_o-l);
    --uic-view-item-gap: calc(
      var(--uic-unit-x1) * var(--_gi-l) - var(--uic-view-gap)
    );
  }
}

@media (--uic-viewport-xl) {
  .root {
    --uic-view-gap: calc(var(--uic-unit-x1) * var(--_g-xl));
  }

  .root.--padding {
    --uic-view-padding-top: var(--_pv-xl);
    --uic-view-padding-bottom: var(--_pv-xl);
    --uic-view-padding-start: var(--_ph-xl);
    --uic-view-padding-end: var(--_ph-xl);
  }

  .root.--padding-top {
    --uic-view-padding-top: var(--_pt-xl);
  }

  .root.--padding-bottom {
    --uic-view-padding-bottom: var(--_pb-xl);
  }

  .root.--padding-start {
    --uic-view-padding-start: var(--_ps-xl);
  }

  .root.--padding-end {
    --uic-view-padding-end: var(--_pe-xl);
  }

  .root > .item {
    --uic-view-item-order: var(--_o-xl);
    --uic-view-item-gap: calc(
      var(--uic-unit-x1) * var(--_gi-xl) - var(--uic-view-gap)
    );
  }
}
