.root {
  transition: transform var(--ui-easing-accelerate) var(--ui-duration-medium);
  padding: var(--ui-modal-padding);
  background: var(--ui-color-background-elevated);
  color: var(--ui-color-foreground-neutral);
  box-shadow: var(--ui-shadow-elevated);
}

.root {
  --_p: 4;
  --_p-m: var(--_p);
  --_p-l: var(--_p-m);
  --_p-xl: var(--_p-l);

  --_s: calc(var(--ui-unit-x1) * 100);
  --_s-m: var(--_s);
  --_s-l: var(--_s-m);
  --_s-xl: var(--_s-l);

  --ui-modal-padding: calc(var(--ui-unit-x1) * var(--_p));
  --ui-modal-size: var(--_s);
}

@media (--ui-viewport-m) {
  .root {
    --ui-modal-padding: calc(var(--ui-unit-x1) * var(--_p-m));
    --ui-modal-size: var(--_s-m);
  }
}

@media (--ui-viewport-l) {
  .root {
    --ui-modal-padding: calc(var(--ui-unit-x1) * var(--_p-l));
    --ui-modal-size: var(--_s-l);
  }
}

@media (--ui-viewport-xl) {
  .root {
    --ui-modal-padding: calc(var(--ui-unit-x1) * var(--_p-xl));
    --ui-modal-size: var(--_s-xl);
  }
}

.--position-center {
  --_s: calc(var(--ui-unit-x1) * 100);
  width: var(--ui-modal-size);
  height: auto;
  max-height: none;
  max-width: calc(100vw - var(--ui-unit-x8));
  margin: var(--ui-unit-x4);
  inset: 0;
  transform: scale(0.96);
  position: relative;
  border-radius: var(--ui-unit-radius-large);
  overflow: hidden;
}

.--position-bottom {
  --_s: auto;
  width: 100%;
  height: var(--ui-modal-size);
  max-height: calc(100vh - var(--ui-unit-x4));
  max-width: 100%;
  margin: 0;
  margin-top: var(--ui-unit-x4);
  top: initial;
  bottom: 0;
  inset-inline-start: 0;
  insert-inline-end: 0;
  transform: translate(0, 100%);
  position: fixed;
  border-radius: var(--ui-unit-radius-large) var(--ui-unit-radius-large) 0 0;
  overflow: auto;
}

.--position-start {
  --_s: calc(var(--ui-unit-x1) * 100);
  width: var(--ui-modal-size);
  height: 100%;
  max-height: 100%;
  max-width: calc(100vw - var(--ui-unit-x4));
  margin: 0;
  margin-inline-end: var(--ui-unit-x4);
  top: 0;
  bottom: 0;
  inset-inline-start: 0;
  inset-inline-end: initial;
  transform: translate(-100%, 0);
  position: fixed;
  border-radius: 0;
  overflow: auto;

  [dir="rtl"] & {
    transform: translate(100%, 0);
  }
}

.--position-end {
  --_s: calc(var(--ui-unit-x1) * 100);
  width: var(--ui-modal-size);
  height: 100%;
  max-height: 100%;
  max-width: calc(100vw - var(--ui-unit-x4));
  margin: 0;
  margin-inline-start: var(--ui-unit-x4);
  top: 0;
  bottom: 0;
  inset-inline-end: 0;
  inset-inline-start: initial;
  transform: translate(100%, 0);
  position: fixed;
  border-radius: 0;
  overflow: auto;

  [dir="rtl"] & {
    transform: translate(-100%, 0);
  }
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$(viewport)) {
    .--position-center--$viewport {
      --_s: calc(var(--ui-unit-x1) * 100);
      width: var(--ui-modal-size);
      height: auto;
      max-height: none;
      max-width: calc(100vw - var(--ui-unit-x8));
      margin: var(--ui-unit-x4);
      inset: 0;
      transform: scale(0.96);
      position: relative;
      border-radius: var(--ui-unit-radius-large);
      overflow: hidden;
    }

    .--position-bottom--$viewport {
      --_s: auto;
      width: 100%;
      height: var(--ui-modal-size);
      max-height: calc(100vh - var(--ui-unit-x4));
      max-width: 100%;
      margin: 0;
      margin-top: var(--ui-unit-x4);
      top: initial;
      bottom: 0;
      inset-inline-start: 0;
      insert-inline-end: 0;
      transform: translate(0, 100%);
      position: fixed;
      border-radius: var(--ui-unit-radius-large) var(--ui-unit-radius-large) 0 0;
      overflow: auto;
    }

    .--position-start--$viewport {
      --_s: calc(var(--ui-unit-x1) * 100);
      width: var(--ui-modal-size);
      height: 100%;
      max-height: 100%;
      max-width: calc(100vw - var(--ui-unit-x4));
      margin: 0;
      margin-inline-end: var(--ui-unit-x4);
      top: 0;
      bottom: 0;
      inset-inline-start: 0;
      inset-inline-end: initial;
      transform: translate(-100%, 0);
      position: fixed;
      border-radius: 0;
      overflow: auto;

      [dir="rtl"] & {
        transform: translate(100%, 0);
      }
    }

    .--position-end--$viewport {
      --_s: calc(var(--ui-unit-x1) * 100);
      width: var(--ui-modal-size);
      height: 100%;
      max-height: 100%;
      max-width: calc(100vw - var(--ui-unit-x4));
      margin: 0;
      margin-inline-start: var(--ui-unit-x4);
      top: 0;
      bottom: 0;
      inset-inline-end: 0;
      inset-inline-start: initial;
      transform: translate(100%, 0);
      position: fixed;
      border-radius: 0;
      overflow: auto;

      [dir="rtl"] & {
        transform: translate(-100%, 0);
      }
    }
  }
}

.--active,
[dir="rtl"] .--active {
  transform: translate(0, 0) scale(1);
  transition-timing-function: var(--ui-easing-decelerate);
}
