.root {
  animation: 80s feature-slider-left linear infinite;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.item {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--rs-unit-x3);
}

.--reversed {
  animation-name: feature-slider-right;
}

@keyframes feature-slider-left {
  from {
    transform: translateX(calc(-50% - 100px));
  }

  to {
    transform: translateX(-100px);
  }
}

@keyframes feature-slider-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}