.root {
  background-color: var(--ui-color-background-neutral);
  /* Border is aligned with background */
  color: var(--ui-color-foreground-neutral);
  transition: var(--ui-duration-fast) var(--ui-easing-standard);
  transition-property: background-color, box-shadow, border, color, opacity,
    transform;
  padding: calc(var(--ui-button-padding-v) - 1px)
    calc(var(--ui-button-padding-h) - 1px);
  min-height: var(--ui-button-min-size);
  min-width: var(--ui-button-min-size);
  cursor: pointer;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  text-align: initial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid transparent;

  &:active {
    transform: scale(0.98);
  }
}

.loader {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.icon {
  /* Starts with 1x and then grows based on the padding size */
  margin-inline-end: var(--ui-button-icon-gap);

  &.--icon-position-end {
    margin-inline-end: 0;
    margin-inline-start: var(--ui-button-icon-gap);
  }

  /* Icon only */
  &:last-child {
    margin-inline-end: 0;
  }
}

.text,
.icon {
  position: relative;
  z-index: 5;
}

.root.--loading {
  cursor: default;

  &:active {
    transform: none;
  }

  & .text,
  & .icon {
    visibility: hidden;
  }

  & .loader {
    display: flex;
  }
}

.root:hover:not(.--loading),
.root.--highlighted {
  background-color: var(--ui-color-background-neutral-highlighted);
  color: var(--ui-color-on-background-neutral-highlighted);
}

.root.--elevated {
  box-shadow: var(--ui-shadow-base);
}

.root.--color-primary {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-on-background-primary);

  &:hover:not(.--loading),
  &.--highlighted {
    background-color: var(--ui-color-background-primary-highlighted);
    color: var(--ui-color-on-background-primary-highlighted);
  }
}

.root.--color-critical {
  background-color: var(--ui-color-background-critical);
  color: var(--ui-color-on-background-critical);

  &:hover:not(.--loading),
  &.--highlighted {
    background-color: var(--ui-color-background-critical-highlighted);
    color: var(--ui-color-on-background-critical-highlighted);
  }
}

.root.--color-positive {
  background-color: var(--ui-color-background-positive);
  color: var(--ui-color-on-background-positive);

  &:hover:not(.--loading),
  &.--highlighted {
    background-color: var(--ui-color-background-positive-highlighted);
    color: var(--ui-color-on-background-positive-highlighted);
  }
}

.root.--color-white {
  background-color: rgba(var(--ui-color-rgb-white), 0.6);
  color: var(--ui-color-black);

  &:hover:not(.--loading),
  &.--highlighted {
    background-color: rgba(var(--ui-color-rgb-white), 1);
    color: var(--ui-color-black);
  }

  &.--elevated {
    background-color: rgba(var(--ui-color-rgb-white), 1);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-white), 0.9);
      color: var(--ui-color-black);
    }
  }

  &.--disabled {
    &,
    &:hover:not(.--loading) {
      background-color: rgba(var(--ui-color-rgb-white), 0.6);
      color: var(--ui-color-black);
      opacity: 0.5;
    }
  }
}

.root.--color-black {
  background-color: rgba(var(--ui-color-rgb-black), 0.6);
  color: var(--ui-color-white);

  &:hover:not(.--loading),
  &.--highlighted {
    background-color: rgba(var(--ui-color-rgb-black), 1);
    color: var(--ui-color-white);
  }

  &.--elevated {
    background-color: rgba(var(--ui-color-rgb-black), 0.9);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-black), 0.9);
      color: var(--ui-color-white);
    }
  }

  &.--disabled {
    &,
    &:hover:not(.--loading) {
      background-color: rgba(var(--ui-color-rgb-black), 0.6);
      color: var(--ui-color-white);
      opacity: 0.5;
    }
  }
}

.root.--disabled {
  &,
  &:hover:not(.--loading) {
    background: var(--ui-color-background-disabled);
    color: var(--ui-color-foreground-disabled);

    &:active {
      transform: none;
    }
  }
}

.root.--icon-only {
  & .icon {
    margin: 0 calc(var(--ui-unit-x1) * -1);
  }
}

.root.--size-small {
  --ui-button-padding-v: var(--ui-unit-x1);
  --ui-button-padding-h: var(--ui-unit-x2);
  --ui-button-min-size: var(--ui-unit-x7);
  --ui-button-icon-gap: var(--ui-unit-x1);

  border-radius: var(--ui-unit-radius-small);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--ui-font-size-body-medium-2);
  line-height: var(--ui-line-height-body-medium-2);
  font-family: var(--ui-font-family-body-medium-2);
  font-weight: var(--ui-font-weight-body-medium-2);
}

.root.--size-medium {
  --ui-button-padding-v: var(--ui-unit-x2);
  --ui-button-padding-h: var(--ui-unit-x3);
  --ui-button-min-size: var(--ui-unit-x9);
  --ui-button-icon-gap: var(--ui-unit-x1);

  border-radius: var(--ui-unit-radius-small);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--ui-font-size-body-medium-2);
  line-height: var(--ui-line-height-body-medium-2);
  font-family: var(--ui-font-family-body-medium-2);
  font-weight: var(--ui-font-weight-body-medium-2);
}

.root.--size-large {
  --ui-button-padding-v: var(--ui-unit-x3);
  --ui-button-padding-h: var(--ui-unit-x4);
  --ui-button-min-size: calc(var(--ui-unit-x1) * 12);
  --ui-button-icon-gap: var(--ui-unit-x2);

  border-radius: var(--ui-unit-radius-medium);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--ui-font-size-body-medium-1);
  line-height: var(--ui-line-height-body-medium-1);
  font-family: var(--ui-font-family-body-medium-1);
  font-weight: var(--ui-font-weight-body-medium-1);
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .root.--size-small--$viewport {
      --ui-button-padding-v: var(--ui-unit-x1);
      --ui-button-padding-h: var(--ui-unit-x2);
      --ui-button-min-size: var(--ui-unit-x7);
      --ui-button-icon-gap: var(--ui-unit-x1);

      border-radius: var(--ui-unit-radius-small);

      /* TODO: Replace with font utilities when they become available */
      font-size: var(--ui-font-size-body-medium-2);
      line-height: var(--ui-line-height-body-medium-2);
      font-family: var(--ui-font-family-body-medium-2);
      font-weight: var(--ui-font-weight-body-medium-2);
    }

    .root.--size-medium--$viewport {
      --ui-button-padding-v: var(--ui-unit-x2);
      --ui-button-padding-h: var(--ui-unit-x3);
      --ui-button-min-size: var(--ui-unit-x9);
      --ui-button-icon-gap: var(--ui-unit-x1);

      border-radius: var(--ui-unit-radius-small);

      /* TODO: Replace with font utilities when they become available */
      font-size: var(--ui-font-size-body-medium-2);
      line-height: var(--ui-line-height-body-medium-2);
      font-family: var(--ui-font-family-body-medium-2);
      font-weight: var(--ui-font-weight-body-medium-2);
    }

    .root.--size-large--$viewport {
      --ui-button-padding-v: var(--ui-unit-x3);
      --ui-button-padding-h: var(--ui-unit-x4);
      --ui-button-min-size: calc(var(--ui-unit-x1) * 12);
      --ui-button-icon-gap: var(--ui-unit-x2);

      border-radius: var(--ui-unit-radius-medium);

      /* TODO: Replace with font utilities when they become available */
      font-size: var(--ui-font-size-body-medium-1);
      line-height: var(--ui-line-height-body-medium-1);
      font-family: var(--ui-font-family-body-medium-1);
      font-weight: var(--ui-font-weight-body-medium-1);
    }
  }
}

.root.--variant-outline {
  border-color: var(--ui-color-border-neutral-faded);

  &.--color-inherit,
  &.--color-neutral {
    color: var(--ui-color-foreground-neutral);
    background-color: var(--ui-color-background-base);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--ui-color-background-neutral-faded);
      color: var(--ui-color-foreground-neutral);
    }
  }

  &.--color-primary {
    background-color: var(--ui-color-background-base);
    color: var(--ui-color-foreground-primary);
    border-color: var(--ui-color-border-primary);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--ui-color-background-primary-faded);
      color: var(--ui-color-foreground-primary);
    }
  }

  &.--color-critical {
    background-color: var(--ui-color-background-base);
    color: var(--ui-color-foreground-critical);
    border-color: var(--ui-color-border-critical);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--ui-color-background-critical-faded);
      color: var(--ui-color-foreground-critical);
    }
  }

  &.--color-positive {
    background-color: var(--ui-color-background-base);
    color: var(--ui-color-foreground-positive);
    border-color: var(--ui-color-border-positive);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--ui-color-background-positive-faded);
      color: var(--ui-color-foreground-positive);
    }
  }

  &.--disabled {
    &,
    &:hover:not(.--loading) {
      background: var(--ui-color-background-disabled-faded);
      color: var(--ui-color-foreground-disabled);
      border-color: var(--ui-color-border-disabled);
    }
  }
}

.root.--variant-ghost {
  --ui-button-padding-h: var(--ui-button-padding-v);
  background: transparent;

  &:hover:not(.--loading),
  &.--highlighted {
    color: var(--ui-color-foreground-neutral);
    background-color: rgba(var(--ui-color-rgb-background-neutral), 0.5);
  }

  &.--color-primary {
    color: var(--ui-color-foreground-primary);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-background-primary), 0.12);
      color: var(--ui-color-foreground-primary);
    }
  }

  &.--color-critical {
    color: var(--ui-color-foreground-critical);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-background-critical), 0.12);
      color: var(--ui-color-foreground-critical);
    }
  }

  &.--color-positive {
    color: var(--ui-color-foreground-positive);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-background-positive), 0.12);
      color: var(--ui-color-foreground-positive);
    }
  }

  &.--color-white {
    color: var(--ui-color-white);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-white), 0.2);
      color: var(--ui-color-white);
    }
  }

  &.--color-black {
    color: var(--ui-color-black);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--ui-color-rgb-black), 0.12);
      color: var(--ui-color-black);
    }
  }

  &.--color-inherit {
    color: currentColor;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--ui-unit-radius-small);
      transition: var(--ui-duration-fast) var(--ui-easing-standard);
      transition-property: opacity;
      background-color: currentColor;
      opacity: 0;
    }

    &:hover:not(.--loading),
    &.--highlighted {
      color: currentColor;
      background: none;

      &:before {
        opacity: 0.12;
      }
    }
  }

  &.--disabled {
    &,
    &:hover:not(.--loading) {
      &,
      &:before {
        background: transparent;
        color: var(--ui-color-foreground-disabled);
      }
    }
  }
}

.root.--rounded,
.root.--rounded:before {
  border-radius: 999px;
}

/* Full width */
.root.--full-width {
  width: 100%;
  text-align: center;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .root.--full-width-false--$viewport {
      width: auto;
      text-align: initial;
    }

    .root.--full-width-true--$viewport {
      width: 100%;
      text-align: center;
    }
  }
}
/* /Full width */

/* Button aligner */
.aligner.--aligner-position-all .root {
  margin: calc(var(--ui-button-padding-v) * -1)
    calc(var(--ui-button-padding-h) * -1);
}

.aligner.--aligner-position-start .root {
  margin-inline-start: calc(var(--ui-button-padding-h) * -1);
}

.aligner.--aligner-position-end .root {
  margin-inline-end: calc(var(--ui-button-padding-h) * -1);
}

.aligner.--aligner-position-top .root {
  margin-top: calc(var(--ui-button-padding-v) * -1);
}

.aligner.--aligner-position-bottom .root {
  margin-bottom: calc(var(--ui-button-padding-v) * -1);
}
