.root {
	color: var(--rs-color-foreground-neutral);
	background: var(--rs-color-background-elevated);
	border-radius: var(--rs-unit-radius-small);
	box-shadow: var(--rs-shadow-elevated);
	padding: var(--rs-unit-x1) var(--rs-unit-x2);
	max-width: 360px;
}

