.root {
  --_uic-bleed: 0;
  --_uic-bleed-m: var(--_uic-bleed);
  --_uic-bleed-l: var(--_uic-bleed-m);
  --_uic-bleed-xl: var(--_uic-bleed-l);
  --_uic-bleed-responsive: var(--_uic-bleed);

  margin-left: calc(var(--uic-unit-x1) * var(--_uic-bleed-responsive) * -1);
  margin-right: calc(var(--uic-unit-x1) * var(--_uic-bleed-responsive) * -1);
}

.--bleed {
  border-left-style: none !important;
  border-right-style: none !important;
  border-radius: 0;
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .--bleed-true--$(viewport) {
      --_uic-bleed-responsive: var(--_uic-bleed-$(viewport));
      border-left-style: none !important;
      border-right-style: none !important;
      border-radius: 0;
    }

    .--bleed-false--$(viewport) {
      --_uic-bleed-responsive: 0;
      border-left-style: solid !important;
      border-right-style: solid !important;
      /* Depends on the radius css utility */
      border-radius: var(--_uic-radius);
    }
  }
}
