.root {
	--_rs-mw: auto;
	--_rs-mw-m: var(--_rs-mw);
	--_rs-mw-l: var(--_rs-mw-m);
	--_rs-mw-xl: var(--_rs-mw-l);
	--_rs-mw-responsive: var(--_rs-mw);

	max-width: var(--_rs-mw-responsive);
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root {
			--_rs-mw-responsive: var(--_rs-mw-$(viewport));
		}
	}
}