.root {
  --_uic-mw: auto;
  --_uic-mw-m: var(--_uic-mw);
  --_uic-mw-l: var(--_uic-mw-m);
  --_uic-mw-xl: var(--_uic-mw-l);
  --_uic-mw-responsive: var(--_uic-mw);

  max-width: var(--_uic-mw-responsive);
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root {
      --_uic-mw-responsive: var(--_uic-mw-$(viewport));
    }
  }
}
