.literal {
  max-width: var(--_uic-mw, auto);
}

.unit {
  max-width: calc(var(--_uic-mw) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      max-width: var(--_uic-mw-$viewport);
    }

    .unit--$viewport {
      max-width: calc(var(--_uic-mw-$viewport) * var(--uic-unit-x1));
    }
  }
}
