.literal {
  max-width: var(--uic-max-w-s, auto);
}

.unit {
  max-width: calc(var(--uic-max-w-s) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      max-width: var(--uic-max-w-$viewport);
    }

    .unit--$viewport {
      max-width: calc(var(--uic-max-w-$viewport) * var(--uic-unit-x1));
    }
  }
}
