.root {
  --_uic-mh: auto;
  --_uic-mh-m: var(--_uic-mh);
  --_uic-mh-l: var(--_uic-mh-m);
  --_uic-mh-xl: var(--_uic-mh-l);
  --_uic-mh-responsive: var(--_uic-mh);

  max-height: var(--_uic-mh-responsive);
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root {
      --_uic-mh-responsive: var(--_uic-mh-$(viewport));
    }
  }
}
