.root {
	--_rs-mh: auto;
	--_rs-mh-m: var(--_rs-mh);
	--_rs-mh-l: var(--_rs-mh-m);
	--_rs-mh-xl: var(--_rs-mh-l);
	--_rs-mh-responsive: var(--_rs-mh);

	max-height: var(--_rs-mh-responsive);
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root {
			--_rs-mh-responsive: var(--_rs-mh-$(viewport));
		}
	}
}