.literal {
  max-height: var(--_uic-mh, auto);
}

.unit {
  max-height: calc(var(--_uic-mh) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      max-height: var(--_uic-mh-$viewport);
    }

    .unit--$viewport {
      max-height: calc(var(--_uic-mh-$viewport) * var(--uic-unit-x1));
    }
  }
}
