.literal {
  max-height: var(--uic-max-h-s, auto);
}

.unit {
  max-height: calc(var(--uic-max-h-s) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      max-height: var(--uic-max-h-$viewport);
    }

    .unit--$viewport {
      max-height: calc(var(--uic-max-h-$viewport) * var(--uic-unit-x1));
    }
  }
}
