.root {
  border: none;
}

.label {
  display: block;
  margin-bottom: var(--uic-unit-x1);
}

.caption {
  margin-top: var(--uic-unit-x1);
  display: block;
}

.caption + .caption {
  margin-top: 0;
}
