.root {}

.item {
	margin-top: var(--rs-unit-x6);
	position: relative;
}

.root > .item:first-child,
.root > pre:first-child .item {
	margin-top: 0;
}

.heading {
	margin-top: var(--rs-unit-x8);
}

.heading:first-child {
	margin-top: 0;
}

.heading + .heading--level-4 {
	margin-top: 0;
}

.headingLink {
	opacity: 0;
	transition: opacity var(--rs-duration-fast) var(--rs-easing-standard);
	display: inline-flex;
	margin-left: var(--rs-unit-x2);
}

.headingWrapper:hover .headingLink,
.headingWrapper:focus .headingLink {
	opacity: 1;
}

.headingAnchor {
	position: relative;
	top: calc(var(--rs-unit-x1) * -22);
}

.root .heading + pre {
	margin-top: var(--rs-unit-x2);
}

.root .heading + pre .item {
	margin-top: 0;
}

.root pre {
	margin-top: 0;
}

.paragraph {
	margin-bottom: 0;
}

.paragraph:first-child {
	margin-top: 0;
}

.paragraph + .paragraph,
.heading + .paragraph {
	margin-top: var(--rs-unit-x4);
}

.highlight + .highlight {
	margin-top: var(--rs-unit-x2);
}

.inlineCode {
	color: var(--rs-color-foreground-primary);
	font-weight: 500;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.itemTable {
	overflow-x: auto;
}

.table {
	width: 100%;
	border: 1px solid var(--rs-color-border-neutral-faded);
}

.tableData {
	border-bottom: 1px solid var(--rs-color-border-neutral-faded);
	padding: var(--rs-unit-x2);
}

.table tr:last-child .tableData {
	border: none;
}

.tableHeading {
	background: var(--rs-color-background-neutral-faded);
	text-align: start;
	padding: var(--rs-unit-x2);
}

.imageBordered {
	border: 1px solid var(--rs-color-border-neutral-faded);
}

.paragraph + .listRoot,
.heading + .listRoot {
	margin-top: var(--rs-unit-x2);
}

.list {
	list-style-type: none;
}

.listItem {
	padding-left: var(--rs-unit-x7);
	margin-top: var(--rs-unit-x2);
	position: relative;
}

.listItem:before {
	content: '\2014';
	color: var(--rs-color-foreground-primary);
	position: absolute;
	left: 0;
}

.listItem:first-child {
	margin-top: 0;
}

.download {
	margin-bottom: calc(var(--rs-unit-x10) * 1);
}