.root {
  border: 1px solid var(--uic-color-border-neutral-faded);
  background: var(--uic-color-background-elevation-base);
  color: var(--uic-color-foreground-neutral);
  display: block;
  position: relative;
  overflow: hidden;
  text-align: initial;
}

.content {
  position: relative;
  z-index: var(--uic-z-index-raised);
}

.--selected {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--uic-color-border-primary);
}

.--elevated {
  background: var(--uic-color-background-elevation-raised);
  box-shadow: var(--uic-shadow-raised);
}

.--actionable:not(.--selected) {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;

  [data-uic-keyboard] &:focus {
    box-shadow: var(--uic-focus-shadow);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--uic-color-rgb-background-neutral-faded), 40%);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--uic-duration-fast) var(--uic-easing-standard);
  }

  &:hover::before {
    opacity: 1;
  }
}
