.root {
  position: relative;
}

.input {
  display: block;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  background: none;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--ui-unit-x2) - 1px);
  border: 1px solid transparent;
  color: var(--ui-color-foreground-neutral);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--ui-font-size-body-2);
  line-height: var(--ui-line-height-body-2);
  font-family: var(--ui-font-family-body-2);
  font-weight: var(--ui-font-weight-body-2);

  &:focus + .decorator,
  &:active + .decorator {
    border: 2px solid var(--ui-color-border-primary);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--ui-color-foreground-disabled);
  }

  &[disabled] + .decorator {
    background: var(--ui-color-background-disabled-faded);
    border: 1px solid var(--ui-color-border-disabled);
  }
}

.decorator {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: var(--ui-color-background-base);
  border: 1px solid var(--ui-color-border-neutral);
  border-radius: var(--ui-unit-radius-small);
}

.root.--status-error {
  .decorator {
    border: 2px solid var(--ui-color-border-critical);
  }

  .input:focus + .decorator,
  .input:active + .decorator {
    border: 2px solid var(--ui-color-border-primary);
  }
}

@media (--ui-viewport-s) and (hover: none) {
  .input {
    font-size: var(--ui-font-size-body-1);
  }
}
