.root {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: initial;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  -webkit-tap-highlight-color: none;

  &:focus {
    outline: none;
    z-index: var(--uic-z-index-raised);
  }
}

button.root,
[role="button"].root {
  cursor: pointer;
}

.root.--disabled,
.root[disabled] {
  cursor: not-allowed;

  &:active {
    transform: none;
  }
}

.--full-width {
  width: 100%;
}

[data-uic-keyboard] .root:focus {
  box-shadow: var(--uic-focus-shadow);
}

[data-uic-keyboard] .root.--inset:focus {
  box-shadow: var(--uic-focus-inset-shadow);
}

[data-uic-keyboard] .root.--radius-inherit {
  &:focus {
    box-shadow: none;
  }

  &:focus > * {
    box-shadow: var(--uic-focus-shadow);
  }

  &.--inset:focus > * {
    box-shadow: var(--uic-focus-inset-shadow);
  }
}
