.content {
  max-width: 360px;
}

.content--variant-elevated {
  border-radius: var(--uic-unit-radius-medium);
  background: var(--uic-color-background-elevated);
  color: var(--uic-color-foreground-neutral);
  border: 1px solid var(--uic-color-border-neutral-faded);
  box-shadow: var(--uic-shadow-elevated);
  overflow: hidden;
  min-width: 220px;
}

.content.content--has-width {
  max-width: none;
  min-width: 0;
}

@media (--uic-viewport-s) {
  .content {
    max-width: none;
  }
}
