.root {
	padding: var(--rs-unit-x2) 0;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: var(--rs-z-index-fixed);
	transition: background var(--rs-duration-fast) var(--rs-easing-standard);
}

.root--bg {
	backdrop-filter: blur(10px);
	background: rgba(var(--rs-color-rgb-background-base), 0.84);
	border-bottom: 1px solid var(--rs-color-border-neutral-faded);
}

.root--minimal {
	position: absolute;
	background: none;
	border: none;
}

.root--figma-plugin {
	pointer-events: none;
}

.root [data-interactive] {
	pointer-events: all;
}

.arrow {
	position: absolute;
	margin-right: 80px;
	margin-top: 40px;
}

@media (--rs-viewport-m) {
	.root {
		padding: var(--rs-unit-x3) 0;
	}
}

/* Deal */
.banner {
	position: relative;
	z-index: var(--rs-z-index-fixed);
}

.root--banner.root--minimal {
	position: relative;
}

.close {
	position: absolute;
	inset-inline-end: var(--rs-unit-x2);
	top: 50%;
	transform: translateY(-50%);
} 