
			[data-uic-theme="twitter-light"], [data-uic-theme="twitter-dark"] {
					--uic-color-background-primary: #1da1f2;
--uic-color-background-primary-highlighted: #1a90da;
--uic-color-on-background-primary: #fff;
--uic-color-rgb-background-primary: 29, 161, 242;
--uic-color-on-background-primary-highlighted: #fff;
--uic-color-rgb-background-primary-highlighted: 26, 144, 218;
			}
		
			[data-uic-theme="twitter-light"] {
					
			}
		
			[data-uic-theme="twitter-dark"] {
					
			}
		