.root {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  border: 0;
  outline: none;
  position: relative;
  z-index: 1;
  background: none;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: var(--ui-unit-x1);
  padding-inline-start: var(--ui-unit-x2);
  padding-inline-end: var(--ui-unit-x8);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: var(--ui-color-foreground-neutral);
  min-height: var(--ui-unit-x9);

  /* TODO: Replace with font utilities when they become available */
  font-size: var(--ui-font-size-body-2);
  font-family: var(--ui-font-family-body-2);
  font-weight: var(--ui-font-weight-body-2);

  /* Firefox text alignment */
  line-height: var(--ui-unit-x7) !important;

  &::-ms-expand {
    display: none;
  }

  &:focus + .decorator,
  &:active + .decorator {
    border: 2px solid var(--ui-color-border-primary);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[disabled] + .decorator {
    background: var(--ui-color-background-disabled-faded);
    border: 1px solid var(--ui-color-border-disabled);
    color: var(--ui-color-foreground-disabled);
  }
}

.decorator {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: var(--ui-color-background-base);
  border: 1px solid var(--ui-color-border-neutral);
  border-radius: var(--ui-unit-radius-small);
}

.slot {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &:first-child {
    padding-inline-start: var(--ui-unit-x2);
  }
}

.icon {
  position: absolute;
  inset-inline-end: var(--ui-unit-x2);
  inset-block-start: 50%;
  transform: translateY(-50%);
  z-index: 5;
  pointer-events: none;
  display: flex;
  color: var(--ui-color-foreground-neutral-faded);
}

.root.--status-error {
  .decorator {
    border: 2px solid var(--ui-color-border-critical);
  }

  .input:focus + .decorator,
  .input:active + .decorator {
    border: 2px solid var(--ui-color-border-primary);
  }
}

.root.--placeholder .input {
  color: var(--ui-color-foreground-neutral-faded);
}

.root.--disabled .input,
.root.--disabled .slot {
  cursor: not-allowed;
  color: var(--ui-color-foreground-disabled);
}

.root.--disabled .icon {
  color: var(--ui-color-foreground-disabled);
}

@media (--ui-viewport-s) and (hover: none) {
  .input {
    font-size: var(--ui-font-size-body-2);
  }
}
