.root {
  --_uic-p: 0;
  --_uic-p-m: var(--_uic-p);
  --_uic-p-l: var(--_uic-p-m);
  --_uic-p-xl: var(--_uic-p-l);
  --_uic-p-responsive: var(--_uic-p);

  padding: calc(var(--_uic-p-responsive) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root {
      --_uic-p-responsive: var(--_uic-p-$(viewport));
    }
  }
}
