.root {
	--_rs-p: 0;
	--_rs-p-m: var(--_rs-p);
	--_rs-p-l: var(--_rs-p-m);
	--_rs-p-xl: var(--_rs-p-l);
	--_rs-p-responsive: var(--_rs-p);

	padding: calc(var(--_rs-p-responsive) * var(--rs-unit-x1));
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root {
			--_rs-p-responsive: var(--_rs-p-$(viewport));
		}
	}
}