.item--padded {
	padding-inline-start: var(--rs-unit-x3);
}

@media (--rs-viewport-l) {
	.root {
		position: relative;
		padding-top: calc(var(--rs-unit-x1) * 9);
	}
	
	.search {
		position: sticky;
		top: calc(var(--rs-unit-x1) * 9);
		z-index: 10;
	}
}