.root {
  transition: transform var(--uic-easing-accelerate) var(--uic-duration-medium);
  background: var(--uic-color-background-elevation-overlay);
  color: var(--uic-color-foreground-neutral);
  box-shadow: var(--uic-shadow-overlay);
}

@responsive .root {
  @variable --uic-modal-size calc(var(--uic-unit-x1) * 100);
}

@responsive .--position {
  @value center {
    --uic-modal-size-s: calc(var(--uic-unit-x1) * 100);

    width: var(--uic-modal-size);
    height: auto;
    max-width: calc(100vw - var(--uic-unit-x8));
    max-height: none;
    margin: var(--uic-unit-x4);
    inset: 0;
    transform: scale(0.96);
    position: relative;
    border-radius: var(--uic-unit-radius-large);
    overflow: hidden;
  }

  @value bottom {
    --uic-modal-size-s: auto;

    width: 100%;
    height: var(--uic-modal-size);
    max-width: 100%;
    max-height: calc(100vh - var(--uic-unit-x4));
    margin: 0;
    margin-top: var(--uic-unit-x4);
    inset: 0;
    inset-block-start: initial;
    transform: translate(0, 100%);
    position: fixed;
    border-radius: var(--uic-unit-radius-large) var(--uic-unit-radius-large) 0 0;
    overflow: auto;
  }

  @value start {
    --uic-modal-size-s: calc(var(--uic-unit-x1) * 100);

    width: var(--uic-modal-size);
    height: 100%;
    max-width: calc(100vw - var(--uic-unit-x4));
    max-height: 100%;
    margin: 0;
    margin-inline-end: var(--uic-unit-x4);
    inset: 0;
    inset-inline-end: initial;
    transform: translate(-100%, 0);
    position: fixed;
    border-radius: 0;
    overflow: auto;

    [dir="rtl"] & {
      transform: translate(100%, 0);
    }
  }

  @value end {
    --uic-modal-size-s: calc(var(--uic-unit-x1) * 100);

    width: var(--uic-modal-size);
    height: 100%;
    max-width: calc(100vw - var(--uic-unit-x4));
    max-height: 100%;
    margin: 0;
    margin-inline-start: var(--uic-unit-x4);
    inset: 0;
    inset-inline-start: initial;
    transform: translate(100%, 0);
    position: fixed;
    border-radius: 0;
    overflow: auto;

    [dir="rtl"] & {
      transform: translate(-100%, 0);
    }
  }
}

.--active,
[dir="rtl"] .--active {
  transform: translate(0, 0) scale(1) !important;
  transition-timing-function: var(--uic-easing-decelerate);
}
