.root {
  --_b: 0;
  --_b-m: var(--_b);
  --_b-l: var(--_b-m);
  --_b-xl: var(--_b-l);
  --ui-card-bleed: var(--_b);

  --_p: 0;
  --_p-m: var(--_p);
  --_p-l: var(--_p-m);
  --_p-xl: var(--_p-l);
  --ui-card-padding: var(--_p);

  border: 1px solid var(--ui-color-border-neutral-faded);
  border-radius: var(--ui-unit-radius-medium);
  background: var(--ui-color-background-base);
  color: var(--ui-color-foreground-neutral);
  display: block;
  position: relative;
  overflow: hidden;
  text-align: initial;
  padding: calc(var(--ui-unit-x1) * var(--ui-card-padding));
  margin-left: calc(var(--ui-unit-x1) * var(--ui-card-bleed) * -1);
  margin-right: calc(var(--ui-unit-x1) * var(--ui-card-bleed) * -1);
}

@media (--ui-viewport-m) {
  .root {
    --ui-card-padding: var(--_p-m);
  }
}

@media (--ui-viewport-l) {
  .root {
    --ui-card-padding: var(--_p-l);
  }
}

@media (--ui-viewport-xl) {
  .root {
    --ui-card-padding: var(--_p-xl);
  }
}

.content {
  position: relative;
  z-index: var(--ui-z-index-elevated);
}

.--selected {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--ui-color-border-primary);
}

.--elevated {
  background: var(--ui-color-background-base);
  box-shadow: var(--ui-shadow-base);
}

.--actionable:not(.--selected) {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;

  [data-rs-keyboard] &:focus {
    box-shadow: var(--ui-focus-shadow);
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--ui-color-rgb-background-neutral-faded), 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--ui-duration-fast) var(--ui-easing-standard);
  }

  &:hover:before {
    opacity: 1;
  }
}

.--bleed {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    .--bleed-true--$(viewport) {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    .--bleed-false--$(viewport) {
      border-left: 1px solid var(--ui-color-border-neutral-faded);
      border-right: 1px solid var(--ui-color-border-neutral-faded);
      border-radius: var(--ui-unit-radius-medium);
    }

    /*
		We need to update variable in both cases, if it's true or false
		since false resets it to 0
		*/
    .--bleed-true--$(viewport),
    .--bleed-false--$(viewport) {
      --ui-card-bleed: var(--_b-$(viewport));
    }
  }
}
