.root {
	/* Center svg in squared icon */
	--rs-icon-px-size: calc(var(--rs-unit-x1) * var(--rs-icon-size));
	display: flex;
	justify-content: center;
	height: var(--rs-icon-px-size, 1em);
	width: var(--rs-icon-px-size, 1em);
}

.--auto {
	width: auto;
	justify-content: flex-start;
}

.root svg {
	display: block;
	height: 100%;
	/* fill: currentColor; */
}

@each $color in (neutral-faded, primary, positive, critical) {
	.--color-$color {
		color: var(--rs-color-foreground-$color);
	}
}


.root {
	--_s: initial;
	--_s-m: var(--_s);
	--_s-l: var(--_s-m);
	--_s-xl: var(--_s-l);
	--rs-icon-size: var(--_s);
}

@media (--rs-viewport-m) {
	.root {
		--rs-icon-size: var(--_s-m);
	}
}

@media (--rs-viewport-l) {
	.root {
		--rs-icon-size: var(--_s-l);
	}
}

@media (--rs-viewport-xl) {
	.root {
		--rs-icon-size: var(--_s-xl);
	}
}