.root {
  position: relative;
}

.input {
  display: block;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  background: none;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--uic-text-area-padding) - 1px);
  color: var(--uic-color-foreground-neutral);
  background: var(--uic-color-background-base);
  border: 1px solid var(--uic-color-border-neutral);
  border-radius: var(--uic-unit-radius-small);

  &:focus,
  &:active {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--uic-color-foreground-disabled);
    background: var(--uic-color-background-disabled-faded);
    border-color: var(--uic-color-border-disabled);
  }
}

.root.--size-medium {
  --uic-text-area-padding: var(--uic-unit-x2);
  border-radius: var(--uic-unit-radius-small);

  & .input {
    font-size: var(--uic-font-size-body-2);
    line-height: var(--uic-line-height-body-2);
    font-weight: var(--uic-font-weight-body-2);
    font-family: var(--uic-font-family-body-2);
  }
}

.root.--size-large {
  --uic-text-area-padding: var(--uic-unit-x3);
  border-radius: var(--uic-unit-radius-medium);

  & .input {
    font-size: var(--uic-font-size-body-2);
    line-height: var(--uic-line-height-body-2);
    font-weight: var(--uic-font-weight-body-2);
    font-family: var(--uic-font-family-body-2);
  }
}

.root.--size-xlarge {
  --uic-text-area-padding: var(--uic-unit-x4);
  border-radius: var(--uic-unit-radius-medium);

  & .input {
    font-size: var(--uic-font-size-body-1);
    line-height: var(--uic-line-height-body-1);
    font-weight: var(--uic-font-weight-body-1);
    font-family: var(--uic-font-family-body-1);
  }
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root.--size-medium--$viewport {
      --uic-text-area-padding: var(--uic-unit-x2);
      border-radius: var(--uic-unit-radius-small);

      & .input {
        font-size: var(--uic-font-size-body-2);
        line-height: var(--uic-line-height-body-2);
        font-weight: var(--uic-font-weight-body-2);
        font-family: var(--uic-font-family-body-2);
      }
    }

    .root.--size-large--$viewport {
      --uic-text-area-padding: var(--uic-unit-x3);
      border-radius: var(--uic-unit-radius-medium);

      & .input {
        font-size: var(--uic-font-size-body-2);
        line-height: var(--uic-line-height-body-2);
        font-weight: var(--uic-font-weight-body-2);
        font-family: var(--uic-font-family-body-2);
      }
    }

    .root.--size-xlarge--$viewport {
      --uic-text-area-padding: var(--uic-unit-x4);
      border-radius: var(--uic-unit-radius-medium);

      & .input {
        font-size: var(--uic-font-size-body-1);
        line-height: var(--uic-line-height-body-1);
        font-weight: var(--uic-font-weight-body-1);
        font-family: var(--uic-font-family-body-1);
      }
    }
  }
}

.root.--status-error {
  & .input {
    border-color: var(--uic-color-border-critical);
  }

  & .input:focus,
  & .input:active {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }
}

@media (--uic-viewport-s) and (hover: none) {
  .input {
    font-size: var(--uic-font-size-body-1);
  }
}
