.root {
  position: relative;
}

.input {
  display: block;
  outline: none;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--uic-text-area-padding) - 1px);
  color: var(--uic-color-foreground-neutral);
  background: var(--uic-color-background-elevation-base);
  border: 1px solid var(--uic-color-border-neutral);
  border-radius: var(--uic-unit-radius-small);
  font-weight: var(--uic-font-weight-regular);
  font-family: var(--uic-font-family-body);

  &:focus {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--uic-color-foreground-disabled);
    background: var(--uic-color-background-disabled-faded);
    border-color: var(--uic-color-border-disabled);
  }
}

@responsive .--size {
  @value medium {
    --uic-text-area-padding: var(--uic-unit-x2);

    border-radius: var(--uic-unit-radius-small);

    & .input {
      font-size: var(--uic-font-size-body-3);
      line-height: var(--uic-line-height-body-3);
    }
  }

  @value large {
    --uic-text-area-padding: var(--uic-unit-x3);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }

  @value xlarge {
    --uic-text-area-padding: var(--uic-unit-x4);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }
}

.root.--variant-faded {
  & .input {
    background: var(--uic-color-background-neutral-faded);
    border-color: transparent;
  }

  & .input:focus {
    border-color: var(--uic-color-border-primary);
  }
}

.root.--variant-headless {
  & .input {
    background: transparent;
    border-color: transparent;
  }

  & .input:focus,
  &.--status-error .input,
  &.--status-error .input:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

.root.--status-error {
  & .input {
    border-color: var(--uic-color-border-critical);
  }

  & .input:focus,
  & .input:active {
    border-color: var(--uic-color-border-primary);
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
  }
}

@media (--uic-viewport-s) and (hover: none) {
  .input {
    font-size: var(--uic-font-size-body-2) !important;
  }
}
