.root {
  /* In case parent changes its color */
  transition: color var(--ui-duration-fast) var(--ui-easing-standard);
}

@each $value in start, center, end {
  .--align-$(value) {
    text-align: $value;
  }
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) {
    @each $value in start, center, end {
      .--align-$(value)--$(viewport) {
        text-align: $value;
      }
    }
  }
}

.--clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--_ml);
  overflow: hidden;
}

@each $variant in display-1, display-2, display-3, featured-1, featured-2,
  featured-3, title-1, title-2, title-3, body-strong-1, body-strong-2,
  body-medium-1, body-medium-2, body-1, body-2, caption-1, caption-2
{
  .--variant-$(variant) {
    font-size: var(--ui-font-size-$(variant));
    line-height: var(--ui-line-height-$(variant));
    font-weight: var(--ui-font-weight-$(variant));
    font-family: var(--ui-font-family-$(variant));

    @each $viewport in m, l, xl {
      @media (--ui-viewport-$(viewport)) {
        font-size: var(--ui-font-size-$(variant)-$(viewport));
        line-height: var(--ui-line-height-$(variant)-$(viewport));
        font-weight: var(--ui-font-weight-$(variant)-$(viewport));
        font-family: var(--ui-font-family-$(variant)-$(viewport));
      }
    }
  }
}

.--color-neutral {
  color: var(--ui-color-foreground-neutral);
}

.--color-neutral-faded {
  color: var(--ui-color-foreground-neutral-faded);
}

.--color-positive {
  color: var(--ui-color-foreground-positive);
}

.--color-critical {
  color: var(--ui-color-foreground-critical);
}

.--color-primary {
  color: var(--ui-color-foreground-primary);
}

.--color-disabled {
  color: var(--ui-color-foreground-disabled);
}

.--decoration-line-through {
  text-decoration: line-through;
}
