.root {
  --_uic-h: auto;
  --_uic-h-m: var(--_uic-h);
  --_uic-h-l: var(--_uic-h-m);
  --_uic-h-xl: var(--_uic-h-l);
  --_uic-h-responsive: var(--_uic-h);

  height: var(--_uic-h-responsive);
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .root {
      --_uic-h-responsive: var(--_uic-h-$(viewport));
    }
  }
}
