.literal,
.unit {
  --uic-h-s: auto;
  --uic-h-m: var(--uic-h-s);
  --uic-h-l: var(--uic-h-m);
  --uic-h-xl: var(--uic-h-l);

  height: var(--uic-h);
}

.literal {
  --uic-h: var(--uic-h-s);
}

.unit {
  --uic-h: calc(var(--uic-h-s) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      --uic-h: var(--uic-h-$viewport);
    }

    .unit--$viewport {
      --uic-h: calc(var(--uic-h-$viewport) * var(--uic-unit-x1));
    }
  }
}
