.literal {
  height: var(--_uic-h, auto);
}

.unit {
  height: calc(var(--_uic-h) * var(--uic-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .literal--$viewport {
      height: var(--_uic-h-$viewport);
    }

    .unit--$viewport {
      height: calc(var(--_uic-h-$viewport) * var(--uic-unit-x1));
    }
  }
}
