[data-uic-theme="figma"][data-uic-color-mode="light"],
[data-uic-theme="figma"][data-uic-color-mode="dark"] {
  --uic-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --uic-font-weight-regular: 400;
  --uic-font-weight-medium: 500;
  --uic-font-weight-semibold: 600;
  --uic-font-weight-bold: 700;
  --uic-font-weight-heavy: 800;
  --uic-font-weight-black: 900;
  --uic-font-size-title-1: 80px;
  --uic-line-height-title-1: 84px;
  --uic-font-family-title-1: var(--uic-font-family-title);
  --uic-font-weight-title-1: var(--uic-font-weight-semibold);
  --uic-font-size-title-2: 64px;
  --uic-line-height-title-2: 68px;
  --uic-font-family-title-2: var(--uic-font-family-title);
  --uic-font-weight-title-2: var(--uic-font-weight-semibold);
  --uic-font-size-title-3: 56px;
  --uic-line-height-title-3: 60px;
  --uic-font-family-title-3: var(--uic-font-family-title);
  --uic-font-weight-title-3: var(--uic-font-weight-semibold);
  --uic-font-size-title-4: 40px;
  --uic-line-height-title-4: 44px;
  --uic-font-family-title-4: var(--uic-font-family-title);
  --uic-font-weight-title-4: var(--uic-font-weight-semibold);
  --uic-font-size-title-5: 36px;
  --uic-line-height-title-5: 40px;
  --uic-font-family-title-5: var(--uic-font-family-title);
  --uic-font-weight-title-5: var(--uic-font-weight-semibold);
  --uic-font-size-title-6: 24px;
  --uic-line-height-title-6: 28px;
  --uic-font-family-title-6: var(--uic-font-family-title);
  --uic-font-weight-title-6: var(--uic-font-weight-semibold);
  --uic-font-size-featured-1: 22px;
  --uic-line-height-featured-1: 28px;
  --uic-font-family-featured-1: var(--uic-font-family-body);
  --uic-font-size-featured-2: 20px;
  --uic-line-height-featured-2: 28px;
  --uic-font-family-featured-2: var(--uic-font-family-body);
  --uic-font-size-featured-3: 18px;
  --uic-line-height-featured-3: 24px;
  --uic-font-family-featured-3: var(--uic-font-family-body);
  --uic-font-size-body-1: 14px;
  --uic-line-height-body-1: 20px;
  --uic-font-family-body-1: var(--uic-font-family-body);
  --uic-font-size-body-2: 13px;
  --uic-line-height-body-2: 20px;
  --uic-font-family-body-2: var(--uic-font-family-body);
  --uic-font-size-body-3: 11px;
  --uic-line-height-body-3: 16px;
  --uic-font-family-body-3: var(--uic-font-family-body);
  --uic-font-size-caption-1: 11px;
  --uic-line-height-caption-1: 16px;
  --uic-font-family-caption-1: var(--uic-font-family-body);
  --uic-font-size-caption-2: 10px;
  --uic-line-height-caption-2: 12px;
  --uic-font-family-caption-2: var(--uic-font-family-body);
  --uic-unit-base: 4px;
  --uic-unit-radius-small: 4px;
  --uic-unit-radius-medium: 4px;
  --uic-unit-radius-large: 4px;
  --uic-unit-x1: 4px;
  --uic-unit-x2: 8px;
  --uic-unit-x3: 12px;
  --uic-unit-x4: 16px;
  --uic-unit-x5: 20px;
  --uic-unit-x6: 24px;
  --uic-unit-x7: 28px;
  --uic-unit-x8: 32px;
  --uic-unit-x9: 36px;
  --uic-unit-x10: 40px;
  --uic-color-black: #000000;
  --uic-color-white: #ffffff;
  --uic-color-on-background-primary: #ffffff;
  --uic-color-on-background-positive: #ffffff;
  --uic-color-on-background-critical: #ffffff;
  --uic-color-rgb-black: 0, 0, 0;
  --uic-color-rgb-white: 255, 255, 255;
  --uic-duration-fast: 200ms;
  --uic-duration-medium: 300ms;
  --uic-duration-slow: 400ms;
  --uic-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --uic-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --uic-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --uic-shadow-raised: 0px 1px 3px rgba(0, 0, 0, 0.15);
  --uic-shadow-overlay: 0px 10px 24px rgba(0, 0, 0, 0.1),
    0px 2px 5px rgba(0, 0, 0, 0.04);
}

[data-uic-theme="figma"][data-uic-color-mode="light"] {
  --uic-color-foreground-neutral: #191919;
  --uic-color-foreground-neutral-faded: #474747;
  --uic-color-foreground-disabled: #b2b2b2;
  --uic-color-foreground-primary: #007be5;
  --uic-color-foreground-positive: #009951;
  --uic-color-foreground-critical: #dc3412;
  --uic-color-background-neutral: #dfe2ea;
  --uic-color-background-neutral-faded: #f5f5f5;
  --uic-color-background-neutral-highlighted: #d4d8e3;
  --uic-color-background-disabled: #e4e4e4;
  --uic-color-background-disabled-faded: #f5f5f5;
  --uic-color-background-primary: #0d99ff;
  --uic-color-background-primary-highlighted: #007be5;
  --uic-color-background-primary-faded: #e5f4ff;
  --uic-color-background-positive: #14ae5c;
  --uic-color-background-positive-faded: #daecdf;
  --uic-color-background-positive-highlighted: #009951;
  --uic-color-background-critical: #f24822;
  --uic-color-background-critical-faded: #ffe2e0;
  --uic-color-background-critical-highlighted: #dc3412;
  --uic-color-border-neutral: #e6e6e6;
  --uic-color-border-neutral-faded: #e6e6e6;
  --uic-color-border-disabled: #e6e6e6;
  --uic-color-border-primary: #007be5;
  --uic-color-border-primary-faded: #bde3ff;
  --uic-color-border-positive: #009951;
  --uic-color-border-positive-faded: #bbddc6;
  --uic-color-border-critical: #dc3412;
  --uic-color-border-critical-faded: #ffc7c2;
  --uic-color-background-page: #ffffff;
  --uic-color-background-page-faded: #fafafa;
  --uic-color-background-elevation-base: #ffffff;
  --uic-color-background-elevation-raised: #ffffff;
  --uic-color-background-elevation-overlay: #ffffff;
  --uic-color-on-background-neutral: #000000;
  --uic-color-rgb-background-neutral: 223, 226, 234;
  --uic-color-rgb-background-neutral-faded: 245, 245, 245;
  --uic-color-rgb-background-neutral-highlighted: 212, 216, 227;
  --uic-color-rgb-background-disabled: 228, 228, 228;
  --uic-color-rgb-background-disabled-faded: 245, 245, 245;
  --uic-color-rgb-background-primary: 13, 153, 255;
  --uic-color-rgb-background-primary-highlighted: 0, 123, 229;
  --uic-color-rgb-background-primary-faded: 229, 244, 255;
  --uic-color-rgb-background-positive: 20, 174, 92;
  --uic-color-rgb-background-positive-faded: 218, 236, 223;
  --uic-color-rgb-background-positive-highlighted: 0, 153, 81;
  --uic-color-rgb-background-critical: 242, 72, 34;
  --uic-color-rgb-background-critical-faded: 255, 226, 224;
  --uic-color-rgb-background-critical-highlighted: 220, 52, 18;
  --uic-color-rgb-background-page: 255, 255, 255;
  --uic-color-rgb-background-page-faded: 250, 250, 250;
  --uic-color-rgb-background-elevation-base: 255, 255, 255;
  --uic-color-rgb-background-elevation-raised: 255, 255, 255;
  --uic-color-rgb-background-elevation-overlay: 255, 255, 255;
}

[data-uic-theme="figma"][data-uic-color-mode="dark"] {
  --uic-color-foreground-neutral: #ffffff;
  --uic-color-foreground-neutral-faded: #b2b2b2;
  --uic-color-foreground-disabled: #656565;
  --uic-color-foreground-primary: #7cc4f8;
  --uic-color-foreground-positive: #79d297;
  --uic-color-foreground-critical: #fca397;
  --uic-color-background-neutral: #444444;
  --uic-color-background-neutral-faded: #383838;
  --uic-color-background-neutral-highlighted: #525252;
  --uic-color-background-disabled: #474747;
  --uic-color-background-disabled-faded: #3a3a3a;
  --uic-color-background-primary: #0c8ce9;
  --uic-color-background-primary-highlighted: #0a6dc2;
  --uic-color-background-primary-faded: #394360;
  --uic-color-background-positive: #198f51;
  --uic-color-background-positive-faded: #3d5749;
  --uic-color-background-positive-highlighted: #078348;
  --uic-color-background-critical: #e03e1a;
  --uic-color-background-critical-faded: #60332a;
  --uic-color-background-critical-highlighted: #c4381c;
  --uic-color-border-neutral: #444444;
  --uic-color-border-neutral-faded: #444444;
  --uic-color-border-disabled: #3e3e3e;
  --uic-color-border-primary: #7cc4f8;
  --uic-color-border-primary-faded: #2a4d72;
  --uic-color-border-positive: #79d297;
  --uic-color-border-positive-faded: #086338;
  --uic-color-border-critical: #fca397;
  --uic-color-border-critical-faded: #803226;
  --uic-color-background-page: #2c2c2c;
  --uic-color-background-page-faded: #1e1e1e;
  --uic-color-background-elevation-base: #2c2c2c;
  --uic-color-background-elevation-raised: #2c2c2c;
  --uic-color-background-elevation-overlay: #2c2c2c;
  --uic-color-on-background-neutral: #ffffff;
  --uic-color-rgb-background-neutral: 68, 68, 68;
  --uic-color-rgb-background-neutral-faded: 56, 56, 56;
  --uic-color-rgb-background-neutral-highlighted: 82, 82, 82;
  --uic-color-rgb-background-disabled: 71, 71, 71;
  --uic-color-rgb-background-disabled-faded: 58, 58, 58;
  --uic-color-rgb-background-primary: 12, 140, 233;
  --uic-color-rgb-background-primary-highlighted: 10, 109, 194;
  --uic-color-rgb-background-primary-faded: 57, 67, 96;
  --uic-color-rgb-background-positive: 25, 143, 81;
  --uic-color-rgb-background-positive-faded: 61, 87, 73;
  --uic-color-rgb-background-positive-highlighted: 7, 131, 72;
  --uic-color-rgb-background-critical: 224, 62, 26;
  --uic-color-rgb-background-critical-faded: 96, 51, 42;
  --uic-color-rgb-background-critical-highlighted: 196, 56, 28;
  --uic-color-rgb-background-page: 44, 44, 44;
  --uic-color-rgb-background-page-faded: 30, 30, 30;
  --uic-color-rgb-background-elevation-base: 44, 44, 44;
  --uic-color-rgb-background-elevation-raised: 44, 44, 44;
  --uic-color-rgb-background-elevation-overlay: 44, 44, 44;
}
