.root {
  position: relative;
}

.control {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: var(--uic-duration-fast) var(--uic-easing-standard);
  transition-property: opacity, transform;
  transform-origin: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  display: none;
  z-index: var(--uic-z-index-raised);
}

.--control-prev {
  left: 0;
}

.--control-next {
  left: 100%;
}

.--control-visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0 calc(var(--uic-unit-x1) * var(--uic-carousel-bleed) * -1);
  padding: 0 calc(var(--uic-unit-x1) * var(--uic-carousel-bleed));
  scroll-snap-type: inline;
  scroll-padding-inline-start: calc(
    var(--uic-unit-x1) * var(--uic-carousel-bleed)
  );
}

.scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.item {
  --uic-carousel-item-width: calc(
    100% / var(--uic-carousel-items) - var(--uic-view-gap-value) *
      (var(--uic-carousel-items) - 1) / var(--uic-carousel-items)
  );

  scroll-snap-align: start;
  width: var(--uic-carousel-item-width);
  position: relative;
}

@media (--uic-viewport-l), (hover: hover) {
  .--control-rendered {
    display: block;
  }
}

@media (hover: none) {
  .--bleed .item {
    width: calc(var(--uic-carousel-item-width) - 10% / var(--uic-carousel-items));
  }
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) and (hover: none) {
    .--bleed-true--$(viewport) .item {
      width: calc(
        var(--uic-carousel-item-width) - 10% / var(--uic-carousel-items)
      );
    }

    .--bleed-false--$(viewport) .item {
      width: var(--uic-carousel-item-width);
    }
  }
}

@responsive .root {
  @variable --uic-carousel-items unset;
  @variable --uic-carousel-bleed 0;
}
