.root {
  position: relative;
}

.control {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: var(--ui-duration-fast) var(--ui-easing-standard);
  transition-property: opacity, transform;
  transform-origin: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  display: none;
  z-index: var(--ui-z-index-elevated);
}

.--control-prev {
  left: 0;
}

.--control-next {
  left: 100%;
}

.--control-visible > * {
  pointer-events: none;
}

.--control-visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.--control-visible > * {
  pointer-events: all;
}

.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0 calc(var(--ui-unit-x1) * var(--ui-carousel-bleed) * -1);
  padding: 0 calc(var(--ui-unit-x1) * var(--ui-carousel-bleed));
  scroll-snap-type: inline;
  scroll-padding-inline-start: calc(
    var(--ui-unit-x1) * var(--ui-carousel-bleed)
  );
}

.scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.item {
  --ui-carousel-item-width: calc(
    100% / var(--ui-carousel-items) - var(--ui-view-gap) *
      (var(--ui-carousel-items) - 1) / var(--ui-carousel-items)
  );
  scroll-snap-align: start;
  width: var(--ui-carousel-item-width);
  position: relative;
}

@media (--ui-viewport-l), (hover: hover) {
  .--control-rendered {
    display: block;
  }
}

@media (hover: none) {
  .--bleed .item {
    width: calc(var(--ui-carousel-item-width) - 10% / var(--ui-carousel-items));
  }
}

@each $viewport in m, l, xl {
  @media (--ui-viewport-$viewport) and (hover: none) {
    .--bleed-true--$(viewport) .item {
      width: calc(
        var(--ui-carousel-item-width) - 10% / var(--ui-carousel-items)
      );
    }

    .--bleed-false--$(viewport) .item {
      width: var(--ui-carousel-item-width);
    }
  }
}

/* Variables */
.root {
  --_i: unset;
  --_i-m: var(--_i);
  --_i-l: var(--_i-m);
  --_i-xl: var(--_i-l);
  --ui-carousel-items: var(--_i);

  --_b: 0;
  --_b-m: var(--_b);
  --_b-l: var(--_b-m);
  --_b-xl: var(--_b-l);
  --ui-carousel-bleed: var(--_b);
}

@media (--ui-viewport-m) {
  .root {
    --ui-carousel-items: var(--_i-m);
    --ui-carousel-bleed: var(--_b-m);
  }
}

@media (--ui-viewport-l) {
  .root {
    --ui-carousel-items: var(--_i-l);
    --ui-carousel-bleed: var(--_b-l);
  }
}

@media (--ui-viewport-xl) {
  .root {
    --ui-carousel-items: var(--_i-xl);
    --ui-carousel-bleed: var(--_b-xl);
  }
}
