.root {
	background-color: var(--rs-color-background-neutral);
	/* Border is aligned with background */
	color: var(--rs-color-foreground-neutral);
	transition: var(--rs-duration-fast) var(--rs-easing-standard);
	transition-property: background-color, box-shadow, border, color, opacity, transform;
	padding: calc(var(--rs-button-padding-v) - 1px) calc(var(--rs-button-padding-h) - 1px);
	min-height: var(--rs-button-min-size);
	min-width: var(--rs-button-min-size);
	cursor: pointer;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	text-align: initial;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: 1px solid transparent;

	&:active {
		transform: scale(0.98);
	}
}

.loader {
	position: absolute;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.icon {
	/* Starts with 1x and then grows based on the padding size */
	margin-inline-end: var(--rs-button-icon-gap);

	&.--icon-position-end {
		margin-inline-end: 0;
		margin-inline-start: var(--rs-button-icon-gap);
	}

	/* Icon only */
	&:last-child {
		margin-inline-end: 0;
	}
}

.text,
.icon {
	position: relative;
	z-index: 5;
}

.root.--loading {
	cursor: default;

	&:active {
		transform: none;
	}

	& .text,
	& .icon {
		visibility: hidden;
	}

	& .loader {
		display: flex;
	}
}

.root:hover:not(.--loading),
.root.--highlighted {
	background-color: var(--rs-color-background-neutral-highlighted);
	color: var(--rs-color-on-background-neutral-highlighted);
}

.root.--elevated {
	box-shadow: var(--rs-shadow-base);
}

.root.--color-primary {
	background-color: var(--rs-color-background-primary);
	color: var(--rs-color-on-background-primary);

	&:hover:not(.--loading),
	&.--highlighted {
		background-color: var(--rs-color-background-primary-highlighted);
		color: var(--rs-color-on-background-primary-highlighted);
	}
}

.root.--color-critical {
	background-color: var(--rs-color-background-critical);
	color: var(--rs-color-on-background-critical);

	&:hover:not(.--loading),
	&.--highlighted {
		background-color: var(--rs-color-background-critical-highlighted);
		color: var(--rs-color-on-background-critical-highlighted);
	}
}

.root.--color-positive {
	background-color: var(--rs-color-background-positive);
	color: var(--rs-color-on-background-positive);

	&:hover:not(.--loading),
	&.--highlighted {
		background-color: var(--rs-color-background-positive-highlighted);
		color: var(--rs-color-on-background-positive-highlighted);
	}
}

.root.--color-white {
	background-color: rgba(var(--rs-color-rgb-white), 0.6);
	color: var(--rs-color-black);

	&:hover:not(.--loading),
	&.--highlighted {
		background-color: rgba(var(--rs-color-rgb-white), 1);
		color: var(--rs-color-black);
	}

	&.--elevated {
		background-color: rgba(var(--rs-color-rgb-white), 1);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-white), 0.9);
			color: var(--rs-color-black);
		}
	}

	&.--disabled {
		&,
		&:hover:not(.--loading) {
			background-color: rgba(var(--rs-color-rgb-white), 0.6);
			color: var(--rs-color-black);
			opacity: 0.5;
		}
	}
}

.root.--color-black {
	background-color: rgba(var(--rs-color-rgb-black), 0.6);
	color: var(--rs-color-white);

	&:hover:not(.--loading),
	&.--highlighted {
		background-color: rgba(var(--rs-color-rgb-black), 1);
		color: var(--rs-color-white);
	}

	&.--elevated {
		background-color: rgba(var(--rs-color-rgb-black), 0.9);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-black), 0.9);
			color: var(--rs-color-white);
		}
	}

	&.--disabled {
		&,
		&:hover:not(.--loading) {
			background-color: rgba(var(--rs-color-rgb-black), 0.6);
			color: var(--rs-color-white);
			opacity: 0.5;
		}
	}
}

.root.--disabled {
	&,
	&:hover:not(.--loading) {
		background: var(--rs-color-background-disabled);
		color: var(--rs-color-foreground-disabled);

		&:active {
			transform: none;
		}
	}
}

.root.--icon-only {
	& .icon {
		margin: 0 calc(var(--rs-unit-x1) * -1);
	}
}

.root.--size-small {
	--rs-button-padding-v: var(--rs-unit-x1);
	--rs-button-padding-h: var(--rs-unit-x2);
	--rs-button-min-size: var(--rs-unit-x7);
	--rs-button-icon-gap: var(--rs-unit-x1);

	border-radius: var(--rs-unit-radius-small);

	/* TODO: Replace with font utilities when they become available */
	font-size: var(--rs-font-size-body-medium-2);
	line-height: var(--rs-line-height-body-medium-2);
	font-family: var(--rs-font-family-body-medium-2);
	font-weight: var(--rs-font-weight-body-medium-2);
}

.root.--size-medium {
	--rs-button-padding-v: var(--rs-unit-x2);
	--rs-button-padding-h: var(--rs-unit-x3);
	--rs-button-min-size: var(--rs-unit-x9);
	--rs-button-icon-gap: var(--rs-unit-x1);

	border-radius: var(--rs-unit-radius-small);

	/* TODO: Replace with font utilities when they become available */
	font-size: var(--rs-font-size-body-medium-2);
	line-height: var(--rs-line-height-body-medium-2);
	font-family: var(--rs-font-family-body-medium-2);
	font-weight: var(--rs-font-weight-body-medium-2);
}

.root.--size-large {
	--rs-button-padding-v: var(--rs-unit-x3);
	--rs-button-padding-h: var(--rs-unit-x4);
	--rs-button-min-size: calc(var(--rs-unit-x1) * 12);
	--rs-button-icon-gap: var(--rs-unit-x2);

	border-radius: var(--rs-unit-radius-medium);

	/* TODO: Replace with font utilities when they become available */
	font-size: var(--rs-font-size-body-medium-1);
	line-height: var(--rs-line-height-body-medium-1);
	font-family: var(--rs-font-family-body-medium-1);
	font-weight: var(--rs-font-weight-body-medium-1);
}

.root.--size-xlarge {
	--rs-button-padding-v: var(--rs-unit-x4);
	--rs-button-padding-h: var(--rs-unit-x5);
	--rs-button-min-size: calc(var(--rs-unit-x1) * 14);
	--rs-button-icon-gap: var(--rs-unit-x2);

	border-radius: var(--rs-unit-radius-medium);

	/* TODO: Replace with font utilities when they become available */
	font-size: var(--rs-font-size-title-3);
	line-height: var(--rs-line-height-title-3);
	font-family: var(--rs-font-family-title-3);
	font-weight: var(--rs-font-weight-title-3);
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root.--size-small--$viewport {
			--rs-button-padding-v: var(--rs-unit-x1);
			--rs-button-padding-h: var(--rs-unit-x2);
			--rs-button-min-size: var(--rs-unit-x7);
			--rs-button-icon-gap: var(--rs-unit-x1);

			border-radius: var(--rs-unit-radius-small);

			/* TODO: Replace with font utilities when they become available */
			font-size: var(--rs-font-size-body-medium-2);
			line-height: var(--rs-line-height-body-medium-2);
			font-family: var(--rs-font-family-body-medium-2);
			font-weight: var(--rs-font-weight-body-medium-2);
		}
		
		.root.--size-medium--$viewport {
			--rs-button-padding-v: var(--rs-unit-x2);
			--rs-button-padding-h: var(--rs-unit-x3);
			--rs-button-min-size: var(--rs-unit-x9);
			--rs-button-icon-gap: var(--rs-unit-x1);

			border-radius: var(--rs-unit-radius-small);

			/* TODO: Replace with font utilities when they become available */
			font-size: var(--rs-font-size-body-medium-2);
			line-height: var(--rs-line-height-body-medium-2);
			font-family: var(--rs-font-family-body-medium-2);
			font-weight: var(--rs-font-weight-body-medium-2);
		}
		
		.root.--size-large--$viewport {
			--rs-button-padding-v: var(--rs-unit-x3);
			--rs-button-padding-h: var(--rs-unit-x4);
			--rs-button-min-size: calc(var(--rs-unit-x1) * 12);
			--rs-button-icon-gap: var(--rs-unit-x2);

			border-radius: var(--rs-unit-radius-medium);
		
			/* TODO: Replace with font utilities when they become available */
			font-size: var(--rs-font-size-body-medium-1);
			line-height: var(--rs-line-height-body-medium-1);
			font-family: var(--rs-font-family-body-medium-1);
			font-weight: var(--rs-font-weight-body-medium-1);
		}

		.root.--size-xlarge--$viewport {
			--rs-button-padding-v: var(--rs-unit-x4);
			--rs-button-padding-h: var(--rs-unit-x4);
			--rs-button-min-size: calc(var(--rs-unit-x1) * 14);
			--rs-button-icon-gap: var(--rs-unit-x2);

			border-radius: var(--rs-unit-radius-medium);

			/* TODO: Replace with font utilities when they become available */
			font-size: var(--rs-font-size-title-3);
			line-height: var(--rs-line-height-title-3);
			font-family: var(--rs-font-family-title-3);
			font-weight: var(--rs-font-weight-title-3);
		}
	}
}

.root.--variant-outline {
	border-color: var(--rs-color-border-neutral-faded);

	&.--color-inherit,
	&.--color-neutral {
		color: var(--rs-color-foreground-neutral);
		background-color: var(--rs-color-background-base);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: var(--rs-color-background-neutral-faded);
			color: var(--rs-color-foreground-neutral);
		}
	}

	&.--color-primary {
		background-color: var(--rs-color-background-base);
		color: var(--rs-color-foreground-primary);
		border-color: var(--rs-color-border-primary);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: var(--rs-color-background-primary-faded);
			color: var(--rs-color-foreground-primary);
		}
	}

	&.--color-critical {
		background-color: var(--rs-color-background-base);
		color: var(--rs-color-foreground-critical);
		border-color: var(--rs-color-border-critical);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: var(--rs-color-background-critical-faded);
			color: var(--rs-color-foreground-critical);
		}
	}

	&.--color-positive {
		background-color: var(--rs-color-background-base);
		color: var(--rs-color-foreground-positive);
		border-color: var(--rs-color-border-positive);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: var(--rs-color-background-positive-faded);
			color: var(--rs-color-foreground-positive);
		}
	}

	&.--disabled {
		&,
		&:hover:not(.--loading) {
			background: var(--rs-color-background-disabled-faded);
			color: var(--rs-color-foreground-disabled);
			border-color: var(--rs-color-border-disabled);
		}
	}
}

.root.--variant-ghost {
	--rs-button-padding-h: var(--rs-button-padding-v);
	background: transparent;

	&:hover:not(.--loading),
	&.--highlighted {
		color: var(--rs-color-foreground-neutral);
		background-color: rgba(var(--rs-color-rgb-background-neutral), 0.5);
	}

	&.--color-primary {
		color: var(--rs-color-foreground-primary);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-background-primary), 0.12);
			color: var(--rs-color-foreground-primary);
		}
	}

	&.--color-critical {
		color: var(--rs-color-foreground-critical);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-background-critical), 0.12);
			color: var(--rs-color-foreground-critical);
		}
	}

	&.--color-positive {
		color: var(--rs-color-foreground-positive);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-background-positive), 0.12);
			color: var(--rs-color-foreground-positive);
		}
	}

	&.--color-white {
		color: var(--rs-color-white);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-white), 0.2);
			color: var(--rs-color-white);
		}
	}

	&.--color-black {
		color: var(--rs-color-black);

		&:hover:not(.--loading),
		&.--highlighted {
			background-color: rgba(var(--rs-color-rgb-black), 0.12);
			color: var(--rs-color-black);
		}
	}

	&.--color-inherit {
		color: currentColor;

		&:before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: var(--rs-unit-radius-small);
			transition: var(--rs-duration-fast) var(--rs-easing-standard);
			transition-property: opacity;
			background-color: currentColor;
			opacity: 0;
		}

		&:hover:not(.--loading),
		&.--highlighted {
			color: currentColor;
			background: none;

			&:before {
				opacity: 0.12;
			}
		}
	}

	&.--disabled {
		&,
		&:hover:not(.--loading) {
			&,
			&:before {
				background: transparent;
				color: var(--rs-color-foreground-disabled);
			}
		}
	}
}

.root.--rounded,
.root.--rounded:before {
	border-radius: 999px;
}

/* Full width */
.root.--full-width {
	width: 100%;
	text-align: center;
}

@each $viewport in m, l, xl {
	@media (--rs-viewport-$viewport) {
		.root.--full-width-false--$viewport {
			width: auto;
			text-align: initial;
		}

		.root.--full-width-true--$viewport {
			width: 100%;
			text-align: center;
		}
	}
}
/* /Full width */

/* Button aligner */
.aligner.--aligner-position-all .root {
	margin: calc(var(--rs-button-padding-v) * -1) calc(var(--rs-button-padding-h) * -1);
}

.aligner.--aligner-position-start .root {
	margin-inline-start: calc(var(--rs-button-padding-h) * -1);
}

.aligner.--aligner-position-end .root {
	margin-inline-end: calc(var(--rs-button-padding-h) * -1);
}

.aligner.--aligner-position-top .root {
	margin-top: calc(var(--rs-button-padding-v) * -1);
}

.aligner.--aligner-position-bottom .root {
	margin-bottom: calc(var(--rs-button-padding-v) * -1);
}
