.root {
  --uic-button-border-width: 1px;

  transition: var(--uic-duration-fast) var(--uic-easing-standard);
  transition-property: background-color, box-shadow, border-color, color,
    transform;
  padding: calc(var(--uic-button-padding-v) - var(--uic-button-border-width))
    calc(var(--uic-button-padding-h) - var(--uic-button-border-width));
  cursor: pointer;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  text-align: initial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  border: var(--uic-button-border-width) solid transparent;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--uic-font-family-body);
  font-weight: var(--uic-font-weight-medium);
  font-size: var(--uic-button-font-size);
  line-height: var(--uic-button-line-height);
  min-height: calc(
    var(--uic-button-line-height) + var(--uic-button-padding-v) * 2
  );
  min-width: calc(
    var(--uic-button-line-height) - (var(--uic-unit-x1) * 2) +
      (var(--uic-button-padding-h) * 2)
  );

  &:active {
    transform: scale(0.98);
  }
}

.loader {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.icon {
  /* Starts with 1x and then grows based on the padding size */
  margin-inline-end: var(--uic-button-icon-gap);

  &.--icon-position-end {
    margin-inline-end: 0;
    margin-inline-start: var(--uic-button-icon-gap);
  }

  /* Icon only */
  &:last-child {
    margin-inline-end: 0;
  }
}

.text,
.icon {
  position: relative;
  z-index: 5;
}

.root.--loading {
  cursor: default;

  &:active {
    transform: none;
  }

  & .text,
  & .icon {
    visibility: hidden;
  }

  & .loader {
    display: flex;
  }
}

.--elevated {
  box-shadow: var(--uic-shadow-raised);
}

.root.--icon-only {
  & .icon {
    margin: 0 calc(var(--uic-unit-x1) * -1);
  }
}

.root.--rounded {
  border-radius: 999px;
}

@responsive .--size {
  @value small {
    --uic-button-padding-v: var(--uic-unit-x1);
    --uic-button-padding-h: var(--uic-unit-x2);
    --uic-button-padding-h-ghost: var(--uic-unit-x2);
    --uic-button-icon-gap: var(--uic-unit-x1);
    --uic-button-line-height: var(--uic-line-height-body-3);
    --uic-button-font-size: var(--uic-font-size-body-3);

    border-radius: var(--uic-unit-radius-small);
  }

  @value medium {
    --uic-button-padding-v: var(--uic-unit-x2);
    --uic-button-padding-h: var(--uic-unit-x3);
    --uic-button-padding-h-ghost: var(--uic-unit-x2);
    --uic-button-icon-gap: var(--uic-unit-x2);
    --uic-button-line-height: var(--uic-line-height-body-3);
    --uic-button-font-size: var(--uic-font-size-body-3);

    border-radius: var(--uic-unit-radius-small);
  }

  @value large {
    --uic-button-padding-v: var(--uic-unit-x3);
    --uic-button-padding-h: var(--uic-unit-x4);
    --uic-button-padding-h-ghost: var(--uic-unit-x3);
    --uic-button-icon-gap: var(--uic-unit-x2);
    --uic-button-line-height: var(--uic-line-height-body-2);
    --uic-button-font-size: var(--uic-font-size-body-2);

    border-radius: var(--uic-unit-radius-medium);
  }

  @value xlarge {
    --uic-button-padding-v: var(--uic-unit-x4);
    --uic-button-padding-h: var(--uic-unit-x5);
    --uic-button-padding-h-ghost: var(--uic-unit-x4);
    --uic-button-icon-gap: var(--uic-unit-x3);
    --uic-button-line-height: var(--uic-line-height-body-1);
    --uic-button-font-size: var(--uic-font-size-body-1);

    border-radius: var(--uic-unit-radius-medium);
  }
}

@responsive .--full-width {
  @value true {
    width: 100%;
    text-align: center;
  }

  @value false {
    width: auto;
    text-align: initial;
  }
}

/* Variants and colors */

.root.--variant-solid.--color-black,
.root.--variant-solid.--color-white,
.root.--variant-faded.--color-neutral,
.root.--variant-faded.--color-primary,
.root.--variant-faded.--color-critical,
.root.--variant-faded.--color-positive,
.root.--variant-faded.--color-inherit,
.root.--variant-outline.--color-inherit,
.root.--variant-ghost.--color-inherit {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: var(--uic-duration-fast) var(--uic-easing-standard);
    transition-property: opacity;
    opacity: 0;
  }
}

.root.--variant-solid {
  &.--color-neutral {
    background-color: var(--uic-color-background-neutral);
    color: var(--uic-color-foreground-neutral);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--uic-color-background-neutral-highlighted);
    }
  }

  &.--color-primary {
    background-color: var(--uic-color-background-primary);
    color: var(--uic-color-on-background-primary);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--uic-color-background-primary-highlighted);
    }
  }

  &.--color-critical {
    background-color: var(--uic-color-background-critical);
    color: var(--uic-color-on-background-critical);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--uic-color-background-critical-highlighted);
    }
  }

  &.--color-positive {
    background-color: var(--uic-color-background-positive);
    color: var(--uic-color-on-background-positive);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: var(--uic-color-background-positive-highlighted);
    }
  }

  &.--color-white {
    --uic-button-border-width: 0px;

    background-color: var(--uic-color-white);
    color: var(--uic-color-black);

    &::before {
      background-color: var(--uic-color-black);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.04;
      }
    }
  }

  &.--color-black {
    --uic-button-border-width: 0px;

    background-color: var(--uic-color-black);
    color: var(--uic-color-white);

    &::before {
      background-color: var(--uic-color-white);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.2;
      }
    }
  }
}

.root.--variant-faded {
  &.--color-neutral {
    color: var(--uic-color-foreground-neutral);
    background-color: var(--uic-color-background-elevation-base);
    border-color: var(--uic-color-border-neutral-faded);

    &::before {
      background-color: var(--uic-color-foreground-neutral);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.04;
      }
    }
  }

  &.--color-primary {
    color: var(--uic-color-foreground-primary);
    background-color: var(--uic-color-background-primary-faded);

    &::before {
      background-color: var(--uic-color-foreground-primary);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.06;
      }
    }
  }

  &.--color-critical {
    color: var(--uic-color-foreground-critical);
    background-color: var(--uic-color-background-critical-faded);

    &::before {
      background-color: var(--uic-color-foreground-critical);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.06;
      }
    }
  }

  &.--color-positive {
    color: var(--uic-color-foreground-positive);
    background-color: var(--uic-color-background-positive-faded);

    &::before {
      background-color: var(--uic-color-foreground-positive);
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.06;
      }
    }
  }

  &.--color-inherit {
    color: inherit;

    &::before {
      background-color: currentcolor;
      opacity: 0.16;
    }

    &:hover:not(.--loading),
    &.--highlighted {
      &::before {
        opacity: 0.24;
      }
    }
  }

  &.--color-black {
    background-color: rgba(var(--uic-color-rgb-black), 28%);
    color: var(--uic-color-white);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-black), 36%);
    }
  }

  &.--color-white {
    background-color: rgba(var(--uic-color-rgb-white), 28%);
    color: var(--uic-color-black);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-white), 36%);
    }
  }
}

.root.--variant-outline {
  &.--color-neutral {
    background-color: transparent;
    color: var(--uic-color-foreground-neutral);
    border-color: var(--uic-color-border-neutral);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-neutral), 28%);
    }
  }

  &.--color-primary {
    background-color: transparent;
    color: var(--uic-color-foreground-primary);
    border-color: var(--uic-color-border-primary);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-primary), 10%);
    }
  }

  &.--color-critical {
    background-color: transparent;
    color: var(--uic-color-foreground-critical);
    border-color: var(--uic-color-border-critical);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-critical), 10%);
    }
  }

  &.--color-positive {
    background-color: transparent;
    color: var(--uic-color-foreground-positive);
    border-color: var(--uic-color-border-positive);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-positive), 10%);
    }
  }

  &.--color-white {
    background-color: transparent;
    color: var(--uic-color-white);
    border-color: var(--uic-color-white);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-white), 12%);
    }
  }

  &.--color-black {
    background-color: transparent;
    color: var(--uic-color-black);
    border-color: var(--uic-color-black);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-black), 4%);
    }
  }

  &.--color-inherit {
    background-color: transparent;
    color: inherit;
    border-color: currentcolor;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      transition: var(--uic-duration-fast) var(--uic-easing-standard);
      transition-property: opacity;
      background-color: currentcolor;
      opacity: 0;
    }

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: transparent;

      &::before {
        opacity: 0.1;
      }
    }
  }
}

.root.--variant-ghost {
  padding-left: var(--uic-button-padding-h-ghost);
  padding-right: var(--uic-button-padding-h-ghost);

  &.--color-neutral {
    background: transparent;
    color: var(--uic-color-foreground-neutral);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-neutral), 40%);
    }
  }

  &.--color-primary {
    background: transparent;
    color: var(--uic-color-foreground-primary);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-primary), 12%);
    }
  }

  &.--color-critical {
    background: transparent;
    color: var(--uic-color-foreground-critical);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-critical), 12%);
    }
  }

  &.--color-positive {
    background: transparent;
    color: var(--uic-color-foreground-positive);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-background-positive), 12%);
    }
  }

  &.--color-white {
    background: transparent;
    color: var(--uic-color-white);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-white), 8%);
    }
  }

  &.--color-black {
    background: transparent;
    color: var(--uic-color-black);

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: rgba(var(--uic-color-rgb-black), 8%);
    }
  }

  &.--color-inherit {
    background-color: transparent;
    color: inherit;

    &::before {
      background-color: currentcolor;
    }

    &:hover:not(.--loading),
    &.--highlighted {
      background-color: transparent;

      &::before {
        opacity: 0.08;
      }
    }
  }
}

.root.--disabled {
  &,
  &:hover:not(.--loading) {
    background-color: var(--uic-color-background-disabled) !important;
    color: var(--uic-color-foreground-disabled) !important;
    border-color: var(--uic-color-border-disabled) !important;

    &::before {
      opacity: 0 !important;
    }

    &.--variant-faded {
      background-color: var(--uic-color-background-disabled-faded) !important;
    }

    &.--variant-outline {
      background-color: transparent !important;
    }

    &.--variant-ghost {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &:active {
      transform: none !important;
    }
  }
}

/* Button aligner */

/* Prevent buttons inside the aligned from adding parent line-height */
.aligner {
  line-height: 0;
}

.aligner.--aligner-position-all .root {
  margin: calc(var(--uic-button-padding-v) * -1)
    calc(var(--uic-button-padding-h) * -1);
}

.aligner.--aligner-position-start .root {
  margin-inline-start: calc(var(--uic-button-padding-h) * -1);
}

.aligner.--aligner-position-end .root {
  margin-inline-end: calc(var(--uic-button-padding-h) * -1);
}

.aligner.--aligner-position-top .root {
  margin-top: calc(var(--uic-button-padding-v) * -1);
}

.aligner.--aligner-position-bottom .root {
  margin-bottom: calc(var(--uic-button-padding-v) * -1);
}
