.root {
  border: none;
  height: 1px;
  background: var(--uic-color-border-neutral-faded);
  margin: 0;
}

.--blank {
  margin-top: -1px;
}

.--vertical {
  height: 100%;
  width: 1px;
  display: inline-block;
  vertical-align: top;

  &.--blank {
    margin-top: 0;
    margin-inline-start: -1px;
  }
}

@each $viewport in m, l, xl {
  @media (--uic-viewport-$viewport) {
    .--vertical-false--$viewport {
      width: 100%;
      height: 1px;
      display: block;

      &.--blank {
        margin-top: -1px;
        margin-inline-start: 0;
      }
    }

    .--vertical-true--$viewport {
      height: 100%;
      width: 1px;
      display: inline-block;
      vertical-align: top;

      &.--blank {
        margin-top: 0;
        margin-inline-start: -1px;
      }
    }
  }
}
