.root {
  background: var(--ui-color-background-base);
  padding: var(--ui-unit-x3) var(--ui-unit-x4);
}

.--position {
  &-bottom {
    border-top: 1px solid var(--ui-color-border-neutral-faded);
  }

  &-top {
    border-bottom: 1px solid var(--ui-color-border-neutral-faded);
  }
}

@media (--ui-viewport-l) {
  .--size-large {
    padding: var(--ui-unit-x5) var(--ui-unit-x6);
  }
}
