.root {
  display: flex;
  position: relative;
  z-index: 0;
  background: var(--uic-color-background-elevation-base);
  border: 1px solid var(--uic-color-border-neutral);
  padding: calc(var(--uic-unit-x1) - 1px);
  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 0 1px var(--uic-color-border-primary);
    border-color: var(--uic-color-border-primary);
  }
}

.input {
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  background: none;
  flex-grow: 1;
  box-sizing: border-box;
  color: var(--uic-color-foreground-neutral);
  width: 100%;
  margin: calc(var(--uic-unit-x1) * -1) -50%;
  padding: 0 calc(var(--uic-text-field-gap) + 50%);
  font-weight: var(--uic-font-weight-regular);
  font-family: var(--uic-font-family-body);
}

.input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--uic-color-foreground-neutral);
}

.slot,
.icon,
.affix {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  pointer-events: none;
}

.affix {
  color: var(--uic-color-foreground-neutral-faded);
}

.attachment {
  display: flex;
  align-items: center;
}

.attachment--position-start {
  & .icon,
  & .affix {
    padding-inline-start: var(--uic-text-field-gap);
    margin-inline-end: var(--uic-unit-x1);
  }

  & .affix {
    padding-inline-end: calc(var(--uic-text-field-gap) + var(--uic-unit-x1));
    border-inline-end: 1px solid var(--uic-color-border-neutral-faded);
  }
}

.attachment--position-end {
  & .icon,
  & .affix {
    padding-inline-end: var(--uic-text-field-gap);
    margin-inline-start: var(--uic-unit-x1);
  }

  & .affix {
    padding-inline-start: calc(var(--uic-text-field-gap) + var(--uic-unit-x1));
    border-inline-start: 1px solid var(--uic-color-border-neutral-faded);
  }
}

.root.--disabled {
  border-color: var(--uic-color-border-disabled);
  background: var(--uic-color-background-disabled-faded);
  cursor: not-allowed;

  &,
  & .input {
    color: var(--uic-color-foreground-disabled);
  }
}

@responsive .--size {
  @value medium {
    --uic-text-field-gap: var(--uic-unit-x1);

    border-radius: var(--uic-unit-radius-small);

    & .input {
      padding-top: var(--uic-unit-x2);
      padding-bottom: var(--uic-unit-x2);
    }

    & .input,
    & .affix {
      font-size: var(--uic-font-size-body-3);
      line-height: var(--uic-line-height-body-3);
    }
  }

  @value large {
    --uic-text-field-gap: var(--uic-unit-x2);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      padding-top: var(--uic-unit-x3);
      padding-bottom: var(--uic-unit-x3);
    }

    & .input,
    & .affix {
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }

  @value xlarge {
    --uic-text-field-gap: var(--uic-unit-x3);

    border-radius: var(--uic-unit-radius-medium);

    & .input {
      padding-top: var(--uic-unit-x4);
      padding-bottom: var(--uic-unit-x4);
    }

    & .input,
    & .affix {
      font-size: var(--uic-font-size-body-2);
      line-height: var(--uic-line-height-body-2);
    }
  }
}

.root.--variant-faded {
  background: var(--uic-color-background-neutral-faded);
  border-color: transparent;

  &:focus-within {
    border-color: var(--uic-color-border-primary);
  }
}

.root.--variant-headless {
  background: transparent;
  border-color: transparent;

  &:focus-within,
  &.--status-error,
  &.--status-error:focus-within {
    border-color: transparent;
    box-shadow: none;
  }
}

.root.--status-error {
  border-color: var(--uic-color-border-critical);

  &:focus-within {
    border-color: var(--uic-color-border-primary);
  }
}

@media (--uic-viewport-s) and (hover: none) {
  .input {
    font-size: var(--uic-font-size-body-2) !important;
  }
}
